title Abhyankar's conjecture

introduction
    p
        | What is the goal of the seminar?
    p
        | It's up to everyone, we can obviously be flexible as we go, but:
    p
        | Understand: the meaning of Abhyankar's conjecture, get some insight on the geometric perspective on Galois groups, statements of some useful tools and theories that come up in the proof and are generally useful to know (smattering of rigid geometry, some theorems about etale maps, general stuff on char p geometry), and learn something of the proof, how can rigid geometry tell us about characteristic p geometry?
    p
        | In particular we won't go into detail on proofs of fancy things like Rigid GAGA, but we will spend the last few lectures on various stages of the proof.


section#sec-abhyankar-what-is
    title What is Abhyankar's conjecture? (Alex)

    p
        | One reference is #[url(href="https://arxiv.org/abs/1408.0859") Abhyankar's Conjectures In Galois Theory: Current Status And Future Directions] by David Harbater, Andrew Obus, Rachel Pries, And Katherine Stevenson.
        | Also: A survey of Galois theory of curves in characteristic #[m p] - Rachel Pries and Katherine Stevenson and Fundamental Groups in Characteristic #[m p] - Pete L. Clark.

    p
        | Consider the humble line, #[m \aff^1], its #[m \CC] or #[m \RR] points with the #[q classical]/analytic topology are simply connected.

        | Therefore there are no nontrivial finite covers.

    p
        | What happens in characteristic #[m p]?
    p
        | First we need to make the question precise, we need to define #[q covers] in a way that makes sense and try to define #[q topology] in a way that is non-trivial.

    p
        | It would be good to define a notion of topology that is defined algebraically, and recovers the usual fundamental group of the #[m \CC]-points for a curve over #[m \CC].


    p
        | But first are there any #[q topological] covers of the affine line in characteristic #[m p].
        | We can easily make covers, just take any curve #[m C \subseteq \aff^2 \to \aff^1].
    p
        | In general though these will be ramified, i.e. there will be points where the tangent line is perpendicular to the projection, this messes things up as Bezouts theorem will give us less geometric points. So not topological, like a parabola:
        me V(y^2 - y = x - 1) \xrightarrow{x} \aff^1
    p
        | To see where a cover is ramified  algebraically we take the derivative
        me 2y - 1 = 0
        | hence #[m y = 1/2] and so #[m x= 3/4] is a ramified point.
        | So this is ramified at #[m (3/4,1/2)] above #[m 3/4].
        | Not a topological cover!


    p
        | Hence #[m V( y = x^{3423} + 12x + 1) \xrightarrow{x} \aff^1] is an unramified cover, but it is trivial.
    p
        | In characteristic #[m p] though weirdness ensues, take characteristic #[m 2].
        | The derivative above
        me 2y - 1 = 1
        | never vanishes!
        | Hence there is no ramification locus.
        // TODO did it just move to infinity
    p
        | This can of course be generalised,
        | an #[term Artin-Schreier] cover in characteristic #[m p] is
        me y^p - y - x = 0
        | it is an unramified #[m p]-to-one cover.
    p
        | Given a topological cover the group of deck transformations of the cover gives a quotient of the fundamental group of the base.
    p
        | In the Artin-Schreier example we have a transformation of the cover given by
        me y \mapsto y + 1
        | as in characteristic #[m p] we have.
        me (y+1)^p - (y+1) - x = y^ p + 1 - 1 -y   -x = 0
        | .
        | We can iterate this, giving a cyclic group of order #[m p] as the group of deck transformations.
    p
        | This says that the #[q fundamental group of the affine line in characteristic p contains the cyclic group of order p!]
        | The line has non-trivial fundamental group.

    p
        | More generally note that
        me y^q - y - x = 0
        | for #[m q = p^n] has the same property, but now we can add any element of #[m \FF_{q}] to #[m y] so the group of deck transformations is
        me \FF_q \simeq (\ZZ/p)^n
        | we can do this for all #[m n].
        | This shows that the fundamental group of the affine line in characteristic #[m p] is not even topologically finitely generated!
        | So even the affine line in characteristic #[m p] is wilder than any punctured curve in characteristic #[m 0].


    p
        | Clearly there characteristic #[m p] gave us a #[m p]-group in the fundamental group.
        | Can we ever get anything other than a #[m p]-group?

    example
        title Abhyankar
        statement: p
            | The curve
            me y^n - a x^s y^{t} + 1 = 0 \xrightarrow{x} \aff^1
            | with #[m a \ne 0 \in k], #[m n = p + t], #[m t \not \equiv 0 \pmod p].
            | Is ramified where
            me n y ^{n-1} - a x^s ty^{t-1} =  0
            | , but
            me t y ^{n-1} - a x^s ty^{t-1} = 0
            me y ^{n-1} - a x^s y^{t-1} = 0
            | but in that case
            me (y ^{n-1} - a x^s y^{t-1})y = 0
            | which gives #[m 0 = 1]!
            | For general values of #[m t, p] this cover has automorphism group #[m A_n].



    p
        | We will define our fundamental group using these coverings, .
        | A topological covering map is one that locally looks like a homeomorphism.
        | For instance we can define a topological cover of #[m \CC \smallsetminus \{0\}] by itself using the algebraic map
        me z\mapsto z^2
        | or even
        me z \mapsto z^n
        | .
        | This works nicely as this map is locally a diffeomorphism.

    definition
        statement: p
            | An #[term étale map] is one which is flat and unramified.


    p
        | How is this number theoretic?
    p
        | There is a strong analogy between curves over finite fields, and dedekind rings, such as rings of integers of number fields
        | Both give examples of dedekind schemes, dimension 1,...
        | PICTURE.
        | Back to Weil.

    p
        | On the side of function fields we have
        me \FF_p((t)) \leftrightarrow \QQ
        | the function field of #[m \aff^1_{\FF_p}] and the function field of #[m \Spec \ZZ].
    p
        | Covers of curves give us extensions of function fields.

        | E.g. the Artin-Schreier covers on the left
    p
        | Spec of quadratic field like a hyperelliptic covering map.

    p
        | So the question of what covers we can have is like what field extensions can we have.

    p
        | More intriguingly the automorphisms of the cover, the covering group corresponds to galois automorphisms.
    p
        | On a hyperelliptic curve #[m y=\sqrt{x^3+ 1} \leftrightarrow -y] and #[m \sqrt{2}\leftrightarrow - \sqrt{2} ].

    p
        | So what covering groups translates into what Galois groups.
        | So the question, what are the galois groups of covers of #[m \aff^1_{\FF_p}] and how do they fit together is like
        | what are the possible galois groups of Galois extensions #[m K/\QQ].


    p
        | To get a handle on what Galois groups can occur, we might take inspiration from number theory where we add conditions to get a quotient group, i.e. it is known the Galois groups of abelian extensions of #[m \QQ].

    definition
        title Decomposition and Inertia groups
        statement: p
            | Given a galois cover of curves
            me \phi \colon C \to C'
            | we can fix a
            me P \in C',\,Q\in \phi \inv (P)
            | then define the #[term decomposition group]
            me D_Q  = \{f \in \Gal C {C'} : f(Q) = Q\}
            | .
            | We also define the #[term inertia group] to be the subgroup
            me I_Q \subseteq D_Q
            | that fixes the residue field.
            | For now we work over an algebraically closed field and so these are equal.

    example
        statement: p
            | Consider curves over #[m \QQ]
            me V(y^2 = x) \xrightarrow{x} \aff^1
            | this is a (ramified at 0) double cover, with Galois group #[m C_2] given by #[m y \mapsto -y].
            | Given #[m 2 \in \aff^1], the preimage is the set of closed point
            me \{ (y^2 - 2)\}
            | so there is only one preimage and the decomposition group is everything, however the morphism on the residue field
            me \QQ(\sqrt 2)
            | is nontrivial, so the inertia group is trivial.

    p
        | Note that our maps are etale covers of #[m \aff^1], but this allows the ramification to still be at infinity.
        | We complete an affine curve to obtain a proper one with the same function field.
        | In this case
        me \aff^1 \subseteq \PP^1
        |.
        | In general denote this as
        me C \leadsto \overline C
        | and call the points of
        me \overline C \smallsetminus C
        | #[q at infinity].


    definition
        statement: p
            | When over a field of characteristic #[m p], ramification at a point #[m P] is called #[term tame] when
            me p\nmid |I_P|
            | , in characteristic #[m 0] we say it is #[m p]-tame if the same holds.

    p
        | We then define
        me \pi_1^{p-tame}(C) = \varprojlim_{C' \to C\text{tame ram. abv. } \overline C - C} \Gal {C'}{C}
        | and likewise
        me \pi _1^t
        | .

    theorem
        statement: p
            | Let #[m X] be curve over #[m k] and #[m \mathcal X] a lift to characteristic 0 then
            me \pi _1^{p-tame} (\mathcal X - \mathcal S) \twoheadrightarrow \pi _1^t(X-S)
            | and their quotients by the unions of their #[m p]-Sylows
            me \pi _1^{p-tame} (\mathcal X - \mathcal S)\simeq \pi _1^t(X-S)
            | .

    p
        | Seeing as we #[q understand] fundamental groups of curves in characteristic zero, punctured riemann surfaces so generated by
        me 2g + |S| - 1
        | loops.
        | This result implies that after we get rid of #[m p]-Sylow stuff we should end up with just those generators.

    theorem#thm-abhyankar-aff
        title Abhyankar's conjecture for #[m \aff^1]
        statement: p
            | Let #[m G] be  such that #[m G/p(G)] (the quotient by the subgroup generated by its #[m p]-Sylow subgroups) is trivial (we say #[m  G] a quasi-#[m p] group).
            | Then there exists an étale cover of #[m \aff^1] with Galois group #[m G].

    p
        | What does it mean to be generated by #[m p]-Sylow? Its complicated, but for instance
        me S_n
        | is generated by transpositions and
        me A_n
        | is generated by 3-cycles. So #[m S_n] is quasi-#[m 2], and #[m A_n] is quasi-#[m 3].
    p
        | Meanwhile #[m S_n] is not solvable for #[m n \ge 5] (hence the general quintic isn't, Abel-Ruffini).
    p
        | More generally we can generate #[m A_n] for #[m n\ge 5] with the subgroup of #[m p]-cycles for any #[m p \le n] as it is simple and the subgroup is normal.
    p
        | Another example is #[m \SL_n(\FF_p)] which is quasi-#[m p] (as it is generated by elementary matrices?), #[m \PSL_n(\FF_p)] is simple for large enough parameters. TODO What about swapping????
    p
        | Even more generally any finite simple group for which #[m p] divides the order is a quasi-#[m p]-group.
    p
        | For instance therefore we should be able to find a monster group cover of the affine line when
        me p\in\{ 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 41, 47, 59, 71\}
        |, (these are the super famous so called supersingular primes).


    p
        | What can we not do then?
    example
        statement: p
            | The group
            me \ZZ/p \times \ZZ/q
            | for primes #[m p\ne q] is not quasi-#[m p] or quasi-#[m q], thus even though it is abelian, solvable and easy to make as a Galois group over #[m \QQ] we cannot obtain it here.


    theorem#thm-abhyankar
        title Abhyankar's conjecture
        statement: p
            | Let #[m G] be a finite group such that #[m G/p(G)] (the quotient by the subgroup generated by its Sylow subgroups) is generated by #[m t] elements.
            | Let #[m X/\FF_p] be a smooth projective curve of genus #[m g], #[m S\subset X] a finite set of points with
            me 2g + |S| - 1 \ge t
            | .
            | Then there exists an etale cover of #[m X\smallsetminus S] with Galois group #[m G].

    remark
        p
            | This conjecture implies the first, taking #[m t = 0] we have #[m g = 0], #[m S = \{\infty \}] and
            me 0 + 1 -1 = 0
            | .
        p
            | Note that it is tight also we cannot remove #[m t \gt 0] points.


    example
        statement: p
            | Over a once-punctured affine line we can now make non-quasi-#[m p]-groups as long as they aren't too far.
            | For instance we can make #[m \ZZ/\ell] for any #[m \ell \ne p] as
            me V(y^\ell  - x) \xrightarrow{x} \aff^1
            | .
            | This has the right Galois  group and is ramified only at #[m 0, \infty ].

    example
        statement: p
            | But we can't get #[m \ZZ/\ell \times \ZZ/\ell] without adding another ramification point.

    example
        statement: p
            | We can stack an Artin-Schreier extension on a Kummer
            me x_1^\ell = x
            me y^p - y = x_1^d
            | with #[m \ell | (p-1)], #[m p\nmid d], #[m \ell\nmid d].
            | Giving a degree #[m \ell p] cover. We then have automorphisms
            me \tau  \colon  x_1\mapsto x_1,\, y \mapsto y + 1
            me  \sigma \colon  x_1\mapsto \zeta _\ell x_1,\, y \mapsto \zeta _\ell^d y
            | but
            me \sigma \tau \sigma^{-1}(y)=y+\zeta_{\ell}^{-d} \neq \tau(y)
            | so the Galois group is the semidirect product
            me \mathbb{Z} / p \rtimes \mathbb{Z} / \ell
            | .
            | Above #[m \infty ] this is totally ramified, so #[m D_\infty  = G]. Is a non-cyclic decomposition group!



    p
        | Why might you care?
        | Spiritual connection to (one of the) most important questions in number theory, what is
        me \absgal \QQ
        | conjectured that every finite group appears as a quotient, the inverse Galois problem.
    p
        | This is proved for solvable groups by Shafarevich, and many other inst resting examples of simple groups.
    p
        | Here the analogous question is what is
        me \varprojlim_{S} \pi _1(\PP^1\smallsetminus S) \simeq \operatorname{Gal}\left(k(\PP^1)^{\operatorname{sep}} / k(\PP^1)\right)
        | ?
        | Where we allow more and more ramification.
    p
        | Or changing base for #[m X] a proper curve
        me \varprojlim_{S} \pi _1(X\smallsetminus S) \simeq \operatorname{Gal}\left(k(X)^{\operatorname{sep}} / k(X)\right)
        | ?
    p
        | That of what is
        me \pi _1^\et(\aff^1)
        | is more like what is
        me \Gal{\QQ_{\{2\}}}\QQ
        |. Where #[m \QQ_{\{2\}}] is the maximal extension of #[m \QQ] ramified at 2 only.


    conjecture
        title Abhyankar's Inertia Conjecture
        statement: p
            | Let #[m G] be a finite quasi-#[m p] group. Let #[m G_{0}] be a subgroup of #[m G] which is an extension of a cyclic group of order prime-to-p by a p-group #[m G_{1}]. Then #[m G_{0}] occurs as an inertia group for a #[m G] - Galois cover of the projective line branched only at #[m  \infty ]  if and only if the conjugates of #[m G_1] generate #[m G]

    p
        | The motivation for this comes from the fact that in characteristic 0 the inertia groups generate the Galois  group.

    p
        | If #[m K] is a finite field, then its algebraic closure #[m \bar K] is an infinite Galois extension of #[m K] whose finite subextensions all have cyclic Galois groups over #[m K]. This suggests that replacing the algebraically closed field of constants #[m k] by a finite subfield #[m K] adds a generator to the fundamental group of an affine curve, somewhat like the effect of deleting a point. This perspective motivated:


    conjecture
        title Abhyankar's Affine Arithmetical Conjecture
        statement: p
            | A finite group #[m G] occurs as the Galois group of an unramified cover of the affine line over #[m \FF_{p}] if and only if it occurs as the Galois group of an unramified cover of #[m \aff_{k}^{1}-\{0\}] (in other words, if and only if #[m G / p(G)] is cyclic).


    p
        | Both of these last two conjectures remain open I believe.
        | Some examples for the former in Muskat, Jeremy, and Rachel Pries. “Alternating Group Covers of the Affine Line.” Israel Journal of Mathematics 187, no. 1 (January 2012): 117–39. https://doi.org/10.1007/s11856-011-0165-7.]


    //p.
        Aside: the zbmath review for  Serre's proof is nice:
        Let K be an algebraically closed field of characteristic #[m p\gt 0]. In the paper Coverings of algebraic curves, Am. J. Math. 79, 825-856 (1957; Zbl 0087.036), S. Abhyankar proved that the automorphism group of an étale Galois cover of the affine line over K is generated by its #[m p]-Sylow subgroups and conjectures that the converse should be true, namely that if a finite group G is generated by its p-Sylow subgroups then there exists an étale Galois cover of the affine line over K with Galois group G.

        The author proves a weaker form of this conjecture, i.e. the following theorem: Let G be a finite group that is generated by its p-Sylow subgroups, let N be a normal subgroup of G and let G be the quotient group #[m G/N]. Assume that N is solvable and that G is the Galois group of an étale cover of the affine line. - Under these assumptions there exists an étale Galois cover of the affine line over K with Galois group G.

        In particular, this result implies Abhyankar’s conjecture for a solvable group.



section#sec-abhyankar-ramification
    title Ramification of curves (John)


    p
        | Two main references:
        |  P. A. Castillejo, Grothendieck-Ogg-Shafarevich formula for #[m \ell]-adic sheaves, Master Thesis (2016). #[url(href="http://www.mi.fu-berlin.de/users/castillejo/docs/160429_Master_GOS_formula_l-adic_sheaves.pdf")].
        | Lars Kindler, Kay Rülling Introductory course on #[m \ell]-adic sheaves and their ramification theory on curves. #[url(href="https://arxiv.org/pdf/1409.6899.pdf")]
        | Also: Fundamental Groups in Characteristic #[m p] - Pete L. Clark.
        | Takashi Saito: Intro to wild ramification of schemes and sheaves.

    p
        | Interested in ramification of #[m \AA^1] in characteristic #[m p]. This is interesting because of wild ramification, which we will talk about today.

    theorem
        title Grothendieck
        statement: p
            | There exists a canonical surjection
            me sp\colon \pi _1(C_{\bar\eta}) ^{tame} \to \pi _1(C/k)^{tame}
            | where
            me C_{\eta}
            | is the generic fibre for a lift of #[m C/k] over a complete local noetherian ring with residue field #[m k].

    theorem
        statement: p
            | For #[m \mathcal F] a lisse #[m \overline \QQ_\ell]-sheaf on #[m U] (a curve over a perfect field of characteristic #[m p \ne \ell]).
            me \chi _c ( U, \mathcal F) =  \rk (\mathcal F) \chi _c(\overline U, \overline \QQ_\ell) - \sum_{x \in C\smallsetminus U} \lb  k(x) : k\rb ]\operatorname{Swan}_x(\mathcal F)
            | #[m C] is the compactification of #[m U].
            me \overline U = U \otimes_k \overline k
            me \chi  _c(\overline U, \mathcal F) = \sum_{i=0}^2 (-1)^i \dim H_c^i(\overline U_\et, \mathcal F)
            | .


    p
        | Let #[m K] be a complete local field.

    definition
        statement: p
            | Let #[m L/K] be a finite Galois  ext. let
            me G = \Gal L K
            | and for #[m i\ge -1]
            me G_i  = \{ \sigma  \in G : \sigma \text{ acts trivially on }B/\ideal m L ^{i+1}\}
            | where #[m B = \ints_L], and #[m \ideal m_L] is the maximal ideal.
    p
        | Problem: this numbering only behaves well w.r.t. subgroups not quotients.
    proposition
        statement: p
            | If #[m H \subset G], then
            me H_i = H \cap G_i
            | .
    proposition
        statement: p
            me G_{-1} = G
            me G_{0} = \text{inertia}
            me G_{0}/G_1 = \text{tamely ramified part}
            me G_1 \ne 0 \iff L/K \text{ is wildly ramified}
            me i\ge 1,\,G_i \text{ are }p\text{-groups}

    definition#def-herbrand-fn
        title Herbrand function
        statement: p
            | Let #[m G_u = G_{\lceil u \rceil}] then we define
            me \phi _{L/K} \colon  \lb -1,\infty ) \to \lb -1 , \infty )
            me \phi _{L/K}(u) = \int_0^u \frac{\diff t}{(G_0 : G_t)}
            | if #[m t\in (-1,0)] let #[m (G_0: G_t)  = 1],
            | if #[m t=-1] let #[m (G_0: G_t)  = 1/f],
            | in particular #[m u \in \ZZ_{\ge 0}]
            me 1 + \phi _{L/K}(u) = \frac{1}{|G_0|} \sum_{i=0}^u |G_i|
            | the formula arises from computing the image of #[m G_i] in #[m G/H] for
            me H \triangleleft G
            | .


    proposition
        statement: p
            me H \triangleleft G
            | for all #[m u \in \RR_{\ge -1}]
            me G_uH/H = (G/H)_{\phi_{L/L^H}}(u)
            | .

    definition
        statement: p
            | Let #[m \psi _{L/K} = \phi \inv_{L/K}] for #[m u \in \RR_{\ge -1}]
            me G^u = G_{\psi _{L/K}}(u)
            | .

    example
        title
            | Artin-Schreier
        statement: p
            me L = K\lb t \rb /(t^{p^n}  - t - x^{-m})
            | with #[m (m,p) = 1] where #[m K = k ((x )) ],
            | lower numbering
            me \ZZ/p^n  = G_0 = \cdots = G_m \supsetneq G_{m+1} = 0
            me \phi _{L/K} (u) = \begin{cases}  u \amp \text{ if } 0 \le u \le m\\ m + \frac{u-m}p \amp \text{ if }u \gt m\end{cases}
            | so
            me \psi _{L/K} (v)  = \begin{cases} v \amp \text{ if } 0 \le v \le m\\ p(v-m) + m \amp \text{ if } v \gt m \end{cases}
            | .

    theorem
        title Hasse-Arf
        statement: p
            | If #[m G] is abelian, then the jumps in the upper numbering filtration are all at integers.

    p
        | The point being:

    proposition
        statement: p
            | If #[m H \triangleleft G] we have
            me G^u / (H\cap G^u ) = (G/H)^u
            | .

    p
        | #[m L/K], #[m x] a uniformizer
        me i_G \colon  G \to \ZZ_{\ge 0} \cup\{\infty \}
        me \sigma  \mapsto v_L(\sigma (x) - x)
        | .
    theorem
        statement: p
            me.
                a_G(g) = \begin{cases}
                - fi_G(g) \amp\text{ if } g \ne 1\\
                f\sum_{g' \ne 1} i_G(g') \amp\text{ if } g = 1
                \end{cases}
            | is a character of a #[m G]-representation over #[m \CC].

    definition
        statement: p
            me \mathrm{sw}_G = a_G - (r_G - r_{G/G_0})
            | where #[m r_G] is the character of the regular representation of #[m G]
            | If #[m L/K] is totally ramified then
            me \mathrm{sw}_G = a_G - u_G
            | where
            me u_G = r_G - \mathrm{triv}_G
            | .

    theorem
        statement: p
            | If #[m \ell ] is a prime not equal to the residue characteristic of #[m K], then
            ol
                li #[m a_G] and #[m \mathrm{sw}_G] are realisable over #[m \QQ_\ell]
                li
                    | There exists a f.g. projective left #[m \ZZ_\ell \lb G\rb]-module #[m \mathrm{Sw}_G] unique up to iso. such that
                    me \mathrm{Sw}_G \otimes \ZZ_\ell \QQ_\ell
                    | is isomorphic to the Swan representation.
            | reference: Serre, Linear representations of finite groups.


    p
        | Fix #[m K^{sep} /K] with #[m K] having residue field #[m k] and #[m \characteristic (k) = p \gt 0]. #[m k] perfect, #[m \ell \ne p] prime.
    p
        | #[m E/ \QQ_\ell] finite extension and
        me \rho\colon G_K \to \GL(V)
        | for #[m V] fin. dim. vector space #[m /E].
    definition
        statement: p
            me P_K \subset G_K = \Gal{K^{\sep}}{K}
            | the wild ramification subgroup is the closed pro-#[m p]-group
            me \varprojlim_{L/K} \Gal L K _1
            | .
    definition
        statement: p
            | Let #[m R] bee a commutative ring and
            me \rho\colon G_K \to \GL_n(R)
            | a group homomorphism, then we say:
            ol
                li
                    | #[m \rho] is unramified if 
                    me \underbrace{G_K^0}_{\varprojlim \Gal L K ^0} \subseteq \ker \rho
                    | .
                li
                    | #[m \rho] is tamely ramified if 
                    me P_K\subseteq \ker \rho
                    | .
                li
                    | #[m \rho] is wildly ramified otherwise.


    lemma
        statement: p
            | Let #[m G] be a compact group
            me \rho\colon G \to \GL (V)
            | a continuous representation over #[m E], then there exists a free #[m \ints_E]-module #[m \mathcal V \subseteq V] s.t.
            me V = \mathcal V \otimes E
            | and #[m \rho] factors as
            me \rho\colon G \to \GL(\mathcal V) \to \GL(V)
            | .


    definition
        statement: p
            | If #[m \lambda] is a local parameter of #[m \ints_E] and
            me \rho\colon G_K \to \GL(\mathcal V)
            | is a representation over #[m \ints_E]. The composition
            me \bar \rho \colon G_K \to \GL(\mathcal V) \to \GL(\overline V)
            | where #[m \overline V =\mathcal V / \lambda\mathcal V] is the reduction modulo #[m \lambda] of #[m \rho].
            | #[m \bar \rho ] is  a #[m \FF_\lambda = \ints_E / \lambda]-rep.

    lemma
        statement: p
            | If #[m P] is a pro-#[m p]-group and
            me \rho\colon P \to \GL_r(\ints_E)
            | is a continuous representation. Then the image of #[m \rho] is finite and
            me \rho(P) \cap \ker(\GL_r(\ints_E) \twoheadrightarrow \GL_r(\FF_\lambda)) = \{1\}
            | .

    corollary
        statement: p
            | #[m \rho] is tame if and only if #[m \bar \rho ] is tame.

    paragraphs
        title Wild ramification

        definition
            statement: p
                me \rho\colon G_K \to \GL(\mathcal V)
                | be a continuous representation where #[m \mathcal V] is a free #[m \ints _E]-module.
                | Let #[m G = G_K/ \ker(\bar \rho)] correspond to #[m L/K].
                | Consider the swan representation over #[m \ZZ_\ell] of #[m G]
                me b(\rho) = b(\mathcal V) = \dim_{\FF_\lambda} \Hom_{\FF_\lambda\lb G\rb }(\mathrm{Sw}_G \otimes_{\ZZ_\ell} \FF_\lambda ,  \bar \rho)
                | .

        remark: p
            | #[m b(\mathcal V)] depends only on the class of #[m \mathcal V] in the Grothendieck ring #[m R_{\FF_\lambda}(G)].
        remark: p
            | If #[m \rho] factors through a finite quotient then 
            me b(\rho) = \dim_{\FF_\lambda} \Hom_{\FF_\lambda\lb G\rb }(\mathrm{Sw}_G \otimes_{\ZZ_\ell} \FF_\lambda ,  \bar \rho)
            me         = \dim_{E          } \Hom_{E          \lb G\rb }(\mathrm{Sw}_G \otimes_{\ZZ_\ell} E, \rho\otimes E)

        proposition
            statement: p
                me G = G_K/ \ker(\bar \rho)
                | then
                me b(\mathcal V) = \sum_{i=1}^\infty \frac{|G_i|}{|G_0|} \dim_{\FF_\lambda} (\overline {\mathcal V} / \overline {\mathcal V}^{G_i})A
                | .
        proposition
            statement: p
                | If #[m \rho \colon G_K \to \GL_r(\ints_E)] is a continuous representation then TFAE:
                ol
                    li #[m \rho \otimes E \colon G_K \to \GL_r(\ints_E) \hookrightarrow \GL_r(E)]
                        | is tame
                    li #[m \rho] is tame
                    li #[m \bar \rho] is tame
                    li #[m b(\mathcal V) = 0]

        p
            | Swan conductor.
        p
            | Break decomposition
        lemma: statement: p
            | #[m \lambda \in \RR_{\ge 0 }],
            me G_K^{\lambda+} = \overline{\bigcup_{\lambda'  \gt \lambda} G_K^{\lambda'}}
            | then the upper numbering filtration satisfies
            ol
                li
                    me \bigcap_{\lambda\gt 0} G_K^\lambda = \{1\}
                li
                    me \lambda\gt 0,\, G_K^\lambda = \bigcap_{0 \lt \lambda' \lt \lambda} G_K^{\lambda'}
                li
                    me P_K = G_K ^{0+}


        definition
            statement: p
                | #[m P_K]-modules are #[m \ZZ \lb 1/p\rb]-modules #[m M] with a morphism
                me \rho\colon P_K \to \Aut_\ZZ(M)
                | which factors through a finite discrete quotient.
                | Morphisms are #[m \ZZ\lb1/p\rb]-module morphisms that respect the factoring.
        proposition
            statement: p
                | #[m M] is a #[m P_K]-module. Then
                | There is a unique decomposition
                me M = \bigoplus _{x\in \RR_{\ge 0}} M(X)
                | of #[m P_K]-modules s.t.
                me M(0) = M^{P_K}
                me M(x)^{G^x}) = 0
                | for #[m x \gt 0], and for #[m x,y     \in \RR_{\ge 0}]
                me M(x) ^{G^y} = M(x)
                | for #[m x \gt y],
                me M(x) = 0
                | for all but fin many #[m x].
                me M \to M(x)
                | is an exact endofunctor on #[m P_K]-modules.

        corollary
            statement: p
                | Let #[m A ] be a #[m \ZZ]-algebra, #[m M] be an #[m A]-module, with a  #[m P_K]-action, that factors through a finite quotient:
                | Then
                ul
                    li
                        | for a break decomposition of #[m M], #[m M(x)] is an #[m A]-module.

                    li
                        | for #[m B] an  #[m A]-algebra a break decomposition of #[m M\oplus B] is #[m \bigoplus (M(x) \oplus B)].
                    li
                        | if #[m A ] is local noetherian and #[m M] is a free #[m A]-module of finite rank, then #[m M(x)] is also free of finite rank for all #[m x].

        definition#def-swan-conductors
            title Swan conductors
            statement: p
                | A local noetherian #[m \ZZ\lb 1/p\rb ]-algebra #[m M] as above.
                | The #[term Swan conductor] is
                me \operatorname{Swan}(M) = \sum_{x\ge 0} x  \rank_A(M(x))
                | for representations over fields
                me \operatorname{Swan}(V) = \sum_{x\ge 0} x \dim_A(M(x))
                | .

        proposition
            statement: p
                ul
                    li
                        me \operatorname{Swan}(M) = 0
                        | iff #[m P_K] acts trivially on #[m M].
                    li
                        | For #[m V = \mathcal V \otimes E] we get #[m V(x) = \mathcal V (x) \otimes E] and #[m \operatorname{Swan}(V) = \operatorname{Swan}(\mathcal V)]

                    li
                        | Similarly
                        me \operatorname{Swan}(\mathcal V) = \operatorname{Swan}(\overline{\mathcal V})
                        | .

section#sec-abhyankar-coho-interlude
    title A cohomological interlude (Ricky)

    introduction
        p
            | Overview:
            ol
                li Introduction
                li Etale cohomology
                li Artin-Schreier covers and consequences

    subsection
        title Introduction

        p
            | #[m k = \bar k] field of char #[m p].

        conjecture
            title Abhyankar
            statement: p
                | Let #[m G] be a finite group, and
                me p(G)
                | the subgroup generated by #[m p]-Sylows.
                | Then
                ol
                    li
                        | #[m G] is a quotient of
                        me \pi _1(\aff^1, 0)
                        | iff
                        me G = p(G)
                        | .
                    li
                        | #[m G] is a quotient of
                        me \pi _1(\GG_m,1)
                        | iff
                        me G / p(G)
                        | is cyclic of order prime to #[m p].

        p
            | Let #[m G] be a profinite group, and #[m G(p)] the maximal closed quotient of #[m G] which is pro-#[m p].

        paragraphs
            title Goal
            p
                | Let #[m K = k((t\inv ))], then there is an isomorphism
                me G_K(p)\xrightarrow\sim \pi _1(\aff^1, 0)(p)
                |.


    subsection
        title Etale cohomology and #[m \pi _1^\et] (for curves)

        definition#def-abhyankar-cover
            title Covers
            statement: p
                | Say a morphism of schemes
                me Y \to X
                | is a #[term cover] if it is finite etale.
                | We say that it is #[term Galois] with group #[m G] if it is locally of the form
                me \bigsqcup_{\sigma \in G} U_\sigma  \to U
                | with #[m U_\sigma  \simeq U].


        p
            | Normally we study
            me X_{Zar} = \{ U \to X \text{ open immersion}\}
            | where the morphisms are commuting triangles of such maps.
        p
            | #[q Classical] sheaves on #[m X] are
            me \sheaf F_{new} (U \to X) = \sheaf F_{old}(U)
            | .
        p
            | We can create more #[q exotic] topologies on #[m X] by changing this category
            me X_\et = \{ U \to  X \text{ etale}\}
            | .
            | We have sheaves on this topology as before.

        p
            | Still study sheaf cohomology in this context,
            me R^i \Gamma _\et \sheaf F = H_\et^i(X, \sheaf F)
            | morally:
            me H^i_\et(X, \sheaf F)
            | is made to mimic
            me H^i_\sing (X(\CC)_{top}, \sheaf F)
            | .
        p
            | We have as usual
            me H^1_\et(X, \FF_p) \simeq \Hom_{cts} (\pi _1^\et(X, \bar x), \FF_p)
            | .
        p
            | Here #[m \pi _1^\et(X, \bar x)] classifies connected covers of #[m X]: start with
            me  \left\{\lb  (X_i,x_i) \xrightarrow{f_i} (X, \bar x)\rb _{i\in I}\text{ Galois etale covers}\right\}
            | then
            me \pi _1^\et(X, \bar x) = \varprojlim _{i\in I} \Aut_{(X, \bar x)} (X_i, x_i)
            | .
        p
            | Elements of
            me \Hom_{cts} (\pi _1^\et(X, \bar x), \FF_p)
            | are either zero (trivial cover) or an isomorphism of a finite quotient of #[m \pi_1^\et(X, \bar x)] with #[m \FF_p] (a Galois cover with group #[m \FF_p]).

        p
            | Given a SES of  sheaves on  #[m X_\et]
            me 0\to \sheaf F_1\to \sheaf F_2\to \sheaf F_3 \to 0
            | we get a LES
            me 0 \to H^0_\et(X, \sheaf F_1) \to H^0_\et(X, \sheaf F_2)\to H^0_\et(X, \sheaf F_3) \to H^1_\et(X, \sheaf F_1) \to H^1_\et(X, \sheaf F_2)\to H^1_\et(X, \sheaf F_3) \to \cdots
            | .

    subsection
        title Artin-Schreier covers and consequences

        subsubsection
            title Cohomological computations



            p
                | We have a map
                me \wp \colon \aff^1_k \to \aff^1_l
                me t \mapsto t^p - t
                | since
                me \wp ' (t ) = - 1
                | this is a cover.
            p
                | The kernel of this map (of group varieties) is then
                me \Spec (k\lb t\rb /(t^p-  1)) \simeq (\Spec k)^p
                me \simeq (\FF_p)_k
                | .
            p
                | We can upgrade this to a SES of sheaves on any #[m X/k]
                me 0 \to (\FF_p)_k\to \GG_{a,k}\xrightarrow\wp \GG_{a,k}\to 0
                | .


            lemma
                title 1.3
                statement: p
                    ol
                        li
                            | #[m X/k] finite type scheme then there exists a short exact sequence
                            me 0 \to \Gamma (X, \sheaf O_X) / \wp \Gamma (X, \sheaf O_X) \to H^1_\et(X, \FF_p) \to \ker(H^1_{Zar}(X, \sheaf O_X) \xrightarrow{\wp} H^1_{Zar}(X,\sheaf O_X)) \to 0
                        li: p
                            | If #[m X = \Spec A /k] then
                            ol
                                li
                                    me H^0 _\et(X, \FF_p) = \ker(A\xrightarrow \wp A)
                                li
                                    me H^1 _\et(X, \FF_p) = A/\wp A
                                li
                                    me H^q _\et(X, \FF_p) = 0\text{ for }q \ge 2
                        li
                            | For #[m X/k] a projective curve
                            me H^q _\et(X, \FF_p) = 0\text{ for }q \ge 2
                            |.

                proof
                    ol
                        li
                            | Use fact from SGA 1
                            me H_{Zar}^q(X, \sheaf O_X) = H_{\et}^q(X, \GG_a)
                            | use the LES associated to Artin-Schreier sequence

                            me 0 \to H^0_\et(X, \FF_p) \to H^0_\et(X, \GG_a)\to H^0_\et(X,\GG_a) \to H^1_\et(X, \FF_p) \to H^1_\et(X, \GG_a)\to H^1_\et(X, \GG_a) \to \cdots
                            | swap #[m \et] for #[m Zar].

                        li
                            | Follows from first part using
                            me H^q_{Zar}(\Spec A, \sheaf O_{\Spec A}) = \begin{cases} A \amp \text{if } q =0\\0 \amp \text{otw}\end{cases}

                            | .

            p
                | For instance
                me H^1_\et(\aff^1_k, \FF_p ) = k\lb t\rb / \wp k\lb t\rb 
                | we have
                me k\lb t\rb  \hookrightarrow k ((t \inv)) = K
            lemma
                statement: p
                    | This induces an isomorphism on
                    me H^1_\et(\aff_k^1, \FF_p) \xrightarrow\sim H^1_\et(\Spec K, \FF_p)
                    | .
                proof: p
                    | View #[m K] as
                    me k \lb t \rb  \hookrightarrow K = k\lb t\rb \oplus t\inv k \lb \lb t\inv \rb \rb 
                    | check that #[m \wp] preserves this decomposition and using Hensel's lemma
                    me \wp(t\inv  k \lb \lb t\inv \rb \rb ) = t \inv k \lb \lb t\inv  \rb \rb 
                    | so we get
                    me H_\et^1 = k\lb t\rb  / \wp k\lb t\rb 
                    | .

            p
                | Cohomological dimension of #[m \pi _1].

            definition
                statement: p
                    | Let #[m p ] be prime and  #[m G ] profinite then
                    me cd_p (G) =  \sup \lb   n : \exists\text{discrete finite }G\text{-module }A\text{ killed by }p \text{ s.t. }H^n(G, A) \ne 0\}
                    | .

            fact: statement: p
                | #[m G] a #[m p]-adic analytic group, compact of dimension #[m n] then
                me cd_p(G) = n
                | .

            lemma
                statement: p
                    me cd_p(G) \le 1 \implies cd_p(G(p)) \le 1
                    | .

            proposition
                statement: p
                    | #[m X = \Spec A/k] connected (or projective) then
                    me H^1(\pi _1(X, \bar x) , \FF_p) \xrightarrow \sim H^q_\et(X, \FF_p)
                    me cd_p(\pi _1(X, \bar x)) \le 1 \implies cd_p(\pi _1(X, \bar x)(p)) \le 1
                    | also #[m \pi _1(X, \bar x) (p)] is a free pro-#[m p]-group.

            proposition
                statement: p
                    | Let #[m f\colon G_1\to G_2] be a continuous map of pro-#[m p] groups which are free.
                    | Then
                    me f\text{ is an isomorphism} \leftrightarrow f^* \colon  H^1(G_2, \FF_p) \to H^1(G_1, \FF_p)
                    | is an isomorphism.

            proposition
                statement: p
                    | #[m K = k(( t\inv ))], the map
                    me \pi _1^\et(\Spec K) = G_K \to \pi _1^\et(\aff^1, 0)
                    | induces an isomorphism
                    me G_K(p) \xrightarrow \sim \pi _1^\et(\aff^1, 0)(p)
                    | .
                proof
                    p
                        | We have an isomorphism
                        me H^1_\et(\aff^1_k , \FF_p) \xrightarrow \sim H^1_\et(\Spec K, \FF_p)
                        | which descends to
                        me H^1(\pi _1^\et(\aff^1_k)(p) , \FF_p) \xrightarrow \sim H^1(G_ K(p), \FF_p)
                        | so use above theorem.

section#sec-abhyankar-serre
    title Serre's proof in the solvable case (Angus)

    p
        | #[m k = \bar k] field of char #[m p \gt  0].


    definition#def-quasi-p-group
        statement: p
            | A #[term quasi <m>p</m>-group] is a group that is generated by its Sylow-#[m p] subgroups.


    p
        | Let #[m \Pi(\aff^1)] be the set of groups occurring as Galois groups of covers
        me  X \to \aff^1
        | .

    theorem
        title Abhyankar
        statement: p
            | #[m G \in \Pi(\aff^1) \implies G] is a quasi-#[m p] group.

    conjecture
        title Abhyankar
        statement: p
            | #[m G] is a quasi-#[m p] group #[m \implies] #[m G \in \Pi(\aff^1) ].


    p
        | Today we will prove this when #[m G] is solvable.

    definition#def-abhy-solvable-group
        title Solvable groups
        statement: p
            | A group #[m G] is called #[term solvable] if there exists a series
            me G = G_{k}  \triangleright G_{k-1}\triangleright \cdots \triangleright G_0 = 1
            | such that each #[m G_k/G_{k-1}] is abelian.

    p
        | Reminders/background:
        me \{\text{covers } X\to \aff^1 \text{ w/ gal. gp. }G\}
        me \updownarrow
        me \{L/k(T) : \text{Gal. extn. w/ gp. }G\text{ unram. outside }\infty \}
        me \updownarrow
        me \{\text{surjections }\pi _1^\et(aff^1) \twoheadrightarrow G\}
        | .

    p
        | Fixing #[m \bar x\in X] we have an equivalence of categories
        me \{\text{loc. const. }\FF_\ell\text{-sheaves on }X\text{ w/ finite stalks}\}
        me \updownarrow
        me \{\text{finite dim. }\pi _1^\et(X, \bar x)\text{ reps over }\FF_\ell\}
        | given by
        me \sheaf F \mapsto \sheaf F_{\bar x}
        | .
    p
        | Etale cohomology satisfies:
    p
        | Exactness axiom:
        | Let #[m Z\subseteq X] a closed subscheme with #[m U = X\smallsetminus Z].
        | Let
        me \Gamma _Z (X, \sheaf F) = \ker(\Gamma (X, \sheaf F) \to \Gamma (U, \sheaf F))
        | the right derived functor of
        me \Gamma _Z(X, -)
        | is
        me H^* _Z(X, -)
        | the cohomology with support on #[m Z].
        | Then we have a LES
        me \cdots \to H_Z^i(X, \sheaf F) \to H^i(X, \sheaf F) \to H^i(U, \sheaf F) \to H_Z^{i+1}(X, \sheaf F)\to \cdots

        |.

    p
        | For #[m X] an affine curve, #[m \pi _1(X)] has cohomological dimension #[m \le 1].
        | In particular given a surjection
        me \pi _1(X) \twoheadrightarrow G/H
        | we can lift to a map
        me \pi _1(X) \to G
        |.
    theorem
        title Serre
        statement: p
            | Let #[m \widetilde G] be a quasi-#[m p] group and #[m N] a normal subgroup with #[m G = \widetilde G/N], if #[m G \in \Pi(\aff^1)] and #[m N] is solvable, then #[m \widetilde G \in \Pi(\aff^1)].

    corollary
        statement: p
            | Abhyankar's conjecture in the solvable case.

        proof
            p
                | Let #[m \widetilde G = N].


    p
        | The advantage of this is the following:

    lemma
        statement: p
            | It is sufficient to prove the theorem in the case
            me N = (\ZZ/\ell)^n 
            |and
            me G\acts N
            | is irreducible.
        proof: p
            | Consider a SES
            me 1 \to K \to N \to H \to 1
            |where
            me G = \widetilde G/N = (\widetilde G/ K) / (N / K) = (\widetilde G/K)/H
            | .
            | Since #[m N] is solvable, given a sequence of subgroups with abelian quotients we can reduce to the abelian case, which can then be reduced to #[m (\ZZ/\ell)^n].
            | Further can be reduced to the irreducible #[m G]-module case.


    p
        | #[m \widetilde G] is an extension of #[m G] by #[m N] which gives a class
        me e \in H^2(G, N)
        | we have cases
        ol
            li
                me e\ne 0\text{ essential extension}
            li
                me e= 0,\,\widetilde G  = N\rtimes G


    p
        | Proof of the theorem in case 1:
        me G \in \Pi(\aff^1) \leadsto \phi \colon \pi \to G
        | by the cohomological dimension argument there exists a lift
        me \tilde \phi  \colon  \pi  \to \widetilde G
        | with #[m H = \im(\tilde \phi) ] so #[m NH = \widetilde G] and #[m N\cap H ] is a sub-#[m G]-module of #[m N].
        | If #[m N\cap H = 1] then #[m \widetilde G = N\rtimes G], a contradiction with the fact we are in case 1.

    p
        | Then by irreducibility of #[m N], #[m N \cap H = N] and 
        me N \subseteq H \implies H = NH = \widetilde G
        | .

    p
        |In case 2.
        | Choose a surjection
        me \phi \colon  \pi  \twoheadrightarrow G
        | this endows #[m N] with  a #[m \pi ]-module structure, #[m N_\phi ] we get a corresponding sheaf #[m \sheaf N_\phi ] on #[m \aff^1].
        | We have
        me H^1(G, N) \hookrightarrow H^1(\pi , N_\phi) \xrightarrow\sim H^1(\aff^1, \sheaf N_\phi )
        | .

    proposition
        statement: p
            | There exists a surjection
            me \tilde \phi  \colon  \pi  \to \widetilde G
            | lifting #[m \phi ] iff
            me H^1(G, N)\subsetneq H^1(\pi , N_\phi )
            | .
        proof: p
            | We only need (#[m \Leftarrow]) today.
            | Let #[m (a  \colon  \pi  \to N_\phi ) \in H^1(\pi , N_\phi ) \smallsetminus H^1(G, N)].
            | Then, combined with #[m \phi ] with we construct a morphism
            me \tilde \phi  \colon  \pi  \to N\cdot G  = \widetilde G
            | .
            |  Assume that
            me \im(\tilde \phi ) = H \subsetneq \widetilde G
            | then
            me N\cap H = 1,\,NH = \widetilde G
            | .
            | Given this, #[m a ] arises from a cocycle in #[m H^1(G, N)] a contradiction.

    p
        | We are reduced to finding
        me \phi \colon \pi  \to G
        | such that 
        me \dim_{\FF_\ell} H^1(G, N) \lt \dim _{\FF_\ell} H^1(\pi , N_\phi )
        | two cases, #[m \ell \ne p] and #[m \ell = p].

    p
        | In the #[m \ell \ne p] case we must have
        me G  \acts N
        | non-trivial else
        me \widetilde G = N\times G
        | is not quasi-#[m p].
    p
        | Let #[m I \subseteq G] be the inertia group at #[m \infty ], consider the ramification groups
        me I \supseteq I_1\supseteq I_2 \supseteq I_3 \supseteq \cdots
        | we have the swan conductor of #[m N_\phi ] is
        me \operatorname{Swan}_{\infty } (N_\phi ) = \sum_{n \ge 1 } \frac{1}{\lb I:I_n\rb }   \dim (N/N^{I_n})
        | .

    proposition
        statement: p
            me \dim H^1(\pi , N_\phi ) = \operatorname{Swan}_\infty (N_\phi ) - \dim N
        proof: p
            | Note
            me H^0( \pi , N_\phi ) = 0
            | since nontrivial irreducible
            me H^{i\ge  2}( \pi , N_\phi ) = 0
            | by cohomological dimension.

            | Then
            me \dim H^1(\pi , N_\phi ) = - \chi ( H^*(\pi , N_\phi ))= - \chi ( H^*(\aff^1 , \sheaf N_\phi ))
            | let
            me i\colon  \aff^1 \hookrightarrow \PP^1
            | then exactness gives
            me \chi (H^*(\aff^1, \sheaf  N_\phi )) =  \chi (H^*(\PP^1, i_* \sheaf  N_\phi )) -  \chi (H^*_\infty (\PP^1,i_* \sheaf  N_\phi ))
            | now
            me  \chi (H^*_\infty (\PP^1,i_* \sheaf  N_\phi )) = \dim N^I
            | .
            | Grothendieck-Ogg-Shafarevich gives
            me \chi (H^*(\PP^1, i_* \sheaf  N_\phi )) = \dim N + \dim N^I - \operatorname{Swan}_\infty (N_\phi )
            | .


    p
        | We are reduced to
        me \dim_{\FF_\ell} H^1(G, N) \lt \operatorname{Swan}_\infty (N_\phi ) - \dim _{\aff_\ell} N
        | there exists #[m \phi ] for which this can be an equality (Artin-Schreier).
        | We can always introduce extra ramification.
        | Consider
        me (m)\colon  \aff^1 \to \aff^1
        me T \mapsto T^m
        | and write #[m \psi \colon Y \to \aff^1] the cover corresponding to #[m \phi ]. 
        | Take the pullback to get #[m \psi _m\colon Y_m \to \aff^1]
        | a Galois cover with group #[m G].
        | #[m \leadsto \phi _m \colon  \pi  \twoheadrightarrow G].
        | One can show that
        me \operatorname{Swan}_\infty (N_{\phi _m}) = m \operatorname{Swan}_\infty (N_\phi )
        | so choosing #[m m \gt 1] forces the inequality to be strict.


    p
        | In this case we show
        me \dim H^1(\pi , N_\phi ) = \infty 
        | exactness gives
        me H^1(\pi , N_\phi ) = H^1(\aff^1, \sheaf N_\phi ) \to H^2_\infty (\PP^1, i_*\sheaf N_\phi ) \to H^2(\PP^1, i_* \sheaf N_\phi ) = 0
        me H^2_\infty (\PP^1, i_*\sheaf N_\phi ) = H^2_\infty (\Spec k \lb \lb t\inv \rb \rb , i_*\sheaf N_\phi ) =  H^1 (k ((T\inv )) , N_\phi )
        | .

    proposition
        statement: p
            | Let #[m F = k((t))] and #[m G_F =\Gal {F^\sep}{F}].
            | Then let #[m V] be a finite dimensional #[m G_F]-representation over #[m \FF_p].
            | then
            me H^1(G_F, V) = \infty 
            | .
        proof: p
            | We can take
            me G_F \acts V
            | irreducible, then if #[m I_1] is the pro-#[m p]-Sylow subgroup of #[m G_F] then the action of
            me I_1\acts V
            | is trivial so the action factors through the tame quotient
            me I_t = G_F/I_1
            | .
            | Choosing an identification of #[m V] with
            me \FF_q / \FF_p
            | then
            me I_t \acts V
            |is determined by a character
            me \psi \colon I_t \to \FF_q^\times
            | let #[m m = \operatorname{order}(\psi)], #[m t_m  = t^{1/m}] and #[m F_m = k((t_m))].
            | The Galois group
            me C_m = \Gal{F_m}F
            | is identified with the group of #[m m]-th roots of unity by a character
            me \chi \colon C_m \to k^\times
            | . Choosing #[m \FF_q \hookrightarrow k] gives
            me \psi = \chi ^i
            | for some #[m i \in (\ZZ/m)^\times], then
            me H^1(G_F, V)\simeq H^0(C_m, H^1(I_m, V)) = H^0(C_m, \Hom(I_m, \FF_p) \otimes V
            | when #[m I_m = \Gal {F^\sep}{F_m}].
            | We have
            me \Hom(I_m, \FF_p) = F_m / \wp F_m
            | for #[m \wp] the Artin-Schreier map, so it is sufficient to show that any character of #[m C_m] occurs in the #[m C_m]-representation
            me F_m/ \wp F_m) \otimes \FF_p
            | infinitely often.
            | The group #[m F_m / \wp F_m] has representatives Laurent series
            me \sum a_j t_m^j
            | for #[m a_j \in k,\,j \gt 0,(j,p) = 1].
            | Consider the subgroup
            me k \{t_m^{-j}\}
            | on which #[m C_m] acts by #[m \chi ^{-j}].
            | Since #[m \lb  k : \FF_q \rb  = \infty ], #[m \chi ^{-j}] occurs infinitely often.
    p
        | So
        me \dim H^1(\pi , N_\phi ) = \infty 
        | and the desired inequality is satisfied and we have a surjective lift
        me \pi  \to \widetilde G
        | in all cases giving the original theorem.


