title A dynamical olive branch: Applications of Coleman integration to discrete dynamics

https://arxiv.org/pdf/1608.03328.pdf

    https://www.cambridge.org/core/journals/lms-journal-of-computation-and-mathematics/article/rational-6cycles-under-iteration-of-quadratic-polynomials/5824B91D481A3F10535DBB65EE28F7CD
