title Gross-Zagier

introduction
    p
        | These are notes for BUNTES Fall 2019, the topic is Gross-Zagier, they were last updated #[today/].
        | For more details see #[url(href="http://math.bu.edu/people/svh/GrossZagier.html") the webpage].
        | These notes are by Alex, feel free to email me at #[email alex.j.best@gmail.com] to report typos/suggest improvements, I'll be forever grateful.

section#sec-gz-overview
    title An Overview of Gross-Zagier and Related Objects / Formulas of interest (Sachi)

    introduction
        p
            | Goal today is to motivate and give some high level overview of the objects in Gross-Zagier.
            | It involves many things #[m  L]-functions, elliptic curves, modular forms.
        p
            | Main reference: #[xref(ref="bib-zagier-modular")/].
    subsection
        title A big example
        p
            | Today we will study
            me E\colon y^2 + y=  x^3 + x^2
            | LMFDB label 43.a1, #[url(href="http://lmfdb.xyz/EllipticCurve/Q/43.a1/")/].
        figure
            caption/
            image: latex-image.
                \begin{tikzpicture}
                    \begin{axis}[hide axis]
                    \addplot +[no markers,
                      raw gnuplot,
                      thick,
                      empty line = jump, % not strictly necessary, as this is the default behaviour in the development version of PGFPlots
                      id = 43a1,
                      ] gnuplot {
                      set contour base;
                      set cntrparam levels discrete 0.002;
                      unset surface;
                      unset border;
                      unset xtics;
                      unset ytics;
                      set view map;
                      set samples 900;
                      set isosamples 900;
                      splot y^2  + y - x^3 - x^2;
                    };
                  \end{axis}
                \end{tikzpicture}

        p
            | One fundamental invariant we can compute is the conductor, in this case 43, we only have bad reduction at 43 and no other prime.

        p
            | To compute the real period we can transform to short Weierstrass form.
            me y^2 = x^3 - 432 x + 15120
            | then we have invariant differential
            me \frac{\diff x}{2y } = \frac{\diff x}{2\sqrt{x^3 - 432 x + 15120}}
            | .
        p
            | Real period is then
            me \omega _1 = \int_{E(\RR)} \frac{\diff x}{2y} \approx 5.4687\ldots
            | .
        p
            | For #[m E/\CC] fix a complex conjugate root of #[m E], #[m \alpha ], and #[m \beta  =] real root.
            me \omega _2 = \int_\alpha ^\beta  \frac{\diff x}{2y}
            me = 2.73434476498379 + 1.36318241817043i

        p
            | We can look at #[m E/\FF_p] for various #[m p].
            | Obtained by looking at the equation #[m y^2 + y =x^3 +x^2 \pmod p] for various #[m p].
        p
            | At 43 we have non-split  multiplicative reduction, which means that we have a singular curve with tangent slopes not defined over #[m \FF_{43}].
        figure
            caption/
            image: latex-image.
                \begin{tikzpicture}
                    \begin{axis}[hide axis]
                    \addplot +[no markers,
                      raw gnuplot,
                      thick,
                      empty line = jump, % not strictly necessary, as this is the default behaviour in the development version of PGFPlots
                      id = singularec,
                      ] gnuplot {
                      set contour base;
                      set cntrparam levels discrete 0.002;
                      unset surface;
                      unset border;
                      unset xtics;
                      unset ytics;
                      set view map;
                      set samples 900;
                      set isosamples 900;
                      splot y^2 - x^3 - x^2;
                    };
                  \end{axis}
                \end{tikzpicture}
        p
            me N_p = \# E(\FF_p)
            me L_E = \left(\frac 1 {1+43^{-s}} \right)\prod_{p\ne 43} \frac{1}{1- (N_p - p - 1)p^{-s} + p p^{-2s}}
            me  = \sum_{n\ge 1} \frac{a_n}{n^{s}}
        p
            | We can tabulate the #[m a_n]
        table
            title #[m a_n]s
            tabular
                row #[cell: m n] #[cell 1] #[cell 2] #[cell  3] #[cell  4] #[cell  5] #[cell  6] #[cell  7] #[cell  8] #[cell  9]
                row #[cell: m a_n] #[cell  1] #[cell  -2] #[cell  -2] #[cell  2] #[cell  -4] #[cell  4] #[cell  0] #[cell  0] #[cell  1]

        p
            | As we have #[m E/\QQ] we can determine that
            me E(\QQ) \simeq \ZZ \cdot \underbrace{P}_{=(0,0)}
            | .

        p
            | Next up the Néron-Tate canonical height:
            me \hat h(P) = \lim_{n\to \infty } \frac{\log(h_{\text{naive}}(2^nP))}{4^n}
            | naive height is the max of the absolute values of the numerator and denominator of the #[m  x]-coordinate.
            | In our case this is
            me \hat h(P) \approx 0.0628165070875
            | .

        p
            | We have the Hasse-Weil bound:
            me | N_p - p  + 1 | \lt 2 \sqrt p
            | so the #[m L]-function converges for #[m  \Re (s ) \gt 3/2].
            | So modularity implies that #[m L_E(s)] extends to an entire function #[m \widetilde L_E] satisfying a functional equation
            me \widetilde L_E(s) = - \widetilde L_E(2-s)
            | in particular #[m \widetilde L_E(s)] vanishes at #[m s=1].

        p
            | BSD for rank 1 then says:
            ol
                li
                    me \ord_{s=1} \widetilde L_E(s) = \rank E(\QQ) = 1
                li
                    me \frac{\diff}{\diff s} \widetilde L_E(s)|_{s=1} = \underbrace{\hat h ( P) \omega _1}_{\approx 0.34352397} |\Sha|
                    | #[m |\Sha|] is predicted to be finite (in which case the order is a square).
                    | the LHS can be computed using
                    me 2\sum_{n=1}^\infty  a_n \int_1^\infty  \log t \exp\left(- \frac{-2 n  \pi  t  }{\sqrt{43}}\right) \diff t
                    | .

        paragraphs
            title Modularity
            p
                | Goal: Verify #[m E] is modular.
                | Two definitions today:
                ol
                    li
                        | There exists a newform #[m f \in S_2(\Gamma _0(N))] with fourier coefficients the same as the #[m L]-series:
                        me a_p(f) = a_p(E)
                        | for all #[m p\nmid N].
                    li
                        | There exists #[m X_0(N) \to E] finite defined over #[m \QQ].
            p
                | Consider
                me X_0(43)
                | the modular curve for the congruence subgroup generated by #[m \Gamma _0(43) = \begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix}] with #[m c \equiv  0 \pmod{43}].
                me w_{43} =  \begin{pmatrix} 0 \amp \frac{-1}{\sqrt{43}} \\ \sqrt{43} \amp 0\end{pmatrix}
                me \Gamma _0(43)^+ \backslash \HH \simeq \text{genus 1 curve}
                | which is potentially equal to #[m E].
            p
                | Strategy: Find #[m \eta ,\xi ] s.t.
                me \eta(\tau )^2 + \eta(\tau ) = \xi (\tau )^3 + \xi (\tau )^2
                | and
                me \frac{\diff \eta}{2\xi  + 1} = f(q) \frac{\diff q}{q}
                me \xi f^2, \eta f^3
                | should be holomorphic modular forms in #[m M_4(\Gamma _0(43))] and #[m M_6(\Gamma _0(43))].
                | we can compute #[m q]-series expansions and use modular symbols to prove they exist.

        paragraphs
            title Quadratic twists of #[m E]
            p
                | Let #[m \Delta \lt  0] be a fundamental discriminant.
                me E\colon y^2 = f(x)
                | then
                me E_{\Delta }\colon \Delta y^2 = f(x)
                | these are not isomorphic over #[m \QQ].
            p
                | The #[m L]-function of #[m E_\Delta ].
                | For any #[m \Delta ] coprime to 43
                me L_{E_\Delta } (s) = \sum_{n\ge 1} \legendre \Delta  n \frac{a_n}{n^s}
                | can prove that for #[m p\nmid 6\cdot 43 \cdot \Delta ].
                me a_p(E) \leftrightarrow a_p(E_\Delta )
                | are related by considering
                me E\colon  y^2 = f(x)
                me E_\Delta \colon  \Delta y^2= f(x)
                | mod #[m p], so if #[m \Delta ] is a square we have isomorphisms locally and the #[m a_p] are equal, otherwise all non-square and squares are swapped.

            p
                | BSD says
                me L_{E,\Delta } (1) = \Omega _{E,\Delta }^+  \prod_p c_p A_\Delta
                | if #[m \rank = 0].
            p
                | Waldspurger's implies that #[m A_\Delta ] is a square.

        theorem#thm-gross-zagier-1
            title Gross-Zagier
            statement: p
                | If #[m \Delta \lt  0 ] is a fundamental discriminant which is a square mod 43, then
                me \hat h(P_\Delta ) = \frac{\sqrt{|\Delta |}}{8\pi ^2 \| f\|} L_E'(1) L_{E_\Delta }(1)
                |, where #[m P_\Delta ] is the Heegner point on #[m E] associated to the discriminant #[m \Delta ].
        p
            | Adding in Waldspurger we get
            me A(\Delta ) = c_\Delta ^2
            me \hat h(P_\Delta )= \hat h(b_\Delta  P) = b_\Delta ^2\hat h(P)
            | but also
            me \hat h(P_\Delta ) = \frac{\sqrt{|\Delta |}}{8\pi ^2 \| f\|} L_E'(1) \Omega _{E,\Delta }^+ \prod_p c_p c_\Delta^2
            | as #[m \Omega _{E,\Delta }^+ = \Omega _E^-  / \sqrt \Delta ] we have cancellation and #[m c_\Delta ^2 = b_\Delta ^2] for all #[m \Delta ].


section#sec-gz-mfs
    title Modular Curves Background I (John)

    p
        | Main references are lecture notes by Darmon and Weinstein #[q introduction to modular forms].

    definition
        statement: p
            | Let
            me \Gamma (N) = \left\{\begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix}\in \SL_2(\ZZ) : \begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix} \equiv \begin{pmatrix} 1 \amp 0 \\ 0 \amp 1 \end{pmatrix} \pmod N\right\}
            | .
            | #[m \Gamma\subseteq \SL_2(\ZZ)] is a  congruence subgroup if it contains #[m  \Gamma (N)] for some #[m N].
            | Some important examples are
            me \Gamma_1 (N) = \left\{\begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix}\in \SL_2(\ZZ) : \begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix} \equiv \begin{pmatrix} 1 \amp \ast \\ 0 \amp 1 \end{pmatrix} \pmod N\right\}
            me \Gamma_0 (N) = \left\{\begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix}\in \SL_2(\ZZ) : \begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix} \equiv \begin{pmatrix} \ast \amp \ast \\ 0 \amp \ast \end{pmatrix} \pmod N\right\}

    definition
        statement: p
            me f\colon \HH \to \CC
            | is a modular form of weight #[m 2k] for #[m \Gamma ] (with character #[m \epsilon ]) if
            ol
                li
                    | #[m f] is holomorphic on #[m \HH].
                li
                    | #[m f] is holomorphic at infinity.
                li
                    me f|_{2k} \gamma (z) = f(z)\,\forall\gamma \in \Gamma 
                    | where
                    me f|_{2k} \gamma (z) = (cz+d)^{-2k}f(\gamma z)\epsilon (d)

    example
        statement: p
            | For #[m \Gamma =  \SL_2(\ZZ)] from now on.
            me f(z+1) = f(z)
            me f\left(-\frac 1z\right) = z^{2k}f(z)
    p
        | Using this we can write
        me f(z) = f(q),\,q= e^{2\pi  i z}
        | , where #[m q] is a parameter at infinity.
        me f(q) = \sum_{n=0}^\infty a_n q^n
        | .

    definition
        statement: p
            | A modular form is a cusp form if #[m a_0 = 0].

    definition
        statement: p
            | #[m M_k(\Gamma )] is the space of weight #[m k] modular forms.
            | #[m S_k(\Gamma )] is the space of weight #[m k] cusp forms.

    example
        statement: p
            me G_{2k}(z) = \sum_{m,n\in \ZZ}' \frac{1}{(mz+n)^{2k}}
            me g_{2} = G_4(z)/2\zeta (4)
            me g_{3} = G_6(z)/2\zeta (6)
            | then
            me \Delta  = \frac{g_2^3 - g_3^2}{1728}
            | is a cusp form of weight 12.

    theorem
        statement: p
            me D\colon M_k \to S_{k+12}
            me f\mapsto \Delta f
            | is an isomorphism of vector spaces.
            me \forall k \lt  0,\, M_k = 0
            me k=2,\, M_k = 0
            | #[m  k] odd, #[m M_k = 0].
            me M_k = S_k + G_k \CC,\,\forall k \in 2\ZZ^+
        proof
            p
                me (f\Delta) (-1/z) = (cz+d)^{-k}f(z) (cz+d)^{-12} \Delta (z)
                me = (cz+d)^{-(k+12)}(f\Delta ) (z)
                | .
                | If #[m k \lt  0] , #[m f \in M_k] have #[m f^{12}\Delta ^k \in S_0 = 0].
                | #[m M_0 =\CC] corresponds to holomorphic functions on #[m \SL_2(\ZZ) \backslash \HH].
                me M_k \to \CC
                me f(q) = a_0  + a_1 q + \cdots \mapsto a_0
                me \dim(M_k / \ker) \le 1
                me M_k = S_k + G_k \CC
                | we get
            table
                title dimensions
                tabular
                    row #[cell: m n] #[cell: m \dim M_k] #[cell: m \dim S_k]
                    row #[cell: m \lt 0] #[cell: m 0] #[cell: m 0]
                    row #[cell: m 0] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 2] #[cell: m 0] #[cell: m 0]
                    row #[cell: m 4] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 6] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 8] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 10] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 12] #[cell: m 2] #[cell: m 1]
                    row #[cell: m 14] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 16] #[cell: m 2] #[cell: m 1]
                    row #[cell: m 18] #[cell: m 2] #[cell: m 1]
                    row #[cell: m 20] #[cell: m 2] #[cell: m 1]
                    row #[cell: m 22] #[cell: m 2] #[cell: m 1]

    paragraphs
        title Hecke operators

        definition
            statement: p
                | #[m \Lambda ] is a lattice if it is a rank 2 #[m \ZZ]-module in #[m \CC] s.t. #[m \CC/\Lambda ] is compact.
                me \Lambda = \tau _1\ZZ + \tau _2 \ZZ
                me \dim_\RR(\tau _1 \RR + \tau _2\RR) = 2
                me \Im (\tau _2 / \tau _1 ) \gt 0
                | #[m F] is a homogeneous lattice function of weight #[m k] if it is
                me F\colon R \to \CC
                | where #[m R] is the set of lattices, such that
                me F(\lambda \Lambda ) = \lambda ^{-k}F(\Lambda )
                | #[m F] is holomorphic if #[m f\colon  \HH \to \CC]
                me f(\tau ) = F(\ZZ + \tau \ZZ)
                | is holomorphic on #[m \HH].
                me \{\text{holo. homog. wt. }k\text{ lattice fns.}\}\leftrightarrow \{\text{wt. }k\text{ mod. fms.}\}
                me F\mapsto f_F\colon \tau  \mapsto F(\ZZ+ \tau \ZZ)
                me F_f \mapsfrom f
                me F_f (\tau _1 \ZZ+ \tau _2 \ZZ) = f(\tau _2/\tau _1)
                | .

        definition
            statement: p
                | #[m F] is a homogeneous holomorphic weight #[m k] lattice function then
                me T_{n,k} F(\Delta ) = n^{k-1} \sum_{\Lambda ' \subseteq \Lambda ,\,[\Lambda : \Lambda '] = n} F(\Lambda ')
                me T_{n,k}f = f_{T_{n,k}(F_f)}
                me T_{n,k} f(z) = n^{k-1} \sum_{\gamma \in \SL_2(\ZZ)\backslash  M_n } f(\gamma  z)(cz+d)^{-k}
                | where #[m M_n \subseteq  M_2(\ZZ)] is the set of integer matrices of determinant #[m n].
                me f|\alpha \beta = (f|\alpha )|\beta 
                | .
                | The fourier expansions of these are given by
                me f(q) = a_0 + a_1 q + \cdots
                me T_{n,k}f(q) = \sum_{m = 0}^\infty \sum_{d|(m,n)} d^{k-1} a_{nm/d^2} q^m
                | fixing #[m k] we have if #[m (a,b) = 1]
                me T_aT_b = T_{ab}
                | for #[m p ] prime
                me  T_p T_{p^t} = T_{p^{k+1}} + p^{k-1} T_{p^{t-1}}
                |.

        figure
            caption The fundamental domain
            image: latex-image.

                \pgfmathsetmacro{\myxlow}{-2}
                \pgfmathsetmacro{\myxhigh}{2}
                \pgfmathsetmacro{\myiterations}{8}

                \begin{tikzpicture}[scale=2]
                    \draw[-latex](\myxlow-0.1,0) -- (\myxhigh+0.2,0);
                    \pgfmathsetmacro{\succofmyxlow}{\myxlow+0.5}
                    \foreach \x in {\myxlow,\succofmyxlow,...,\myxhigh}
                    {   \draw (\x,0) -- (\x,-0.05) node[below,font=\tiny] {\x};
                    }
                    \foreach \y  in {0.2,0.4,...,1.4}
                    {   \draw (0,\y) -- (-0.05,\y) node[left,font=\tiny] {\pgfmathprintnumber{\y}};
                    }
                    \draw[-latex](0,-0.1) -- (0,1.6);
                    \begin{scope}
                        \clip (\myxlow,0) rectangle (\myxhigh,1.1);
                        \foreach \i in {1,...,\myiterations}
                        {   \pgfmathsetmacro{\mysecondelement}{\myxlow+1/pow(2,floor(\i/3))}
                            \pgfmathsetmacro{\myradius}{pow(1/3,\i-1}
                            \foreach \x in {-2,\mysecondelement,...,2}
                            {   \draw[very thin, blue] (\x,0) arc(0:180:\myradius);
                                \draw[very thin, blue] (\x,0) arc(180:0:\myradius);
                            }
                        }
                    \end{scope}
                    \begin{scope}
                        \begin{pgfonlayer}{background}
                            \clip (-0.5,0) rectangle (0.5,1.7);
                            \clip   (1,1.7) -| (-1,0) arc (180:0:1) -- cycle;
                            \fill[gray,opacity=0.8] (-1,-1) rectangle (1,2);
                        \end{pgfonlayer}
                    \end{scope}
                \end{tikzpicture}

        p
            | These #[m T_{n,k}] operate on #[m M_k(\SL_2(\ZZ))] and we can define:

        definition
            statement: p
                | Let #[m f\in M_k(\SL_2(\ZZ))] is an eigenform if it is a simultaneous eigenvector for #[m \{T_n\}_{n=1}^\infty ].
                | We have
                me \pair - - \colon  S_k \times S_k\to \CC
                me \pair fg = \int_F f(z) \overline{g(z)} y^k \frac{\diff x \diff y}{y^2}
                | .

        proposition
            statement: p
                | #[m T_n] is self-adjoint in #[m S_k]
                me \pair{T_n f}{g}=  \pair {f}{T_ng} 
                me S_k = \bigoplus f_i \CC
                | an orthogonal basis of eigenforms.
                | #[m G_k] is an eigenform and
                me M_k = G_k \CC + \bigoplus f_i \CC
                | .

        definition
            statement: p
                | #[m f] is a  normalized eigenform if
                me a_1(f)  =1
                me a_n(f) = a_1(T_nf) = a_1(\lambda _n f) = \lambda _na_1(f) = \lambda _n 
                | .

        proposition
            statement: p
                | If #[m f\in S_k] is a normalized eigenform then
                me \QQ(a_1(f), a_2(f) , \ldots)
                | is a finite totally real extension of #[m \QQ] with degree #[m \le \dim S_k = d].
            proof
                p
                    | #[m G_k/\zeta (k)] and #[m \Delta ] have rational coefficients.
                    me M_k(\QQ) = f_1 \QQ+ \cdots + f_d \QQ
                    | #[m T_n] operates on #[m M_k(\QQ)] so
                    me T_n \hookrightarrow \Mat_d(\QQ)
                    me \mathbf T_k =\QQ[T_1,T_2, \ldots] \hookrightarrow \Mat_d(\QQ)
                    | #[m \forall \phi  \in \Hom(\mathbf T_{k}, \overline \QQ)] have #[m \im (\phi )] lies in a degree #[m \le d] extension.
                    | this is totally real because #[m T_n] are self adjoint w.r.t. a Hermitian inner product.



    paragraphs
        title Generalisation

        p
            | If #[m \Gamma ] is any congruence subgroup
            me M_k(\Gamma ) = \operatorname{Eis}_k(\Gamma ) + S_k(\Gamma )
            me M_k(\SL_2(\ZZ)) \subseteq M_k(\Gamma )

        p
            | Given #[m d|N] we have
            me f \in M_k(\Gamma (d))
            | can define dilation
            me g(z) = f(N/d z) \in M_k(\Gamma )
            | for large enough #[m k] we can find a basis of #[m M_k(\Gamma (N))] by taking dilations of products of #[m M_a(\Gamma (N))] for #[m a \lt k] and Hecke operators.

        p
            | For #[m (n,N) = 1], #[m f\in M_k(\Gamma (N))].
            me T_{n,k} f = n^{k-1} \sum_{\gamma \in \Gamma (N) \backslash M_n} (f|\gamma )(z)
            | #[m M_n] is integer upper triangular with determinant #[m n].
            | For primes #[m l]
            me l\nmid N,\, T_l f(q) = \sum a_n l q^n + l^{k-1} \sum a_n \langle l \rangle f q^{nl}
            me l | N,\, T_lf(q) = \sum a_{nl} q^n
            me \langle l \rangle f(z) = \left(f|_k \begin{pmatrix} l \amp 0 \\ 0 \amp l\inv \end{pmatrix}\right) (z)
            | .

        definition
            statement: p
                me g \in S_k(\Gamma (N))
                | s.t.
                me g(z) = f(d z)
                | for some #[m f \in S_k(\Gamma (N/d))] is called an oldform.
                | Newforms are #[m f\in S_k(\Gamma (N))] s.t.
                me \pair fg = 0
                | for all #[m g\in S_k(\Gamma (N))^{old}].


section#sec-gz-mf-heeg
    title Modular Curves and Heegner Points (Ricky)

    subsection#subsec-cm-theory
        title CM theory

        p
            | Let #[m E/CC] be an elliptic curve so #[m E(\CC) = \CC/\Lambda_\tau  ], where #[m  \Lambda  = \ZZ + \ZZ\tau ], writing #[m E = E+\tau ], #[m \tau  \in \HH].

        p
            | Recall that
            me \End(E) = \begin{cases} \ZZ \\ \ints \subseteq K ,\,K/\QQ \text{ im. quad.}\end{cases}

        lemma
            statement: p
                me \Hom(\CC/\Lambda ,\CC/Lambda')= \{\alpha \in \CC : \alpha  \Lambda  \subseteq \Lambda '\}
            proof: p
                | Lift #[m \phi  \colon \CC/\Lambda  \to \CC/\Lambda '] to
                me \phi  \colon \CC  \to \CC
                | to see #[m \phi (z) = \alpha  z] for some #[m \alpha  \in \CC^\times].

        p
            | So #[m \End(E_\tau ) = \{\alpha \in \CC : \alpha  \Lambda _\tau  \subseteq \Lambda _\tau \}].

            | If #[m \alpha  \cdot 1 = m_1 + m_2 \tau ] and
            me \alpha \cdot \tau  = n_1 + n_2 \tau 
            | then
            me m_2 \tau ^2 + (m_1 - n_1) \tau  - n_1 = 0
            | call these coefficients #[m A,B,C \in \ZZ].
            | And #[m \Delta = B^2 - 4AC], so #[m \Delta  = -f^2 d \lt 0] where #[m f] is the #[term conductor] of #[m \tau ] and #[m d] is the discriminant of #[m \tau ].
        p
            | Then if #[m \End(E_\tau ) \ne \ZZ] we have  
            me \End(E_\tau ) = \ZZ \oplus f \ZZ \left\lb \frac {-d + \sqrt{-d}}{2} \right \rb = \ints_\Delta  \subseteq \ints_{\QQ(\sqrt{-d})}
            | We say #[m E] has #[term CM] by #[m \ints_\Delta ].

        remark
            p
                | We can create elliptic curves with CM by #[m \ints] by creating #[m \CC/\ints].
                | In fact, all elliptic curves with  CM by #[m \ints] are isomorphic to #[m \CC/\ideal a] for #[m \ideal a] a fractional ideal of #[m \ints].
        theorem
            statement: p
                | Let #[m E/\CC] be an elliptic curve with CM by #[m \ints_K] for #[m K/\QQ] imaginary quadratic.
                | Then #[m j(E) \in \ints_{H_K}]. Where #[m H_K] is the hilbert class field of #[m K], so #[m E] admits a model over a number field.

        theorem
            statement: p
                | Let #[m G = \Gal{H_K}{K}] then we have an isomorphism
                me s\colon  \Pic(\ints_K) \to G
                me \ideal b\mapsto s(\ideal b)
                me j(\ideal a)^{s(\ideal b)} = j(\ideal b \inv \ideal a)
                | .
                | (The #[m j]-invariants generate #[m \ints_H], this characterises #[m G] as a Galois group).

    subsection#subsec-mod-curves
        title Modular curves

        p
            | Let
            me \Gamma_0 (N) = \left\{\begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix}\in \SL_2(\ZZ) : \begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix} \equiv \begin{pmatrix} \ast \amp \ast \\ 0 \amp \ast \end{pmatrix} \pmod N\right\}
            | degine #[m Y_0(N) = \Gamma _0(N)\backslash \HH] , #[m X_0(N) = \Gamma _0(N)\backslash \overline \HH].
            | Then #[m X_0(N)] can be given the structure of a projective algebraic variety #[m /\QQ].

        p
            | The for #[m L/\QQ] a field we have the modular interpretation,
            me Y_0(N)(L) = \{ (E,E',\phi ) : E,E' / L\text{ ell. curves},\, \phi \colon E \to E' / L\text{ cyclic isog. degree } N\}
            | i.e. #[m \phi ] for which #[m \ker \phi  \simeq \ZZ/N].


        paragraphs
            title Atkin-Lehner involutions

            p
                | Let #[m d|N], #[m (d, N/d) = 1]. We get an involution
                me w_d  \colon X_0(N) \to X_0(N)
                | such that
                me w_N(\epsilon  \colon E \to E') = (\hat \phi \colon E' \to E)
                | (and it swaps the two cusps.????????????)
            p
                | These generate a group #[m W \subseteq \Aut(X_0(N))] with the relation
                me w_{d}w_{d'} = w_{dd'/(d,d')^2}
                | .
                | So #[m W \simeq (\ZZ/2)^s] where #[m s] is the number of primes dividing #[m N].






section#sec-gz-arch-I
    title Archimedean Local Heights I (Aash)

    introduction
        p
            | Breuil-Conrad-Diamond-Taylor proved modularity of elliptic curves over #[m \QQ].
            | Gross-Zagier assume this so we can now state results unconditionally.

        theorem
            statement: p
                me g_A(z) = \sum_{m\ge 1} \pair c {T_m c^\sigma } e^{2\pi  i m z}
                | is a cusp form of weight 2 on #[m \Gamma _0(N)] and satisfies
                me (f,g_A) = \frac{u^2 |D|^{\frac 12} L'_A(f,1)}{8\pi ^2}
                | for all #[m f] in the space of newforms of weight 2 in #[m \Gamma _0(N)].

        p
            me Cl_K \leftrightarrow \Gal HK
            me A \leftrightarrow \sigma 
            | the artin map.
            me c = (x) - (\infty ) \in J(H)
            | #[m x] a Heegner point and #[m \pair \cdot\cdot] is the global height pairing on #[m  J(H) \otimes \CC].

        p
            | #[m J] is the Jacobian of #[m X_0(N)], #[m K = \QQ(\sqrt{D})], class  number #[m h].
        p
            | #[m H/K] is the hilbert class field and #[m 2u] is the number of roots of unity in #[m K].
        p
            | Where #[m L_A] is a twisted #[m L]-function related to a component theta function, i.e.
            me r_A(n) =\# \text{integral ideals in } A \text{ of norm }n
            | .

        p
            | Also
        theorem
            statement: p
                me L'(f,\chi ,1) = \frac{8\pi ^2 (f, f) \hat h(c_{x,f})}{hu^2 |D|^{\frac12}}
                | .
                me c_x = \sum_{\sigma \in \Gal HK} x\inv(\sigma ) c^\sigma 
                | #[m x] a character of #[m \Gal HK].
                | #[m c_{x,f}] is the projection to the #[m f]-isotypical component.


    subsection
        title Height Pairings

        p
            me | \cdot |_v \colon  H_v^\times \to \RR_+^\times
            me |\alpha |_v = \alpha \bar \alpha
            | if #[m H_v \cong \CC] or #[m q_v^{-v(\alpha )}] if #[m v] is non-archimidean.
        p
            | Neron's theory gives us a unique symbol on relatively primes divisors (divisors whose supports are disjoint).
            | This pairing when defined splits up as
            me \pair ab = \sum_v \pair ab_v
            me g_A(z) = \sum_{m\ge1} \pair c{ T_m c^\sigma } e^{2\pi  i m z}
            me c=(x) - (\infty )
            me d = (x) - (0)
            | #[m (0)-(\infty )] is of finite order in #[m J(\QQ)].

        p
            me \pair c{T_m c^\sigma } = \pair c {T_m d^\sigma }
        remark
            p
                me r_A(m) = 0,\, N \gt1
                | implies #[m c,T_m d^\sigma]  are relatively prime.

        p
            | If #[m S] is a compact Riemann surface then there exists a partially defined
            me \pair \cdot \cdot \colon  \Div^0(S) \times \Div^0(S) \to \RR
            | which satisfies
            ol
                li
                    | #[m \pair ab] is defined when #[m a,b] have disjoint support.
                li
                    | #[m \pair \cdot\cdot] is bi-additive and symmetric whenever it is defined.
                li
                    | If #[m f] is meromorphic on #[m S] and
                    me a= \sum_i n_i x_i
                    me \pair{\divisor (f)} a = \sum n_i \log|f(x_i)|^2
                li
                    me \pair a {\sum_j m_j (y_j)}
                    | is continuous on #[m S\smallsetminus |a|] w.r.t each #[m y_j].
                    | Where
                    me |a|
                    | is the support of #[m a].
        paragraphs
            title Uniqueness
            p
                | Considering the difference of two symbols satisfying this then then it descends to the Jacobian as the values on #[m \divisor(f)] cancel.
            p
                | Therefore
                me J\to \RR
                me b\mapsto \pair b a
                | is a continuous homorphism.
                | Therefore the image is 0 (as 0 is the only compact function).

        paragraphs
            title Existence

            p
                | Fix #[m x_0, y_0 \in S]
                me G(x,y)  = \pair{(x)  - (x_0)}{ (y) - (y_0)}
                | where #[m x\ne y,y\ne x_0,x\ne y_0],
                | #[m G] is a Green's function
            p
                | Biadditivity
                me \implies \pair ab = \sum_{i,j} n_i m_j G(x_i, y_j)
                | #[m a = \sum n_i(x_i)], #[m b = \sum m_j(y_j)], #[m y_0 \not \in |a|,x_0 \not \in |b|].

            p
                | Conversely given #[m G(x,y)] we can define a symbol #[m \pair \cdot \cdot] if for fixed #[m x \ne y_0] the function
                me y \mapsto G(x,y)
                | on #[m S\smallsetminus\{x,x_0\}] is:
                ol
                    li
                        | continuous
                    li
                        | harmonic, i.e.
                        me \Delta _y^2 G(x,y) = 0
                        |.
                    li
                        | has logarithmic singularities of residue #[m +1,-1] at #[m y=x,y=x_0].
            remark
                p
                    | #[m f] has logarithmic singularities at #[m z_0] if
                    me f(z) - \alpha \log|\rho (z)|^2
                    | is continuous near #[m z_0], #[m \rho ] is holomorphic near #[m z_0] and vanishing to order #[m 1] at #[m z_0].
                p
                    | #[m \alpha ] is called the residue of this singularity.
                    | #[m \rho ] is the uniformizing parameter near #[m z_0].
                    | Same symmetric condition on #[m x].
            p
                | So this is well defined, continuous and bi-additive if
                me (|a| \cup\{x_0\}) \cap (|b| \cup \{y+0\} ) = \emptyset
                | we want to extend to #[m |a|\cap |b| = \emptyset].

            p
                | Sufficient to show
                me G(x_1,y) -G(x_2,y)
                | makes sense as #[m y\to y_0], #[m x_1, x_2 \not \subset |b| \cup\{y_0\}].
                me G(x_i, y) = - \log|\rho |^2 + c_i + O(\rho (y))
                | therefore
                me G(x_1,y) - G(x_2,y) \to c_1  - c_2
                | as #[m y \to x_0].
                | Therefore this is well defined and continuous by hypothesis 3. on #[m G(x,y)].

            p

                | #[m \pair\cdot\cdot] is defined and continuous and bi-additive now, consider
                me (f) = \sum_{j=1}^ k m_j (y_j)
                | a principal divisor, #[m x_0 \not \in |(f)|]
                me \delta \colon x\mapsto \pair {(x) - (x_0) }{f} - \left(\log|f(x)|^2 - \log|f(x_0)|^2\right)
                me = \sum m_j G(x,y_j) - \left( \log|f(x)| ^2 - \log|f(x_0)|^2\right)
                | is harmonic for #[m x \in S - \{u_0, y_k\}] and continuous everywhere so the difference is constant.

            p
                me \pair {\sum n_i(x_i)}{(f)} - \sum n_i \log|f(x_i)|^2
                me =\sum n_i \delta (x_i) = \sum n_i C = 0
                | .
            p
                | If we take #[m G] with the given hypothesis as #[m \pair\cdot\cdot].
                | #[m S  = X_0(N)(\CC)], #[m x_0 = \infty ], #[m y_0 = 0].
                | Conditions on #[m G] needed:
                ul
                    li
                        | G1 , #[m G] is a real valued continuous harmonic function on
                        me E = \{ (z,z') \in \HH^2 : z\not \in \Gamma _0(N) z'\}
                        | such that #[m G(\gamma  z, \gamma 'z') = G(z,z')] for all
                        me (z,z')\in E, \gamma ,\gamma '\in \Gamma _0(N)
                        | .
                    li
                        | G2 , Fix #[m z\in \HH]
                        me G(z,z') = e_z\log|z- z'|^2 + O(1)
                        | as #[m z'\to z], where #[m e_z] is the order of the stabilizer in #[m \Gamma _0(N)].
                    li
                        | G3 , For #[m z\in \HH] fixed
                        me G(z,z') = 4\pi  y' + O(1)
                        | as #[m z' = x' + iy' \to \infty ] and #[m G(z,z') = O(1)] at other cusps.
                    li
                        | G4 , For #[m z'\in \HH] fixed
                        me G(z,z') = 4\pi  y/N|z|^2 + O(1)
                        | as #[m z = x + iy \to 0 ] and #[m G(z,z') = O(1)] at other cusps.
            p
                | G2,G3,G4 come from uniformizing parameters , at #[m \infty ] #[m e^{2\pi i z} \leftrightarrow \rho ], non-cusp : #[m |z' -z|^{e_z} \leftrightarrow \rho ] , at 0 #[m e^{-2\pi i z}/|z|^2].
                | applies the logarithmic singularity hypothesis on #[m G].

            p
                me G(z,z') = \lim_{s\to 1} \left( G_{N,s} (z,z') + 4 \pi  E_N(w_N z, s) + 4 \pi  E_N(z', s) + \frac{K_N}{s-1}\right) + c

