title Gross-Zagier

introduction
    p
        | These are notes for BUNTES Fall 2019, the topic is Gross-Zagier, they were last updated #[today/].
        | For more details see #[url(href="http://math.bu.edu/people/svh/GrossZagier.html") the webpage].
        | These notes are by Alex, feel free to email me at #[email alex.j.best@gmail.com] to report typos/suggest improvements, I'll be forever grateful.

section#sec-gz-overview
    title An Overview of Gross-Zagier and Related Objects / Formulas of interest (Sachi)

    introduction
        p
            | Goal today is to motivate and give some high level overview of the objects in Gross-Zagier.
            | It involves many things #[m  L]-functions, elliptic curves, modular forms.
        p
            | Main reference: #[xref(ref="bib-zagier-modular")/].
    subsection
        title A big example
        p
            | Today we will study
            me E\colon y^2 + y=  x^3 + x^2
            | LMFDB label 43.a1, #[url(href="http://lmfdb.xyz/EllipticCurve/Q/43.a1/")/].
        figure
            caption/
            image: latex-image.
                \begin{tikzpicture}
                    \begin{axis}[hide axis]
                    \addplot +[no markers,
                      raw gnuplot,
                      thick,
                      empty line = jump, % not strictly necessary, as this is the default behaviour in the development version of PGFPlots
                      id = 43a1,
                      ] gnuplot {
                      set contour base;
                      set cntrparam levels discrete 0.002;
                      unset surface;
                      unset border;
                      unset xtics;
                      unset ytics;
                      set view map;
                      set samples 900;
                      set isosamples 900;
                      splot y^2  + y - x^3 - x^2;
                    };
                  \end{axis}
                \end{tikzpicture}

        p
            | One fundamental invariant we can compute is the conductor, in this case 43, we only have bad reduction at 43 and no other prime.

        p
            | To compute the real period we can transform to short Weierstrass form.
            me y^2 = x^3 - 432 x + 15120
            | then we have invariant differential
            me \frac{\diff x}{2y } = \frac{\diff x}{2\sqrt{x^3 - 432 x + 15120}}
            | .
        p
            | Real period is then
            me \omega _1 = \int_{E(\RR)} \frac{\diff x}{2y} \approx 5.4687\ldots
            | .
        p
            | For #[m E/\CC] fix a complex conjugate root of #[m E], #[m \alpha ], and #[m \beta  =] real root.
            me \omega _2 = \int_\alpha ^\beta  \frac{\diff x}{2y}
            me = 2.73434476498379 + 1.36318241817043i

        p
            | We can look at #[m E/\FF_p] for various #[m p].
            | Obtained by looking at the equation #[m y^2 + y =x^3 +x^2 \pmod p] for various #[m p].
        p
            | At 43 we have non-split  multiplicative reduction, which means that we have a singular curve with tangent slopes not defined over #[m \FF_{43}].
        figure
            caption/
            image: latex-image.
                \begin{tikzpicture}
                    \begin{axis}[hide axis]
                    \addplot +[no markers,
                      raw gnuplot,
                      thick,
                      empty line = jump, % not strictly necessary, as this is the default behaviour in the development version of PGFPlots
                      id = singularec,
                      ] gnuplot {
                      set contour base;
                      set cntrparam levels discrete 0.002;
                      unset surface;
                      unset border;
                      unset xtics;
                      unset ytics;
                      set view map;
                      set samples 900;
                      set isosamples 900;
                      splot y^2 - x^3 - x^2;
                    };
                  \end{axis}
                \end{tikzpicture}
        p
            me N_p = \# E(\FF_p)
            me L_E = \left(\frac 1 {1+43^{-s}} \right)\prod_{p\ne 43} \frac{1}{1- (N_p - p - 1)p^{-s} + p p^{-2s}}
            me  = \sum_{n\ge 1} \frac{a_n}{n^{s}}
        p
            | We can tabulate the #[m a_n]
        table
            title #[m a_n]s
            tabular
                row #[cell: m n] #[cell 1] #[cell 2] #[cell  3] #[cell  4] #[cell  5] #[cell  6] #[cell  7] #[cell  8] #[cell  9]
                row #[cell: m a_n] #[cell  1] #[cell  -2] #[cell  -2] #[cell  2] #[cell  -4] #[cell  4] #[cell  0] #[cell  0] #[cell  1]

        p
            | As we have #[m E/\QQ] we can determine that
            me E(\QQ) \simeq \ZZ \cdot \underbrace{P}_{=(0,0)}
            | .

        p
            | Next up the Néron-Tate canonical height:
            me \hat h(P) = \lim_{n\to \infty } \frac{\log(h_{\text{naive}}(2^nP))}{4^n}
            | naive height is the max of the absolute values of the numerator and denominator of the #[m  x]-coordinate.
            | In our case this is
            me \hat h(P) \approx 0.0628165070875
            | .

        p
            | We have the Hasse-Weil bound:
            me | N_p - p  + 1 | \lt 2 \sqrt p
            | so the #[m L]-function converges for #[m  \Re (s ) \gt 3/2].
            | So modularity implies that #[m L_E(s)] extends to an entire function #[m \widetilde L_E] satisfying a functional equation
            me \widetilde L_E(s) = - \widetilde L_E(2-s)
            | in particular #[m \widetilde L_E(s)] vanishes at #[m s=1].

        p
            | BSD for rank 1 then says:
            ol
                li
                    me \ord_{s=1} \widetilde L_E(s) = \rank E(\QQ) = 1
                li
                    me \frac{\diff}{\diff s} \widetilde L_E(s)|_{s=1} = \underbrace{\hat h ( P) \omega _1}_{\approx 0.34352397} |\Sha|
                    | #[m |\Sha|] is predicted to be finite (in which case the order is a square).
                    | the LHS can be computed using
                    me 2\sum_{n=1}^\infty  a_n \int_1^\infty  \log t \exp\left(- \frac{-2 n  \pi  t  }{\sqrt{43}}\right) \diff t
                    | .

        paragraphs
            title Modularity
            p
                | Goal: Verify #[m E] is modular.
                | Two definitions today:
                ol
                    li
                        | There exists a newform #[m f \in S_2(\Gamma _0(N))] with fourier coefficients the same as the #[m L]-series:
                        me a_p(f) = a_p(E)
                        | for all #[m p\nmid N].
                    li
                        | There exists #[m X_0(N) \to E] finite defined over #[m \QQ].
            p
                | Consider
                me X_0(43)
                | the modular curve for the congruence subgroup generated by #[m \Gamma _0(43) = \begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix}] with #[m c \equiv  0 \pmod{43}].
                me w_{43} =  \begin{pmatrix} 0 \amp \frac{-1}{\sqrt{43}} \\ \sqrt{43} \amp 0\end{pmatrix}
                me \Gamma _0(43)^+ \backslash \HH \simeq \text{genus 1 curve}
                | which is potentially equal to #[m E].
            p
                | Strategy: Find #[m \eta ,\xi ] s.t.
                me \eta(\tau )^2 + \eta(\tau ) = \xi (\tau )^3 + \xi (\tau )^2
                | and
                me \frac{\diff \eta}{2\xi  + 1} = f(q) \frac{\diff q}{q}
                me \xi f^2, \eta f^3
                | should be holomorphic modular forms in #[m M_4(\Gamma _0(43))] and #[m M_6(\Gamma _0(43))].
                | we can compute #[m q]-series expansions and use modular symbols to prove they exist.

        paragraphs
            title Quadratic twists of #[m E]
            p
                | Let #[m \Delta \lt  0] be a fundamental discriminant.
                me E\colon y^2 = f(x)
                | then
                me E_{\Delta }\colon \Delta y^2 = f(x)
                | these are not isomorphic over #[m \QQ].
            p
                | The #[m L]-function of #[m E_\Delta ].
                | For any #[m \Delta ] coprime to 43
                me L_{E_\Delta } (s) = \sum_{n\ge 1} \legendre \Delta  n \frac{a_n}{n^s}
                | can prove that for #[m p\nmid 6\cdot 43 \cdot \Delta ].
                me a_p(E) \leftrightarrow a_p(E_\Delta )
                | are related by considering
                me E\colon  y^2 = f(x)
                me E_\Delta \colon  \Delta y^2= f(x)
                | mod #[m p], so if #[m \Delta ] is a square we have isomorphisms locally and the #[m a_p] are equal, otherwise all non-square and squares are swapped.

            p
                | BSD says
                me L_{E,\Delta } (1) = \Omega _{E,\Delta }^+  \prod_p c_p A_\Delta
                | if #[m \rank = 0].
            p
                | Waldspurger's implies that #[m A_\Delta ] is a square.

        theorem#thm-gross-zagier-1
            title Gross-Zagier
            statement: p
                | If #[m \Delta \lt  0 ] is a fundamental discriminant which is a square mod 43, then
                me \hat h(P_\Delta ) = \frac{\sqrt{|\Delta |}}{8\pi ^2 \| f\|} L_E'(1) L_{E_\Delta }(1)
                |, where #[m P_\Delta ] is the Heegner point on #[m E] associated to the discriminant #[m \Delta ].
        p
            | Adding in Waldspurger we get
            me A(\Delta ) = c_\Delta ^2
            me \hat h(P_\Delta )= \hat h(b_\Delta  P) = b_\Delta ^2\hat h(P)
            | but also
            me \hat h(P_\Delta ) = \frac{\sqrt{|\Delta |}}{8\pi ^2 \| f\|} L_E'(1) \Omega _{E,\Delta }^+ \prod_p c_p c_\Delta^2
            | as #[m \Omega _{E,\Delta }^+ = \Omega _E^-  / \sqrt \Delta ] we have cancellation and #[m c_\Delta ^2 = b_\Delta ^2] for all #[m \Delta ].


section#sec-gz-mfs
    title Modular Curves Background I (John)

    p
        | Main references are lecture notes by Darmon and Weinstein #[q introduction to modular forms].

    definition
        statement: p
            | Let
            me \Gamma (N) = \left\{\begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix}\in \SL_2(\ZZ) : \begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix} \equiv \begin{pmatrix} 1 \amp 0 \\ 0 \amp 1 \end{pmatrix} \pmod N\right\}
            | .
            | #[m \Gamma\subseteq \SL_2(\ZZ)] is a  congruence subgroup if it contains #[m  \Gamma (N)] for some #[m N].
            | Some important examples are
            me \Gamma_1 (N) = \left\{\begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix}\in \SL_2(\ZZ) : \begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix} \equiv \begin{pmatrix} 1 \amp \ast \\ 0 \amp 1 \end{pmatrix} \pmod N\right\}
            me \Gamma_0 (N) = \left\{\begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix}\in \SL_2(\ZZ) : \begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix} \equiv \begin{pmatrix} \ast \amp \ast \\ 0 \amp \ast \end{pmatrix} \pmod N\right\}

    definition
        statement: p
            me f\colon \HH \to \CC
            | is a modular form of weight #[m 2k] for #[m \Gamma ] (with character #[m \epsilon ]) if
            ol
                li
                    | #[m f] is holomorphic on #[m \HH].
                li
                    | #[m f] is holomorphic at infinity.
                li
                    me f|_{2k} \gamma (z) = f(z)\,\forall\gamma \in \Gamma 
                    | where
                    me f|_{2k} \gamma (z) = (cz+d)^{-2k}f(\gamma z)\epsilon (d)

    example
        statement: p
            | For #[m \Gamma =  \SL_2(\ZZ)] from now on.
            me f(z+1) = f(z)
            me f\left(-\frac 1z\right) = z^{2k}f(z)
    p
        | Using this we can write
        me f(z) = f(q),\,q= e^{2\pi  i z}
        | , where #[m q] is a parameter at infinity.
        me f(q) = \sum_{n=0}^\infty a_n q^n
        | .

    definition
        statement: p
            | A modular form is a cusp form if #[m a_0 = 0].

    definition
        statement: p
            | #[m M_k(\Gamma )] is the space of weight #[m k] modular forms.
            | #[m S_k(\Gamma )] is the space of weight #[m k] cusp forms.

    example
        statement: p
            me G_{2k}(z) = \sum_{m,n\in \ZZ}' \frac{1}{(mz+n)^{2k}}
            me g_{2} = G_4(z)/2\zeta (4)
            me g_{3} = G_6(z)/2\zeta (6)
            | then
            me \Delta  = \frac{g_2^3 - g_3^2}{1728}
            | is a cusp form of weight 12.

    theorem
        statement: p
            me D\colon M_k \to S_{k+12}
            me f\mapsto \Delta f
            | is an isomorphism of vector spaces.
            me \forall k \lt  0,\, M_k = 0
            me k=2,\, M_k = 0
            | #[m  k] odd, #[m M_k = 0].
            me M_k = S_k + G_k \CC,\,\forall k \in 2\ZZ^+
        proof
            p
                me (f\Delta) (-1/z) = (cz+d)^{-k}f(z) (cz+d)^{-12} \Delta (z)
                me = (cz+d)^{-(k+12)}(f\Delta ) (z)
                | .
                | If #[m k \lt  0] , #[m f \in M_k] have #[m f^{12}\Delta ^k \in S_0 = 0].
                | #[m M_0 =\CC] corresponds to holomorphic functions on #[m \SL_2(\ZZ) \backslash \HH].
                me M_k \to \CC
                me f(q) = a_0  + a_1 q + \cdots \mapsto a_0
                me \dim(M_k / \ker) \le 1
                me M_k = S_k + G_k \CC
                | we get
            table
                title dimensions
                tabular
                    row #[cell: m n] #[cell: m \dim M_k] #[cell: m \dim S_k]
                    row #[cell: m \lt 0] #[cell: m 0] #[cell: m 0]
                    row #[cell: m 0] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 2] #[cell: m 0] #[cell: m 0]
                    row #[cell: m 4] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 6] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 8] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 10] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 12] #[cell: m 2] #[cell: m 1]
                    row #[cell: m 14] #[cell: m 1] #[cell: m 0]
                    row #[cell: m 16] #[cell: m 2] #[cell: m 1]
                    row #[cell: m 18] #[cell: m 2] #[cell: m 1]
                    row #[cell: m 20] #[cell: m 2] #[cell: m 1]
                    row #[cell: m 22] #[cell: m 2] #[cell: m 1]

    paragraphs
        title Hecke operators

        definition
            statement: p
                | #[m \Lambda ] is a lattice if it is a rank 2 #[m \ZZ]-module in #[m \CC] s.t. #[m \CC/\Lambda ] is compact.
                me \Lambda = \tau _1\ZZ + \tau _2 \ZZ
                me \dim_\RR(\tau _1 \RR + \tau _2\RR) = 2
                me \Im (\tau _2 / \tau _1 ) \gt 0
                | #[m F] is a homogeneous lattice function of weight #[m k] if it is
                me F\colon R \to \CC
                | where #[m R] is the set of lattices, such that
                me F(\lambda \Lambda ) = \lambda ^{-k}F(\Lambda )
                | #[m F] is holomorphic if #[m f\colon  \HH \to \CC]
                me f(\tau ) = F(\ZZ + \tau \ZZ)
                | is holomorphic on #[m \HH].
                me \{\text{holo. homog. wt. }k\text{ lattice fns.}\}\leftrightarrow \{\text{wt. }k\text{ mod. fms.}\}
                me F\mapsto f_F\colon \tau  \mapsto F(\ZZ+ \tau \ZZ)
                me F_f \mapsfrom f
                me F_f (\tau _1 \ZZ+ \tau _2 \ZZ) = f(\tau _2/\tau _1)
                | .

        definition
            statement: p
                | #[m F] is a homogeneous holomorphic weight #[m k] lattice function then
                me T_{n,k} F(\Delta ) = n^{k-1} \sum_{\Lambda ' \subseteq \Lambda ,\,[\Lambda : \Lambda '] = n} F(\Lambda ')
                me T_{n,k}f = f_{T_{n,k}(F_f)}
                me T_{n,k} f(z) = n^{k-1} \sum_{\gamma \in \SL_2(\ZZ)\backslash  M_n } f(\gamma  z)(cz+d)^{-k}
                | where #[m M_n \subseteq  M_2(\ZZ)] is the set of integer matrices of determinant #[m n].
                me f|\alpha \beta = (f|\alpha )|\beta 
                | .
                | The fourier expansions of these are given by
                me f(q) = a_0 + a_1 q + \cdots
                me T_{n,k}f(q) = \sum_{m = 0}^\infty \sum_{d|(m,n)} d^{k-1} a_{nm/d^2} q^m
                | fixing #[m k] we have if #[m (a,b) = 1]
                me T_aT_b = T_{ab}
                | for #[m p ] prime
                me  T_p T_{p^t} = T_{p^{k+1}} + p^{k-1} T_{p^{t-1}}
                |.

        figure
            caption The fundamental domain
            image: latex-image.

                \pgfmathsetmacro{\myxlow}{-2}
                \pgfmathsetmacro{\myxhigh}{2}
                \pgfmathsetmacro{\myiterations}{8}

                \begin{tikzpicture}[scale=2]
                    \draw[-latex](\myxlow-0.1,0) -- (\myxhigh+0.2,0);
                    \pgfmathsetmacro{\succofmyxlow}{\myxlow+0.5}
                    \foreach \x in {\myxlow,\succofmyxlow,...,\myxhigh}
                    {   \draw (\x,0) -- (\x,-0.05) node[below,font=\tiny] {\x};
                    }
                    \foreach \y  in {0.2,0.4,...,1.4}
                    {   \draw (0,\y) -- (-0.05,\y) node[left,font=\tiny] {\pgfmathprintnumber{\y}};
                    }
                    \draw[-latex](0,-0.1) -- (0,1.6);
                    \begin{scope}
                        \clip (\myxlow,0) rectangle (\myxhigh,1.1);
                        \foreach \i in {1,...,\myiterations}
                        {   \pgfmathsetmacro{\mysecondelement}{\myxlow+1/pow(2,floor(\i/3))}
                            \pgfmathsetmacro{\myradius}{pow(1/3,\i-1}
                            \foreach \x in {-2,\mysecondelement,...,2}
                            {   \draw[very thin, blue] (\x,0) arc(0:180:\myradius);
                                \draw[very thin, blue] (\x,0) arc(180:0:\myradius);
                            }
                        }
                    \end{scope}
                    \begin{scope}
                        \begin{pgfonlayer}{background}
                            \clip (-0.5,0) rectangle (0.5,1.7);
                            \clip   (1,1.7) -| (-1,0) arc (180:0:1) -- cycle;
                            \fill[gray,opacity=0.8] (-1,-1) rectangle (1,2);
                        \end{pgfonlayer}
                    \end{scope}
                \end{tikzpicture}

        p
            | These #[m T_{n,k}] operate on #[m M_k(\SL_2(\ZZ))] and we can define:

        definition
            statement: p
                | Let #[m f\in M_k(\SL_2(\ZZ))] is an eigenform if it is a simultaneous eigenvector for #[m \{T_n\}_{n=1}^\infty ].
                | We have
                me \pair - - \colon  S_k \times S_k\to \CC
                me \pair fg = \int_F f(z) \overline{g(z)} y^k \frac{\diff x \diff y}{y^2}
                | .

        proposition
            statement: p
                | #[m T_n] is self-adjoint in #[m S_k]
                me \pair{T_n f}{g}=  \pair {f}{T_ng} 
                me S_k = \bigoplus f_i \CC
                | an orthogonal basis of eigenforms.
                | #[m G_k] is an eigenform and
                me M_k = G_k \CC + \bigoplus f_i \CC
                | .

        definition
            statement: p
                | #[m f] is a  normalized eigenform if
                me a_1(f)  =1
                me a_n(f) = a_1(T_nf) = a_1(\lambda _n f) = \lambda _na_1(f) = \lambda _n 
                | .

        proposition
            statement: p
                | If #[m f\in S_k] is a normalized eigenform then
                me \QQ(a_1(f), a_2(f) , \ldots)
                | is a finite totally real extension of #[m \QQ] with degree #[m \le \dim S_k = d].
            proof
                p
                    | #[m G_k/\zeta (k)] and #[m \Delta ] have rational coefficients.
                    me M_k(\QQ) = f_1 \QQ+ \cdots + f_d \QQ
                    | #[m T_n] operates on #[m M_k(\QQ)] so
                    me T_n \hookrightarrow \Mat_d(\QQ)
                    me \mathbf T_k =\QQ[T_1,T_2, \ldots] \hookrightarrow \Mat_d(\QQ)
                    | #[m \forall \phi  \in \Hom(\mathbf T_{k}, \overline \QQ)] have #[m \im (\phi )] lies in a degree #[m \le d] extension.
                    | this is totally real because #[m T_n] are self adjoint w.r.t. a Hermitian inner product.



    paragraphs
        title Generalisation

        p
            | If #[m \Gamma ] is any congruence subgroup
            me M_k(\Gamma ) = \operatorname{Eis}_k(\Gamma ) + S_k(\Gamma )
            me M_k(\SL_2(\ZZ)) \subseteq M_k(\Gamma )

        p
            | Given #[m d|N] we have
            me f \in M_k(\Gamma (d))
            | can define dilation
            me g(z) = f(N/d z) \in M_k(\Gamma )
            | for large enough #[m k] we can find a basis of #[m M_k(\Gamma (N))] by taking dilations of products of #[m M_a(\Gamma (N))] for #[m a \lt k] and Hecke operators.

        p
            | For #[m (n,N) = 1], #[m f\in M_k(\Gamma (N))].
            me T_{n,k} f = n^{k-1} \sum_{\gamma \in \Gamma (N) \backslash M_n} (f|\gamma )(z)
            | #[m M_n] is integer upper triangular with determinant #[m n].
            | For primes #[m l]
            me l\nmid N,\, T_l f(q) = \sum a_n l q^n + l^{k-1} \sum a_n \langle l \rangle f q^{nl}
            me l | N,\, T_lf(q) = \sum a_{nl} q^n
            me \langle l \rangle f(z) = \left(f|_k \begin{pmatrix} l \amp 0 \\ 0 \amp l\inv \end{pmatrix}\right) (z)
            | .

        definition
            statement: p
                me g \in S_k(\Gamma (N))
                | s.t.
                me g(z) = f(d z)
                | for some #[m f \in S_k(\Gamma (N/d))] is called an oldform.
                | Newforms are #[m f\in S_k(\Gamma (N))] s.t.
                me \pair fg = 0
                | for all #[m g\in S_k(\Gamma (N))^{old}].


section#sec-gz-mf-heeg
    title Modular Curves and Heegner Points (Ricky)

    subsection#subsec-cm-theory
        title CM theory

        p
            | Let #[m E/\CC] be an elliptic curve so #[m E(\CC) = \CC/\Lambda_\tau  ], where #[m  \Lambda  = \ZZ + \ZZ\tau ], writing #[m E = E+\tau ], #[m \tau  \in \HH].

        p
            | Recall that
            me \End(E) = \begin{cases} \ZZ \\ \ints \subseteq K ,\,K/\QQ \text{ im. quad.}\end{cases}

        lemma
            statement: p
                me \Hom(\CC/\Lambda ,\CC/\Lambda')= \{\alpha \in \CC : \alpha  \Lambda  \subseteq \Lambda '\}
            proof: p
                | Lift #[m \phi  \colon \CC/\Lambda  \to \CC/\Lambda '] to
                me \phi  \colon \CC  \to \CC
                | to see #[m \phi (z) = \alpha  z] for some #[m \alpha  \in \CC^\times].

        p
            | So #[m \End(E_\tau ) = \{\alpha \in \CC : \alpha  \Lambda _\tau  \subseteq \Lambda _\tau \}].

            | If #[m \alpha  \cdot 1 = m_1 + m_2 \tau ] and
            me \alpha \cdot \tau  = n_1 + n_2 \tau 
            | then
            me m_2 \tau ^2 + (m_1 - n_1) \tau  - n_1 = 0
            | call these coefficients #[m A,B,C \in \ZZ].
            | And #[m \Delta = B^2 - 4AC], so #[m \Delta  = -f^2 d \lt 0] where #[m f] is the #[term conductor] of #[m \tau ] and #[m d] is the discriminant of #[m \tau ].
        p
            | Then if #[m \End(E_\tau ) \ne \ZZ] we have  
            me \End(E_\tau ) = \ZZ \oplus f \ZZ \left\lb \frac {-d + \sqrt{-d}}{2} \right \rb = \ints_\Delta  \subseteq \ints_{\QQ(\sqrt{-d})}
            | We say #[m E] has #[term CM] by #[m \ints_\Delta ].

        remark
            p
                | We can create elliptic curves with CM by #[m \ints] by creating #[m \CC/\ints].
                | In fact, all elliptic curves with  CM by #[m \ints] are isomorphic to #[m \CC/\ideal a] for #[m \ideal a] a fractional ideal of #[m \ints].
        theorem
            statement: p
                | Let #[m E/\CC] be an elliptic curve with CM by #[m \ints_K] for #[m K/\QQ] imaginary quadratic.
                | Then #[m j(E) \in \ints_{H_K}]. Where #[m H_K] is the hilbert class field of #[m K], so #[m E] admits a model over a number field.

        theorem
            statement: p
                | Let #[m G = \Gal{H_K}{K}] then we have an isomorphism
                me s\colon  \Pic(\ints_K) \to G
                me \ideal b\mapsto s(\ideal b)
                me j(\ideal a)^{s(\ideal b)} = j(\ideal b \inv \ideal a)
                | .
                | (The #[m j]-invariants generate #[m \ints_H], this characterises #[m G] as a Galois group).

    subsection#subsec-mod-curves
        title Modular curves

        p
            | Let
            me \Gamma_0 (N) = \left\{\begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix}\in \SL_2(\ZZ) : \begin{pmatrix} a \amp b \\ c \amp d \end{pmatrix} \equiv \begin{pmatrix} \ast \amp \ast \\ 0 \amp \ast \end{pmatrix} \pmod N\right\}
            | degine #[m Y_0(N) = \Gamma _0(N)\backslash \HH] , #[m X_0(N) = \Gamma _0(N)\backslash \overline \HH].
            | Then #[m X_0(N)] can be given the structure of a projective algebraic variety #[m /\QQ].

        p
            | The for #[m L/\QQ] a field we have the modular interpretation,
            me Y_0(N)(L) = \{ (E,E',\phi ) : E,E' / L\text{ ell. curves},\, \phi \colon E \to E' / L\text{ cyclic isog. degree } N\}
            | i.e. #[m \phi ] for which #[m \ker \phi  \simeq \ZZ/N].


        paragraphs
            title Atkin-Lehner involutions

            p
                | Let #[m d|N], #[m (d, N/d) = 1]. We get an involution
                me w_d  \colon X_0(N) \to X_0(N)
                | such that
                me w_N(\epsilon  \colon E \to E') = (\hat \phi \colon E' \to E)
                | (and it swaps the two cusps.????????????)
            p
                | These generate a group #[m W \subseteq \Aut(X_0(N))] with the relation
                me w_{d}w_{d'} = w_{dd'/(d,d')^2}
                | .
                | So #[m W \simeq (\ZZ/2)^s] where #[m s] is the number of primes dividing #[m N].






section#sec-gz-arch-I
    title Archimedean Local Heights I (Aash)

    introduction
        p
            | Breuil-Conrad-Diamond-Taylor proved modularity of elliptic curves over #[m \QQ].
            | Gross-Zagier assume this so we can now state results unconditionally.

        theorem
            statement: p
                me g_A(z) = \sum_{m\ge 1} \pair c {T_m c^\sigma } e^{2\pi  i m z}
                | is a cusp form of weight 2 on #[m \Gamma _0(N)] and satisfies
                me (f,g_A) = \frac{u^2 |D|^{\frac 12} L'_A(f,1)}{8\pi ^2}
                | for all #[m f] in the space of newforms of weight 2 in #[m \Gamma _0(N)].

        p
            me Cl_K \leftrightarrow \Gal HK
            me A \leftrightarrow \sigma 
            | the artin map.
            me c = (x) - (\infty ) \in J(H)
            | #[m x] a Heegner point and #[m \pair \cdot\cdot] is the global height pairing on #[m  J(H) \otimes \CC].

        p
            | #[m J] is the Jacobian of #[m X_0(N)], #[m K = \QQ(\sqrt{D})], class  number #[m h].
        p
            | #[m H/K] is the hilbert class field and #[m 2u] is the number of roots of unity in #[m K].
        p
            | Where #[m L_A] is a twisted #[m L]-function related to a component theta function, i.e.
            me r_A(n) =\# \text{integral ideals in } A \text{ of norm }n
            | .

        p
            | Also
        theorem
            statement: p
                me L'(f,\chi ,1) = \frac{8\pi ^2 (f, f) \hat h(c_{x,f})}{hu^2 |D|^{\frac12}}
                | .
                me c_x = \sum_{\sigma \in \Gal HK} x\inv(\sigma ) c^\sigma 
                | #[m x] a character of #[m \Gal HK].
                | #[m c_{x,f}] is the projection to the #[m f]-isotypical component.


    subsection
        title Height Pairings

        p
            me | \cdot |_v \colon  H_v^\times \to \RR_+^\times
            me |\alpha |_v = \alpha \bar \alpha
            | if #[m H_v \cong \CC] or #[m q_v^{-v(\alpha )}] if #[m v] is non-archimidean.
        p
            | Neron's theory gives us a unique symbol on relatively primes divisors (divisors whose supports are disjoint).
            | This pairing when defined splits up as
            me \pair ab = \sum_v \pair ab_v
            me g_A(z) = \sum_{m\ge1} \pair c{ T_m c^\sigma } e^{2\pi  i m z}
            me c=(x) - (\infty )
            me d = (x) - (0)
            | #[m (0)-(\infty )] is of finite order in #[m J(\QQ)].

        p
            me \pair c{T_m c^\sigma } = \pair c {T_m d^\sigma }
        remark
            p
                me r_A(m) = 0,\, N \gt1
                | implies #[m c,T_m d^\sigma]  are relatively prime.

        p
            | If #[m S] is a compact Riemann surface then there exists a partially defined
            me \pair \cdot \cdot \colon  \Div^0(S) \times \Div^0(S) \to \RR
            | which satisfies
            ol
                li
                    | #[m \pair ab] is defined when #[m a,b] have disjoint support.
                li
                    | #[m \pair \cdot\cdot] is bi-additive and symmetric whenever it is defined.
                li
                    | If #[m f] is meromorphic on #[m S] and
                    me a= \sum_i n_i x_i
                    me \pair{\divisor (f)} a = \sum n_i \log|f(x_i)|^2
                li
                    me \pair a {\sum_j m_j (y_j)}
                    | is continuous on #[m S\smallsetminus |a|] w.r.t each #[m y_j].
                    | Where
                    me |a|
                    | is the support of #[m a].
        paragraphs
            title Uniqueness
            p
                | Considering the difference of two symbols satisfying this then then it descends to the Jacobian as the values on #[m \divisor(f)] cancel.
            p
                | Therefore
                me J\to \RR
                me b\mapsto \pair b a
                | is a continuous homorphism.
                | Therefore the image is 0 (as 0 is the only compact function).

        paragraphs
            title Existence

            p
                | Fix #[m x_0, y_0 \in S]
                me G(x,y)  = \pair{(x)  - (x_0)}{ (y) - (y_0)}
                | where #[m x\ne y,y\ne x_0,x\ne y_0],
                | #[m G] is a Green's function
            p
                | Biadditivity
                me \implies \pair ab = \sum_{i,j} n_i m_j G(x_i, y_j)
                | #[m a = \sum n_i(x_i)], #[m b = \sum m_j(y_j)], #[m y_0 \not \in |a|,x_0 \not \in |b|].

            p
                | Conversely given #[m G(x,y)] we can define a symbol #[m \pair \cdot \cdot] if for fixed #[m x \ne y_0] the function
                me y \mapsto G(x,y)
                | on #[m S\smallsetminus\{x,x_0\}] is:
                ol
                    li
                        | continuous
                    li
                        | harmonic, i.e.
                        me \Delta _y^2 G(x,y) = 0
                        |.
                    li
                        | has logarithmic singularities of residue #[m +1,-1] at #[m y=x,y=x_0, x=y_0].
            remark
                p
                    | #[m f] has logarithmic singularities at #[m z_0] if
                    me f(z) - \alpha \log|\rho (z)|^2
                    | is continuous near #[m z_0], #[m \rho ] is holomorphic near #[m z_0] and vanishing to order #[m 1] at #[m z_0].
                p
                    | #[m \alpha ] is called the residue of this singularity.
                    | #[m \rho ] is the uniformizing parameter near #[m z_0].
                    | Same symmetric condition on #[m x].
            p
                | So this is well defined, continuous and bi-additive if
                me (|a| \cup\{x_0\}) \cap (|b| \cup \{y+0\} ) = \emptyset
                | we want to extend to #[m |a|\cap |b| = \emptyset].

            p
                | Sufficient to show
                me G(x_1,y) -G(x_2,y)
                | makes sense as #[m y\to y_0], #[m x_1, x_2 \not \subset |b| \cup\{y_0\}].
                me G(x_i, y) = - \log|\rho |^2 + c_i + O(\rho (y))
                | therefore
                me G(x_1,y) - G(x_2,y) \to c_1  - c_2
                | as #[m y \to x_0].
                | Therefore this is well defined and continuous by hypothesis 3. on #[m G(x,y)].

            p

                | #[m \pair\cdot\cdot] is defined and continuous and bi-additive now, consider
                me (f) = \sum_{j=1}^ k m_j (y_j)
                | a principal divisor, #[m x_0 \not \in |(f)|]
                me \delta \colon x\mapsto \pair {(x) - (x_0) }{f} - \left(\log|f(x)|^2 - \log|f(x_0)|^2\right)
                me = \sum m_j G(x,y_j) - \left( \log|f(x)| ^2 - \log|f(x_0)|^2\right)
                | is harmonic for #[m x \in S - \{u_0, y_k\}] and continuous everywhere so the difference is constant.

            p
                me \pair {\sum n_i(x_i)}{(f)} - \sum n_i \log|f(x_i)|^2
                me =\sum n_i \delta (x_i) = \sum n_i C = 0
                | .
            p
                | If we take #[m G] with the given hypothesis as #[m \pair\cdot\cdot].
                | #[m S  = X_0(N)(\CC)], #[m x_0 = \infty ], #[m y_0 = 0].
                | Conditions on #[m G] needed:
                ul
                    li
                        | G1 , #[m G] is a real valued continuous harmonic function on
                        me E = \{ (z,z') \in \HH^2 : z\not \in \Gamma _0(N) z'\}
                        | such that #[m G(\gamma  z, \gamma 'z') = G(z,z')] for all
                        me (z,z')\in E, \gamma ,\gamma '\in \Gamma _0(N)
                        | .
                    li
                        | G2 , Fix #[m z\in \HH]
                        me G(z,z') = e_z\log|z- z'|^2 + O(1)
                        | as #[m z'\to z], where #[m e_z] is the order of the stabilizer in #[m \Gamma _0(N)].
                    li
                        | G3 , For #[m z\in \HH] fixed
                        me G(z,z') = 4\pi  y' + O(1)
                        | as #[m z' = x' + iy' \to \infty ] and #[m G(z,z') = O(1)] at other cusps.
                    li
                        | G4 , For #[m z'\in \HH] fixed
                        me G(z,z') = 4\pi  y/N|z|^2 + O(1)
                        | as #[m z = x + iy \to 0 ] and #[m G(z,z') = O(1)] at other cusps.
            p
                | G2,G3,G4 come from uniformizing parameters , at #[m \infty ] #[m e^{2\pi i z} \leftrightarrow \rho ], non-cusp : #[m |z' -z|^{e_z} \leftrightarrow \rho ] , at 0 #[m e^{-2\pi i z}/|z|^2].
                | applies the logarithmic singularity hypothesis on #[m G].

            p
                me G(z,z') = \lim_{s\to 1} \left( G_{N,s} (z,z') + 4 \pi  E_N(w_N z, s) + 4 \pi  E_N(z', s) + \frac{K_N}{s-1}\right) + c

section#sec-gz-arch-II
    title Archimedean Local Heights II (Stevan)

    p
        | Last time: #[m \pair \cdot\cdot \colon \Div^0(S) \times \Div^0(S) \to \RR].
        | It is bi-additive and symmetric
        me b   = \divisor(f),\,a = \sum n_i x_i
        me \pair ab = \sum_j n_j \log|f(x_i)|^2
        | if #[m x_0\ne y_0 \in S]
        me G(x,y) = \pair{x-x_0}{y-y_0}
        | if
        me a =\sum n_ix_i,\,b = \sum m_j y_j
        | then
        me \pair a b = \sum n_im_j G(x_i,y_j)
        | .
    p
        | #[m G ] is continuous, harmonic, has residue #[m +1] at #[m ], #[m -1] at #[m x_0].
        | And has logarithmic singularities.

    p
        | Now we pass to modular curves, #[m S = X_0(N) = \HH^*/\Gamma _0(N)].
        me G(\gamma z,\gamma z') = G(z,z') \,\forall \gamma ,\gamma ' \in \Gamma _0(N)
        | .
    p
        | Continuous and harmonic when #[m z \not \in \gamma  z',\,\gamma \in \Gamma _0(N)].
    p
        me G(z,z')= e_z\log|z-z'|^2 + O(1)
        me z'\to z,\,z\text{fixed }
        me e_z =\#\Stab_z \Gamma _0(N)
        me G(z,z') = 4 \pi  y +O(1) \text{ as } z\to \infty 
        me G(z,z') = 4 \pi  y/N|z|^2 +O(1) \text{ as } z\to 0


    p
        | Want #[m G].
        me g(\gamma z,\gamma z') = g(z,z'),\,\gamma \in \SL_2(\ZZ)
        | with #[m g(z,z')] continuous and harmonic in #[m z,z'].
        me g(z,z' ) = \log|z-z'|^2 + O(1),\,z'\to z
        | .
        | A natural guess is
        me g(z,z') = \log \left | \frac{z-z'}{\bar z- z'}\right |^2
        me G(z,z') = \sum_{\gamma \in \Gamma _0(N)} g(z,\gamma z')
        | however this does not converge.
    p
        | Instead of asking for harmonic #[m \Delta ^2 g = 0] we instead ask that #[m \Delta ^2 g = \epsilon  g] and let #[m \epsilon \to 0].
        | This gives us a differential equation to solve.

    p
        | #[m g] is a function only of the hyperbolic distance between the points,
        me t = 1 + \frac{|z-z'|^2}{2yy'}
        me ((1-t^2) \frac{\diff^2}{\diff t^2} - 2t \frac{\diff}{\diff t} + \epsilon )Q(t) = 0
        me Q_{s-1}(t) = \frac{\Gamma (s)^2}{2\Gamma (2s)} \left(\frac{2}{1+t}\right)^2 F(s,s; 2s, \frac{2}{1+t}),\,t\gt 1,\,\epsilon  = s(s-1),\,s\gt1
        | where
        me F(a,b; c, z)= \sum_{n\ge 0} \frac{(a)_n (b)_n}{(c)_n} \frac{z^n}{n!}
        |where
        me (w)_n = \begin{cases} w(w+1)\cdots(w+n-1),\amp n\gt 0,\\1\\amp n=0\end{cases}
        |.
    p
        |So
        me Q_{s-1}(t) = -\frac12 \log(t-1)  + O(1),\,t \to 1
        me Q_{s-1}(t) = O(t^{-s}),\,t \to \infty 
        | and so we may now set
        me g_s(z,z') = -2Q_{s-1}(t) = -2 Q_{s-1}\left(1+ \frac{|z-z'|^2}{2yy'}\right)
        me G_{N,s}(z,z') = \sum_{\gamma \in \Gamma _0(N)} g_s(z,\gamma z')

    p
        | And our final Green's function is
        me G(z,z') = \lim_{s\to 1} (G_{N,s}(z,z') + 4\pi  E_N(w_N z,s) + 2\pi  E_N(z', s)+\frac{K_N}{s-1}) +C
        me E_N(z,s) = \sum_{\gamma \in \begin{pmatrix}\ast\amp\ast\\0\amp\ast\end{pmatrix}\backslash \Gamma _0(N)} \Im(\gamma z)^s,\,z\in \HH,\,\Re(s) \gt 1
        me K_N = -\frac{12}{\lb \SL_2(\ZZ) : \Gamma _0(N)\rb } = \text{a residue of }G_{N,s} \text{ at } s=1,\,G_N(z) = -\frac{1}{N}
        me =\kappa_{N}\left[\log N+2 \log 2-2 \gamma+2 \frac{\zeta^{\prime}}{\zeta}(2)-2 \sum_{p | N} \frac{p \log p}{p^{2}-1}\right]
        me E_{N}(z, s)=N^{-s} \prod_{p | N}\left(1-p^{-2 s}\right)^{-1} \cdot \sum_{d | N} \frac{\mu(d)}{d^{s}} E\left(\frac{N}{d} z, s\right)
    p
        | Asymptotics
        me E(z, s)=y^{s}+\phi(s) y^{1-s}+O\left(e^{-y}\right) \quad(y=\operatorname{Im}(z) \rightarrow \infty)
        |where
        me \phi(s)=\frac{\Gamma\left(\frac{1}{2}\right) \Gamma\left(s-\frac{1}{2}\right)}{\Gamma(s)} \frac{\zeta(2 s-1)}{\zeta(2 s)}
        | and importantly
        me G\left(z, z^{\prime}\right)=G\left(w_{N} z^{\prime}, w_{N} z\right)
        | .
    proposition: statement: p
        | Let #[m x,x'\in X_0(N)] be non-cuspidal
        me \begin{aligned}\langle(x)\amp\left.-(\infty),\left(x^{\prime}\right)-(0)\right\rangle_{\mathbb{C}} \\ \amp=\lim _{s \rightarrow 1}\left[G_{N, s}\left(z, z^{\prime}\right)+4 \pi E_{N}\left(w_{N} z, s\right)+4 \pi E_{N}\left(z^{\prime}, s\right)+\frac{\kappa_{N}}{s-1}\right]+C \end{aligned}
        | .
        | This can be re-stated as
        me \begin{aligned}\amp\langle(x)-(\infty), T_{m}\left(\left(x^{\prime}\right)-(0)\right)\rangle_{\mathbb{C}} \\=\amp \lim _{s \rightarrow 1}\left[G_{N, s}^{m}\left(z, z^{\prime}\right)+4 \pi \sigma_{1}(m) E_{N}\left(w_{N} z, s\right)\right.\\ \amp\left.+4 \pi m^{s} \sigma_{1-2 s}(m) E_{N}\left(z^{\prime}, s\right)+\frac{\sigma_{1}(m) \kappa_{N}}{s-1}\right]-\sigma_{1}(m) \lambda_{N}+2 \sigma_{1}(m) \kappa_{N} \end{aligned}

    p
        | Now let #[m x] be a Heegner point and take
        me c= (x)  - (\infty )
        me d = (x)-(0)
        | then #[m \sigma \in \Gal HK \leftrightarrow \mathscr A\in \Cl_K].
        | If #[m \gcd(M,N) = 1] then
        me r_{\mathscr A} (m ) = 0 \implies |c| \cap |T_m (d)| = \emptyset
        | .

    p
        | What we want:
        me S = \pair c {T_md}_\infty  = \sum_{v|\infty } \pair c {T_md^\sigma }_v
        | sum goes over #[m h_K] archimidean places of #[m K].
        me S = \sum_{\mathscr{A}_{1}, \mathscr{A}_{2} \in \mathrm{Cl}_{K} , \mathscr{A}_{1} \mathscr{A}_{2}^{-1}=\mathscr{A}, \mathscr{A}_{1} \mathscr{A}_{2}[\mathfrak{n}]^{-1}=\mathscr{B}} G_{N . s}^{m}\left(\tau_{\mathscr{A}_{1}, \mathbf{n}}, \tau_{\mathscr{A}_{2}, \mathrm{n}}\right)
        | we will compute #[m S] using the above
        me \begin{aligned}\left\langle c, T_{m} d^{\sigma}\right\rangle_{\infty}=\amp \lim _{s \rightarrow 1}\left[\gamma_{N, s}^{m}(\mathscr{A})+4 \pi \sigma_{1}(m) \sum_{\mathscr{A}_{1} \in \mathrm{Cl}_{K}} E_{N}\left(w_{N} \tau_{\mathscr{A}_{1}, \mathbf{n}}, S\right)\right.\\ \amp\left.+4 \pi m^{s} \sigma_{1-2 s}(m) \sum_{\mathscr{A}_{2} \in \mathrm{Cl}_{K}} E_{N}\left(\tau_{\mathscr{A}_{2}, \mathbf{n}}, S\right)+\frac{h_{K} \sigma_{1}(m) \kappa_{N}}{S-1}\right] \\ \amp-h_{K} \sigma_{1}(m) \hat{\lambda}_{N}+2 h_{K} \sigma_{1}(m) \kappa_{N} \end{aligned}
        | and apply
        me \begin{aligned} \sum_{\mathscr{A} \in \mathrm{Cl}_{K}} E_{N}\left(w_{N} \tau_{\mathscr{A}, \mathfrak{w}}, s\right) \amp=\sum_{\mathscr{A} \in \mathrm{Cl}_{K_ { K }}} E_{N}\left(\tau_{\mathscr{A}, \mathfrak{n}}, s\right) \\ \amp=N^{-s} \prod_{p | N}\left(1-p^{-2 s}\right)^{-1} \sum_{d \backslash N} \frac{\mu(d)}{d^{s}} \sum_{\mathscr{A} \in \mathbb{Cl}_{K}} E\left(\frac{N}{d} \tau_{\mathscr{A}, \mathfrak{n}}, s\right) \end{aligned}
        | so we must only compute
        me \sum_{\mathscr{A} \in \mathrm{Cl}_{K}} E\left(\frac{N}{d} \tau_{\mathscr{A}, \mathrm{n}}, s\right)
        | .
        | #[m \tau _{\mathscr A, \mathfrak n}] is a solution of
        me a\tau ^2 + b\tau  + c = 0
        | of discriminant #[m D = b^2 -4ac].
        | So all other
        | #[m \frac Nd \tau _{\mathscr A, \mathfrak n}] is a solution of some quadratic equation of discriminant #[m D = b^2 -4ac].
        | From analytic number theory we have the formula
        me E\left(\tau_{\mathscr{A}}, s\right)=2^{-s}|D|^{s / 2} u \zeta(2 s)^{-1} \zeta_{K}(\mathscr{A}, s)
        | with #[m u] half the number of units in #[m K].
        me \zeta_{K}(\mathscr{A}, s)=\sum_{\mathfrak{a} \text { integral } ,\,[\mathfrak{a}]=\mathscr{A}} \frac{1}{N(\mathfrak{a})^{s}}
        | as we also have
        me  \sum_{\mathscr{A}} \zeta_{K}(\mathscr{A}, s)=\zeta_{K}(s)
        | .
    p
        | we then get
        me \begin{aligned}\left\langle c, T_{m} d^{\sigma}\right\rangle_{\infty}=\amp \lim _{s \rightarrow 1}\left[\gamma_{N, s}^{m}(\mathscr{A})+\frac{2^{2-s}|D|^{s / 2} \pi u}{N^{s} \prod_{p | N}\left(1+p^{-s}\right)}\left(\sigma_{1}(m)+m^{s} \sigma_{1-2 s}(m)\right) \frac{\zeta_{K}(s)}{\zeta(2 s)}\right.\\ \amp\left.+\frac{h_{K} \sigma_{1}(m) \kappa_{N}}{s-1}\right]-h_{K} \sigma_{1}(m) \lambda_{N}+2 h_{K} \sigma_{1}(m) \kappa_{N} \end{aligned}
        | where we may substitute
        me \begin{aligned} \zeta_{K}(s) \amp=\zeta(s) L(s, \varepsilon) \\ \amp=\left(\frac{1}{s-1}+\gamma+O(s-1)\right)\left(L(1, \varepsilon)+L^{\prime}(1, \varepsilon)(s-1)+O(s-1)^{2}\right) \end{aligned}
        | to finally obtain
        me \begin{aligned}\left\langle c, T_{m} d^{\sigma}\right\rangle_{\infty}=\amp \lim _{s \rightarrow 1}\left[\gamma_{N, s}^{m}(\mathscr{A})-\frac{h_{K} \sigma_{1}(m) \kappa_{N}}{s-1}\right] \\ \amp+h_{K} \kappa_{N}\left[\sigma_{1}(m)\left(\log \frac{N}{|D|}+2 \sum_{p | N} \frac{\log p}{p^{2}-1}+2+2 \frac{\zeta^{\prime}}{\zeta}(2)-2 \frac{L^{\prime}}{L}(1, \varepsilon)\right)\right.\\ \amp\left.+\sum_{d | m} d \log \frac{m}{d^{2}}\right] \end{aligned}
        | .
    p
        | To compute the archimidean local height when the supports are not disjoint (i.e. #[m r_{\mathscr A}(m) \ne 0])
        | We consider the simplified case of
        me \{x\} = |a| \cap |b|
        | then
        me \pair a b_{v,g} = \lim_{y\to x} (\pair {a_y}{b} - \ord_x(a) \ord_x(b) \log |g(y)|_v)
        |where #[m g] is a uniformizer at #[m x] i.e. #[m \ord_x(g) =1].
        | and #[m a_y] is the divisor #[m a] with #[m y] in place of #[m x].
        me a = n_x x + \cdots
        me a_y = n_x y + \cdots
        | so #[m |a_y | \cap |b| = \emptyset].
        | If #[m g'] is another uniformizer at #[m x] then
        me \sum_{v} \pair a b_{v,g}  -\pair ab_{v,g'} = \ord_x(a) \ord_x(b) \log|g'/g(x)|_v
        | so this gives a well defined global height by the product formula.

    p
        | In our setting we have
        me c = (x) -(\infty ),\,d = (x) - (0)
        | and #[m \ord_x(c)  = 1,\,\ord_x(T_m(d^\sigma )) = r_{\mathscr A}(m)]
        | so under this definition
        me \pair c {T_md^\sigma} = \lim_{y\to x} \pair {c_y}{T_md^\sigma } - r_{\mathscr A} (m)\log(|g(y)|_v)
        me \omega=\eta^{4}(z) \frac{d q}{q}=2 \pi i \eta^{4}(z) d z
        | with
        me \eta(z)=q^{1/{24}} \prod_{n}\left(1-q^{n}\right)
        | the Dedekind eta-function.
    p
        | So for #[m v]  a complex places
        me \log |g(y)|_{v}-u \log \left|2 \pi i \eta^{4}(z)(w-z)\right|_{v} \rightarrow 0
        | as #[m y \to x].

section#sec-deuring-lift
    title Deuring's theory of lifts (Angus)

    p
        | Notations:
        | #[m X = X_0(N)/\QQ], #[m x  = (E \to E')] a heegner point of discriminant #[m D], with CM by #[m \ints_K].
        | #[m H] the Hilbert class field of #[m K], #[m v] a place of #[m p].
        me c = (x) - (\infty ),\, d = (x) - (0)
        me \operatorname{Art}_K \colon \Cl_K \to \Gal H K
        me \mathscr A \to \sigma 
        me r_{\mathscr A}(m) = \# \text{integral ideals of }\ints_K\text{ in the class of }\mathscr A \text{ of norm }m
        me \Lambda _v = \text{ring of integers in the completion }H_v
        me W = (\Lambda _v^{nr})^\wedge
        me \pi _v, k_v, q_v
        me \mathcal X/\Lambda _v
        | a model of #[m X] over #[m \Lambda _v].

    paragraphs
        title Meta-Goal

        p
            | Understand

            me g_{\mathscr A}(z) = \sum_{m=1}^\infty \pair c {T_m d^\sigma } e^{2\pi  i m z}
            | strategy is to decompose
            me \pair a b = \sum_v \pair ab_v
            | so far, seen the archimidean #[m v] case.
            | Today, nonarchimidean.

        p
            | Following GZ and Michigan seminar.

    subsection
        title Generalities on nonarchimidean local heights

        theorem
            statement: p
                | Let #[m a,b\in \Div^0(X \otimes H_v)] be relatively prime divisors.
                | Let #[m A,B] be extensions of these to divisors on #[m \mathcal X] such that
                me (A. \mathcal Y) = (B. \mathcal Y) = 0
                | for all irreducible components #[m \mathcal Y] of #[m \mathcal X\otimes k_v].
                | Then
                me \pair ab_v = -(A.B) \log q_v
                |.
        remark: p #[m \mathcal X] is an arithmetic surface.

        theorem
            title G-Z III.3.3
            statement: p
                | Let #[m m \ge 1] s.t. #[m (m,N) = 1] and #[m r_{\mathscr A}(m)= 0].
                | Then
                me \pair c{T_m d^\sigma }_v = -(\underline x. T_m \underline x^\sigma ) \log(q_v)
                | where #[m \underline x \in \mathcal X(\Lambda _v)] corresponding to #[m x].
        proposition
            title G-Z III.4.4
            statement: p
                | Assumptions as  above, then
                me (\underline x. T_m \underline x^\sigma ) = \frac12 \sum_{n=1}^\infty  \#\Hom_{W/\pi _v^n}(\underline x^\sigma , \underline x)_{\deg m}
                | where for #[m \underline x = (E_1 \to E_1')] and #[m \underline y = (E_2 \to E_2')].
                | An element #[m (f,f') \in \Hom(\underline x,\underline y) ] is
                me.
                    \xymatrix{
                    E_1 \ar[r] \ar[d]_{f} &amp; E_1' \ar[d]^{f'}\\
                    E_2 \ar[r] &amp; E_2'}
                | .

        p
            | Today we will begin the proof of this proposition in the case that #[m p] is split in #[m K].
            | In this case LHS and RHS are both 0.
    subsection
        title Deuring's theory of lifts

        p
            | Let #[m E/F] be an elliptic curve over a number field with CM by #[m K], (#[m \End (E) = \ints_K]).
            | We'll begin by studying the reductions #[m \overline E \pmod p].

        definition
            statement: p
                | Let #[m \overline E /\FF_q] be an elliptic curve.
                | We say #[m \overline E] is ordinary if #[m \overline E\lb p\rb (\overline F_q) = \ZZ/p], supersingular if this group is 0.

        theorem
            statement: p
                | TFAE
                ol
                    li

                        me \overline E \lb p\rb (\overline \FF_q) = 0
                    li
                        me \lb p\rb \colon \overline E \to \overline E
                        | is purely inseparable and #[m j(\overline E) \in \FF_{p^2}].
                    li
                        | #[m \End(\overline E)] is an order in a quaternion algebra.

        remark: p One criterion for #[m \phi \colon C_1 \to C_2] to be separable is that #[me \phi ^* \colon \Omega _{C_2} \to \Omega_{C_1}] is nonzero.

        proposition
            statement: p
                | Let #[m E/F] be an elliptic curve over a number field with CM by #[m K] (#[m \End (E) = \ints_K]).
                | let #[m \wp| p] be a prime of #[m FK] s.t. #[m E] has good reduction #[m \overline E] mod #[m \wp \cap \ints_F]. Then
                me \overline E \text{ is ordinary} \iff p \text{ splits in }K

            proof
                p
                    | #[m p\ints K = \ideal p \ideal p'], sat #[m \wp / \ideal p].
                    | Let #[m m] be the order of #[m \ideal p] in #[m \Cl_K], so that
                    me \ideal p ^m  = (\mu ) , (\ideal p')^m = (\mu ')
                    | change by units if necessary so that
                    me \mu \mu ' = p^m
                    | then
                    me [\mu '] \in \End(E)

                    | Let #[m \omega  \in \Omega _E] and note
                    me [\mu ']^* \omega  = \mu '\omega 
                    | since #[m \mu ' \not \in \ideal p], #[m \lb \mu '\rb ^*\omega   \not \equiv 0 \pmod {\ideal p}].
                    | So #[m \lb \mu '\rb  \in \End(\overline E)] is separable and of #[m p]-power degree.
                    | This implies
                    me \lb p\rb 
                    | is not purely inseparable so #[m \overline E ] is ordinary.
                p
                    | Consider #[m \overline E] ordinary,
                    me \ints_K \otimes \ZZ_p \simeq \End(\overline E) \otimes \ZZ_p \to \End_{\ZZ_p}(T_p(\overline E)) \simeq \ZZ_p
                    | tensoring with #[m \QQ] gives,
                    me K\otimes \QQ_p \to \QQ_p
                    | the LHS is 2-dimensional over #[m \QQ_p], so this map cannot be an injection.
                    | So #[m K\otimes \QQ_p] cannot be a field so #[m p] splits in #[m K].


        definition
            statement: p
                | Let #[m E/K] be an ordinary elliptic curve over a perfect field of characteristic #[m p].
                | A canonical lift is an elliptic curve
                me \mathscr E/W(K)
                | s.t. the connected-etale sequence
                me 0\to\mathscr E [p^\infty ]^0 \to \mathscr E [p^\infty ] \to \mathscr E[p^\infty ]^{et} \to 0
                | splits.


        theorem
            statement: p
                | Let
                me E_0 /\overline \FF_p
                | be an elliptic curve and #[m \alpha _ 0 \in \End(E_0)].
                | Then there exists an elliptic #[m E/F] over a number field and #[m \alpha \in \End(E)] and #[m \ideal p /p] of #[m \ints_F] s.t.
                me (E,\alpha ) \equiv  (E_0, \alpha _0) \pmod {\ideal p}
                | .
            proof: p
                | First note that if we have a lift then we can trivially lift #[m \alpha _0 = \lb n\rb ].
                | So we can reduce to the case
                ol
                    li
                        | #[m \ker (\alpha _0)] is cyclic.
                    li
                        | #[m p\nmid \deg(\alpha _0)].

                | now let #[m n = \deg(\alpha _0)].
                | Let #[m j] be transcendental over #[m \QQ] and
                me E(j)/\QQ(j)
                |and elliptic curve with that #[m j]-invariant.
                | Let #[m C_1, \ldots, C_{\psi (n)}] be the cyclic order #[m n] subgroups of #[m E(j)] and consider the isogenies
                me E(j) \to E(j)/C_i = E(j_i)
                | (#[m \psi] is the Dedekind #[m \psi] function #[m \psi(n) = n\prod_{p|n}(1+1/p)]).
                | Fact: Each #[m j_i] is integral over #[m \ZZ\lb j\rb ]/
                | Consider #[m \ZZ\lb j,j_1,\ldots, j_n\rb ] and its integral closure #[m R] in #[m \QQ(j,j_1, \ldots, j_n)].
                | We have a map
                me \ZZ[j] \to \overline \FF_p
                me j \mapsto j(E_0)
                | which can be extended to
                me R \xrightarrow\phi \overline \FF_p
                | and let
                me \ideal m = \ker (\phi )
                | we have #[m \overline {E(j)} \cong E_0 \pmod{\ideal m}].
                | Consider the reductions
                me \overline C_i,\overline{E(j_i)}
                | . Since #[m p\nmid n] the reduction is injective on #[m n]-torsion.
                | So #[m \overline C_i] cover all the cyclic order #[m n] subgroups of #[m E_0].
                | This for some #[m i] we have #[m \ker(\alpha _0) = \overline C_i],
                | so
                me E(j) \to E(j_i)
                | reduces to #[m \alpha _0].
                | Note:
                me \overline{E(j)} \cong \overline{E(j_i)} \implies (p, j-  j_i) \subseteq \ideal m
                | .
                | Pick a minimal prime over #[m (j - j_i)] in #[m R] and let #[m \ideal q] be an extension to #[m \overline R] (the integral closure of #[m R] in #[m \overline{\QQ(j)}].)
                | Note #[m \ideal q \cap \ZZ = 0] else #[m \ideal q | q] and thus be height #[m \ge 2].
                | So #[m \overline E/ \ideal q] is an integral extension of #[m \ZZ] and
                me E(j)_{\ideal q} \simeq E(j_i)_{\ideal q}
                | Let #[m F = \Frac (\overline R/\ideal q)], #[m E = E(j)_{\ideal q}], #[m \ideal p = \ideal m /\ideal q], let #[m \alpha ] be the composition
                me \alpha  \colon E(j)_{\ideal q} \to E(j_i)_{\ideal q} \xrightarrow\sim E(j)_{\ideal q}
                | .
                | So #[m \alpha  \equiv  \alpha _0 \circ \sigma] for #[m \sigma  \in \Aut(E_0)].
                | We can lift automorphisms because #[m \pm1 ] lift trivially and the only other possibilities are #[m j(E_0) = 0,1728] and these lift as #[m E\colon y^2 = x^3 - 1,E\colon y^2 = x^3-x] respectively.


        p
            | If #[m E_0] is ordinary #[m \End(E_0) = \ints_K = \ZZ+ \tau _0\ZZ] then applying Deuring lifting to #[m (E_0, \tau _0)] gives #[m (E, \tau )] i.e.
            me \End(E) = \ZZ+ \tau  \ZZ \simeq \ints_K
            | .


    subsection
        title Beginning of the proof of the Prop

        proposition
            statement: p
                me (\underline x. T_m \underline x^\sigma ) = \frac12 \sum_{n=1}^\infty  \#\Hom_{W/\pi _v^n}(\underline x^\sigma , \underline x)_{\deg m}

        fact
            statement: p
                ol
                    li
                        me \Hom_{W/\pi _v^{n+1}}(\underline x^\sigma , \underline x) \hookrightarrow \Hom_{W/\pi _v^n}(\underline x^\sigma , \underline x)
                        | (4.5) in Gross-Zagier
                    li
                        me \Hom_{W}(\underline x^\sigma , \underline x) = \bigcap_n \Hom_{W/\pi _v^n}(\underline x^\sigma , \underline x)
                        | (4.5) in Gross-Zagier
                    li: me \# \Hom_{W/\pi _v^n}(\underline x^\sigma , \underline x)_{\deg m} = r_{\mathscr A}(m)


        p
            | Deuring lifting implies that #[m \End_W(\underline x) \simeq \End_{W/\pi _v}(\underline x)].
            | Serre-Tate gives that
            | Deuring lifting implies that #[m \Hom_W(\underline x^\sigma , \underline x) \simeq \Hom_{W/\pi _v}(\underline x^\sigma , \underline x)].
            | The LHS is then zero via computing the intersection.

section#sec-gz-serre-tate
    title Serre-Tate theory (Alex)


    p

        | We will work in generality following Katz's Serre-Tate Local Moduli #[xref(ref="bib-katz-serre-tate")/].
        | Note that Hida #[xref(ref="bib-hida-geometric")/] also has a modernized exposition of the same.
        | The original #[q source] material is Woods hole notes, sketchy at best.
    p
        | Recall that one thing we will try and do is to prove the following formula
        me (\underline x. T_m \underline x^\sigma ) = \frac12 \sum_{n=1}^\infty  \#\Hom_{W/\pi _v^n}(\underline x^\sigma , \underline x)_{\deg m}
        | 


    p
        | To do this we want to understand more about the special nature of Heegner points, representing pairs of CM elliptic curves.
        | Angus told us last time about how to lift curves together with an endomorphism from #[m \FF_q] to a number field.
        | The set of all lifts to positive characteristic of a given curve over a finite field, can be thought of as deformations of the given curve.
        | The aim is to describe these deformations in terms of a simpler object.

    p
        | We will work in generality, because it isn't really any harder, and makes it a bit clearer in some cases.
        | That is we will work with #[em abelian schemes] which are higher dimensional generalizations of elliptic curves (e.g. products of elliptic curves, weil restrictions, or jacobians of higher genus curves).
        | You can replace abelian scheme with elliptic curve if you like and restrict to dimension #[m g =1].
        | .
        | We let #[m R] be a ring, and define the category
        me \mathrm{AbSch}(R) = \{\text{abelian schemes over} R\}
        | .
    p
        | We will fix #[m W] a complete DVR with residue field #[m \overline \FF_p] (i.e. #[m W] could be the Witt vectors of #[m \overline  \FF_p]).
        | Complete means that
        me W = W_\infty  =\varprojlim_{m} \underbrace{W/p^m}_{=W_m}
        | The for #[m m =1,2,\ldots, \infty ] we let #[m R] be a base ring
        | Given #[m R] ring we can reduce to the residue field, but this map is many to one, what is the smallest amount of data needed to recover #[m A/R] an abelian scheme from #[m A_0/R_0]?

    p
        | Our rings today will probably all be complete local #[mR]-algebras.

    p
        | Given any abelian scheme #[m A/R] over any ring we can form its #[m p]-divisible group, also known as a Barsotti-Tate group
        me A[p^\infty ]
        | this is #[q p-divisible] as given any #[m p]-power torsion point on #[m A] its division by #[m p] is also #[m p]-power torsion.
        | Formally the definition is
    definition
        statement: p
            | A #[m p]-divisible group #[m G] over #[m R] of height #[m h] is an inductive system
            me G = (G_v, i_v),\,v \ge 0
            | where each #[m G] is a finite group scheme over #[m R] of order #[m p^{vh}] and for each #[m v\ge0]
            me 0 \to G_v \xrightarrow{i_v} G_{v+1} \xrightarrow{p^v} G_{v+1}
            | is exact, so #[m i_v] is the kernel of #[m p^v].

    example
        statement: p
            | For normal abelian groups (i.e. constant group schemes) we must have
            me G_v = (\ZZ/p^v)^h
            | with
            me \lim G_v = (\QQ_p/\ZZ_p)^h
            | .
    example
        statement: p
            | For abelian varieties #[m A] of dimension #[m d] we have
            me (A[p^v], i_v\colon A[p^v] \hookrightarrow A[p^{v+1}])
            | of height #[m h =2d].
            | Note this is true even in the supersingular case!

    p
        | Given a map of rings #[m R \to R_0] let the category of deformations be
        me \mathrm{Def}(R,R_0) =\{(A_0, G, \epsilon ) : A_0/R_0\text{ abelian scheme},\,G/R\text{ a }p\text{-divisible group},\,\epsilon \colon G_0 \to A_0 [p^\infty ]\}
        | #[m \epsilon ] an isom of #[m p]-divisible groups ove #[m R_0].
        | So these are abelian schemes over the #[q small] ring and a choice of compatible #[m p]-divisible group over the big ring.
    p
        | With this setting we have a nice map as follows
        | If #[m R] is a ring with #[m p] nilpotent, #[m I \subseteq R] a nilpotent ideal and #[m R_0 = R/I] then
        me \mathrm{AbSch}(R) \to \mathrm{Def}(R,R_0)
        me A \mapsto (A_0, A[p^\infty ],A[p^\infty ]\otimes R_0 \simeq A_0 [p^\infty ])
        | .
    theorem
        title Serre-Tate
        statement: p
            | This functor is an equivalence of categories.

    p
        | Thus the set of deformations of a fixed #[m A_0] corresponds to deformations of #[m A_0\lb p^\infty \rb ].
    p
        | This is a kinda ridiculous theorem, it tells us that all the information in an abelian variety over #[m R] is contained in the reduction to #[m R_0] except the #[m p^\infty] torsion and the information of how this fits together.
    p
        | Hence to study the abelian varieties over #[m R] reducing to a given #[m A_{R_0}/R_0] we can just study the #[m p]-divisible groups over #[m R] with an isomorphism to #[m A_{R_0}\lb p^\infty\rb].


    subsection
        title Drinfeld's proof of Serre-Tate

        p
            | Drinfeld's proof cleverly extracts the content common to both things we are lifting, the abelian scheme and the #[m p]-divisible group.

        p
            | Let #[m R] be a local #[m W_m]-alg.
            | #[m I \subseteq R] a nilpotent ideal with nilpotency index #[m \nu + 1], let #[m R_0 = R/I].
            | #[m N = p^t] an integer s.t. #[m N I = 0].
            | Given an #[m R]-algebra #[m A] we might consider
            me A/IA = A \otimes R_0
            | and also
            me  A/\ideal m_A
            | .
        p
            | So given a functor from #[m R]-algebras to an arbitrary abelian category
            me G \colon R\text{-alg}\to C
            | we have two natural #[em subfunctors]
            me G_I \colon A \mapsto \ker( G(A) \to G(A\otimes R_0))
            me \widehat G(A) \colon A \mapsto \ker(G(A) \to G(A/\ideal m_A))
            |, note that
            me G_I \subseteq \widehat G
            |.


        p
            | What are formal groups?

        definition#def-formal-gps
            title Formal groups
            statement
                p
                    | A #[m n]-dimensional #[term formal group] over a ring #[m R] is a power series
                    me F(x,y) = (x_1, \ldots, x_n) + (y_1,\ldots,y_n) + O(\text{degree 2 terms}) \in (R[[x_1,\ldots, x_n,y_1,\ldots, y_n]])^n
                    | that is associative in the sense that
                    me F(F(x,y),z) = F(x,F(y,z))
                    | .
                p
                    | The formal group is #[term commutative] if #[m F(x,y) = F(y,x)].

        p
            | Given an abelian variety we can get a 1-dimensional formal group by completing at the origin.
            | E.g. for an elliptic curve
            me y^2 = x^3 + ax +b
            | we can express #[m x = x(t) =t^{-2} + \cdots], #[m y = -t^{-3} + \cdots]
            me \frac{1}{t^{2}} - at^{2} - bt^{4} - a^{2}t^{6} - 3 a bt^{8} + \left(-2 a^{3} - 2 b^{2}\right)t^{10} - 10 a^{2} bt^{12} + \left(-5 a^{4} - 15 a b^{2}\right)t^{14} + \left(-35 a^{3} b - 7 b^{3}\right)t^{16} + \left(-14 a^{5} - 84 a^{2} b^{2}\right)t^{18} + O(t^{20})
            me \frac{-1}{t^{3}} + at + bt^{3} + a^{2}t^{5} + 3 a bt^{7} + \left(2 a^{3} + 2 b^{2}\right)t^{9} + 10 a^{2} bt^{11} + \left(5 a^{4} + 15 a b^{2}\right)t^{13} + \left(35 a^{3} b + 7 b^{3}\right)t^{15} + \left(14 a^{5} + 84 a^{2} b^{2}\right)t^{17} + \left(126 a^{4} b + 84 a b^{3}\right)t^{19} + O(t^{20})
            | then the group law in terms of #[m t] is
            me t_{1} + t_{2} + \left(-2 a\right) t_{1}^{4} t_{2} + \left(-4 a\right) t_{1}^{3} t_{2}^{2} + \left(-4 a\right) t_{1}^{2} t_{2}^{3} + \left(-2 a\right) t_{1} t_{2}^{4} + \left(-3 b\right) t_{1}^{6} t_{2} + \left(-9 b\right) t_{1}^{5} t_{2}^{2} + \left(-15 b\right) t_{1}^{4} t_{2}^{3} + \left(-15 b\right) t_{1}^{3} t_{2}^{4} + \left(-9 b\right) t_{1}^{2} t_{2}^{5} + \left(-3 b\right) t_{1} t_{2}^{6} + \left(-2 a^{2}\right) t_{1}^{8} t_{2} + \left(8 a^{2}\right) t_{1}^{6} t_{2}^{3} + \left(16 a^{2}\right) t_{1}^{5} t_{2}^{4} + \left(16 a^{2}\right) t_{1}^{4} t_{2}^{5} + \left(8 a^{2}\right) t_{1}^{3} t_{2}^{6} + \left(-2 a^{2}\right) t_{1} t_{2}^{8} + O(t_{1}, t_{2})^{10}
            | .
        p
            | In general an #[m n]-dimensional abelian variety gives an #[m n]-dimensional formal group.
        p
            | Given a complete local ring #[m R] we can evaluate by substituting #[m t] for anything in the maximal ideal.
            | So a formal group #[m G] defines a functor
            me G\colon \text{complete local }R\text{-algebras} \to \text{AbGrp}
            me G(A) = (\ideal m_A)^n\text{with multiplication by }G
            | .

        lemma
            statement: p
                | Let #[m G] be a commutative formal group over #[m R], so  #[m G_I,\widehat G] are now sub-group functors.
                | #[m G_I] is #[m N^\nu] torsion.
            proof: p
                | We need to show that #[m \lb N\rb a = 0] for any #[m a \in G_I(A) \subseteq G(A)] for which #[m a_i \in I] for all #[m i].
                | An element of #[m G_I(A)] has coordinates in #[m IA] and #[m NR = 0] so we have
                me  (\lb N\rb a)_i = N a_i + \text{h.o.t.} \in N(IA) + (IA)^2 = (IA)^2
                | as #[m R] and hence #[m A] is #[m N] torsion, this gives inductively that
                me ([N^\nu] a)_i \in (IA)^{2\nu}  =0
                | as #[m I^{\nu + 1}   =0 ].


        definition
            statement: p
                | Given a covariant functor
                me G \colon \text{complete local} R-alg \to \text{AbGrp}
                | which for any faithfully flat finite type #[m A \hookrightarrow C] we have
                me G(A)\hookrightarrow G(C)
                | and #[q the sheaf condition] w.r.t #[m A\hookrightarrow C]. Is called an fppf abelian sheaf.

        example
            statement: p
                me G(A) = E(A)
                | for #[m E] an abelian variety.

        lemma
            statement: p
                | Let #[m G,H] be fppf abelian sheaves. And set #[m G_0, H_0] the corresponding objects restricted to #[m R_0].
                | Suppose
                ol
                    li
                        | #[m G] is #[m p]-divisible.
                    li
                        | #[m \hat H] is formal.
                    li
                        | #[m H (R) \to H(R/J)] surjective for any nilpotent #[m J] (this is known as formal smoothness of #[m J])
                | then
                ol
                    li
                        | Both
                        me \Hom (G,H),\,\Hom(G_0,H_0)
                        | are #[m p]-torsion free.

                    li
                        | The reduction mod #[m I]
                        me \Hom(G, H) \to  \Hom(G_0, H_0)
                        | is injective.
                    li
                        | For #[m f_0 \in \Hom(G_0,H_0)], there is a unique #[m \Phi (G, H)] with
                        me \Phi \equiv  N^\nu f_0 \mod I
                        | denote #[m \Phi = \tilde N^\nu f \in \Hom(G,H) \otimes \QQ]
                    li
                        | we get
                        me f = \frac{\tilde N^\nu f}{N^\nu } \in \Hom (G,H)
                        me \iff
                        me \tilde N^\nu  (G[N^\nu  ] ) = 0
            proof
                p
                    ol
                        li
                            | #[m p]-divisibility implies that if #[m pf = 0] so #[m pf(x)=  0] for all #[m x] then if #[m py = x] we have 
                            me f(x) = pf(y) =0
                            | so #[m f = 0].

                        li
                            | We can write
                            me 0 \to H_I \to H \to H_0 \to 0
                            | so that by left exactness of hom
                            me 0 \to \Hom(G, H_I) \to  \Hom(G, H) \to  \Hom(G, H_0) = \Hom(G_0, H_0)
                            | so the second map is what we want so we want
                            me \im(\Hom(G, H_I) \to \Hom(G,H)) = 0
                            | rhs p-tors free, and #[m H_I] is killed by #[m N^\nu ] (using formality of #[m \hat H ] here and another lemma I didn't really state).

                        li
                            | Uniqueness follows from 2. so we just lift 
                            me f_0 \in \Hom(G_0, H_0)
                            | to #[m y \in H(A)].


    p
        | Proof of serre tate:
    p
        | As above #[m N] is a p-power killing #[m I], #[m \nu ] an integer  such that #[m I^{\nu + 1} = 0].
        | We can apply Drinfeld to each of #[m A, A', A\lb p^\infty \rb, A'\lb p^\infty \rb , A_0\lb p^\infty \rb , A'_0 \lb p^\infty \rb ].
    p
        | We show our functor is fully faithful ie.
        me \operatorname{Hom}_{\mathcal{A}}\left(A, A^{\prime}\right) \rightarrow \operatorname{Hom}_{D E F}\left(\left(A_{0}, A\left[p^{\infty}\right], \text { id }_{A_{0}}\right),\left(A_{0}^{\prime}, A^{\prime}\left[p^{\infty}\right], \text { id }_{A_{0}^{\prime}}\right)\right)
        | part 2. with #[m G =A], #[m H = A'] gives inj as an abvar is a p-div abelian fppf sheaf.
    p
        | To show surjectivity apply part 3. of drinfeld with #[m G = A], #[m H = A'] to get a lift from each #[m f_0\in \Hom(A_0, A_0')] of #[m N^\nu  f_0] to
        me g = `` N^\nu f'' \in \Hom(A, A')
        | to satisfy part 4 we need that #[m g] kills #[m A\lb N^\nu \rb ].
        | We have #[m N^\nu  f = g] on #[m A\lb p^\infty \rb ] and as  #[m N] is a #[m p]-power in fact #[m A \lb  N^\nu \rb  \subseteq A\lb  p^\infty \rb ] is killed by #[m N^\nu f].

    p
        | To prove essential surjectivity onto #[m (A_0, D, \phi )], we lift #[m A_0] to #[m X] arbitrarily, and must match up the #[m p]-divisible group and iso.
        | We have an isom #[m \alpha _0 \lb p^\infty \rb  \to A_0 \lb p^\infty \rb ].
        | And so a lift
        me g\colon  X[p^\infty ] \to D
        | #[m N^\nu \alpha _0] applying the lemma to #[m G = X_0\lb p^\infty \rb ], #[m H = D].
        | So we get an isogeny #[m g] and we quotient by the kernel.


section#sec-gz-oana
    title Non-archimidean local heights and intersection theory (Oana)
    p
        | See Oana's notes

section#sec-gz-sachi
    title ?????? (Sachi)

    p
        | This will be a reminder / recap / overview of where we are at.

    subsection
        title Recap of Initial Motivation

        p
            | Big motivation, finding infinite order points on elliptic curves, leads us to Gross-Zagier.

        p
            | If #[m J] is the Jacobian of #[m X_0(N)], #[m \Delta \lt  0] a fundamental discriminant of an imaginary quadratic field #[m  K].
            me s \colon \Cl_K \xrightarrow\sim \Gal HK
            | .

        p
            | For any #[m \mathcal A \in \Cl_K], we define the partial theta series
            me \theta _{\mathcal A} (z) = \frac{1}{2u} + \sum _{a \subseteq \ints K,a\in \mathcal A} q^{\Nm(a)} = \frac{1}{2u} + \sum_{n \ge 1} r_{\mathcal A}(n)q^n
            | .
            me r_{\mathcal A}(n) = \#\text{integral ideals in }\mathcal A\text{ of norm }n
            | .
            | This series defines a modular form of weight 1 and level #[m \Gamma _1(\Delta )] with character
            me \epsilon (n) = \legendre{\Delta }{n} \colon  \ZZ \to \{\pm 1\}
            |.
        p
            | For any #[m f \in \sum a_n q^n \in S_2(\Gamma _0(N))^{\text{new}}] we define
            me L_{\mathcal A} (f,s) = \sum_{n \ge 1, (n, \Delta  N_f) = 1} \legendre\Delta n^{1-2s} \sum_{n\ge 1}a_n r_{\mathcal A}(n)n^{-s}
            | .
        theorem
            title Gross-Zagier
            statement: p
                | The series
                me g_{\mathcal A} (z) = \sum_{m \ge 0} \pair c{T_m c^{s(A)}} q^m
                | is a modular form of weight 2 and level #[m \Gamma _0(N)] and
                me (f,g_{\mathcal A }) = \frac{u^2 \sqrt\Delta }{8\pi ^2} L'_{\mathcal A}(f,1)
                |where #[m \pair \cdot \cdot ] is the Néron-Tate height pairing on
                me J(H)\times J(H) \to \RR
                | .
                me c = (x) - (\infty )
                | #[m x] a Heegner point over #[m H].

        p
            | Recall?: The Shimura correspondence
        theorem
            title Kohnen-Shimura
            statement: p
                | Let #[m \epsilon \in \{\pm 1\}]  then
                me \dim S_{k+\frac{1}{2}}^\epsilon  (\Gamma_0 (4N)) = \dim S_{2k}^\epsilon (\Gamma _0(N))
                | and for each Hecke eigenform
                me f = \sum_{n\ge 1} a_n q^n\in S^\epsilon _{2k} (\Gamma _0(N))
                | there is a 1-dimensional space of  forms #[m g \in S_{k+1/2}^\epsilon (\Gamma _0(4N))] whose fourier coefficients  #[m c_m] are related by
                me a_n c_m= \sum _{d|n} \legendre{-m}d d^{k-1}c_{mn^2/d^2}
                |.


        remark: p
            | If #[m f ] is a modular form attached to #[m E] an elliptic curve then #[m g] is weight #[m 3/2].

        p
            | Recall: To compute #[m \pair ab] compute as a sum of local height pairings.
            | Néron-Tate local height for #[m v] a place of #[m H] has properties
            ul
                li
                    | bi-additive, symmetric, continuous
                li
                    me a=\sum_P m_P P,\,b = \div f
                    | with disjoint support then
                    me \pair ab_v = \sum_P m_P |\log |f(P)||_v
                    | .


    subsection
        title Heights

        p
            | Let #[m v] be a non-archimidean place, assume #[m m] is prime to #[m N].
            | If #[m v|p] a place of #[m H] then #[m H_v] the completion #[m \Lambda _v] ring of inteegers and #[m \pi ] uniformizer, #[m \Lambda _v/\pi ] residue  field of cardinality #[m q].
            | #[m W] the completion of the maximal unramified extension of #[m \Lambda _v].
            me \pair ab_v = -(A.B) _v \log q
            | where #[m A,B] are divisors on some regular model of #[m X] over  a DVR (like #[m \Lambda _v]) and #[m A] is fibral.

        p
            | Working with #[m c = (x)-(\infty )] #[m d = (x)-(0)].
            me \pair c{T_m d^\sigma }_v = (\underline x. T_m \underline x^\sigma )\log q
            |.

        p
            | So we need to compute a regular model for #[m X_0(N)/\ZZ].
            | We need to identify components of #[m T_m \underline x^\sigma ].
            | Need to compute RHS explicitly to show
            me = \frac 12 \sum_{n\ge 1} \#\Hom _{W/\pi ^n} (\underline x ,\underline x^\sigma )_{\deg m}
            | .

    subsection
        title Brief sketch of regular model
        p
            | Recall pts on #[m X_0(N)] correspond to cyclic isogenies
            me \psi \colon E \to  E'
            | of degree #[m N].
            | The Heegner points have #[m \End(E) = \End(E') = \ints] an order in #[m K].
            | Similarly consider generalized elliptic curves and cyclic isogenies of degree #[m N].


        p
            |  These components are isomorphic to #[m X_0(M) \otimes \ZZ/p].
            | They intersect at supersingular points #[m E\xrightarrow \phi E'] where both are supersingular.
            | We have  a good understanding of where the cusps are.

    subsection
        title Homomorphsims
        p
            |#[m S] complete local ring, #[m k] algebraically closed field
            me \underline x = (\phi  \colon E \to E')
            me \underline y = (\psi  \colon F \to F')
            | points on #[m X_0(N)(S)] then homomorphisms #[m \underline x \to \underline y] are #[m f\colon E\to F, f'\colon E'\to F'] such that #[m f' \phi = f \psi].
            | The set of such has a group structure inherited from #[m F,F'].
            | This is a right module under #[m \End_S(\underline x)] by composition.
        p
            me \End_S(\underline x) = \ZZ, \text{ order in im quad }, \text{ order in indef. quat. alg.}
            me \deg(f,f') = \deg f = \deg f'
            | .
        p
            | To show above 
            me (c.T_m d^\sigma ) = (\underline x. T_m \underline x^\sigma ) - (\underline x . T_m 0) - (\infty .T_m \underline x^\sigma ) + (\infty .T_m 0)
            | 3 terms on right are 0.
        p
            | Main difficulty.
            | #[m m] prime to #[m N] and #[m r_{\mathcal A} (m) = 0].
            me (\underline x. T_m \underline x ^\sigma ) = \frac 12 \sum_{n\ge 1} \# \Hom _{W/\pi ^n}(\underline x ^\sigma , \underline x)_{\deg m}

        remark
            p
                | This is a finite sum as #[m x, T_mx^\sigma ] are relatively prime divisors there are no degree #[m m] isogenies from #[m x^\sigma ] to #[m x].
                | For large #[m n] therefore #[m \Hom_{W/\pi ^n,\deg m} = \emptyset].

        p
            | we denote by #[m h_n] this RHS summand.

        proof
            p
                | When #[m p]-splits Deuring lifting gives
                me \Hom_W (\underline x^\sigma ,\underline x) = \Hom_{W/\pi ^n}(\underline x^\sigma , \underline x)
                | for all #[m n].
                | As #[m r_{\mathcal A}(m)= 0] we have no elements of degree #[m m].

            p
                | If #[m p] is non-split
                me \End_W(\underline x) = \ints
                | an order in a quaternion algebra.
                me h_n(\underline x^\sigma , \underline x) _{\deg m} = \sum_{\underline y\in T_m \underline x} h_n(\underline y, \underline x)_{\deg 1}


        p
            | Moral, can compute the fourier coefficients of #[m g_{\mathcal A}].



