biblio#bib-Birch(type="raw")
    | Birch, B. J. #[title Cyclotomic fields and Kummer extensions]. Algebraic Number Theory (Proc. Instructional Conf., Brighton, 1965), Thompson, Washington, DC <b>1967</b>, pp. 85-93

biblio#bib-BCDT(type="raw")
    | Breuil, C., Conrad, B., Diamond, F. and Taylor, R. #[title On the modularity of elliptic curves over QQ: wild 3-adic exercises].  Journal of the American Mathematical Society, American Mathematical Society, <b>2001</b>, pp. 843-939

biblio#bib-BDJ(type="raw")
    | Buzzard, K., Diamond, F. and Jarvis, F. #[title On Serre's conjecture for mod &ell; Galois representations over totally real fields].  Duke Mathematical Journal, Duke University Press, <b>2010</b>, Vol. 155(1), pp. 105-161

biblio#bib-Cais(type="raw")
    | Cais, B. #[title Serre's Conjectures].  <b>2009</b>

biblio#bib-Carayol(type="raw")
    | Carayol, H. #[title Sur les repr&eacute;sentations  l -adiques associ&eacute;es aux formes modulaires de Hilbert].  Annales Scientifiques de l'Ecole Normale Supérieure, <b>1986</b>, Vol. 19(3), pp. 409-468

biblio#bib-Cohen(type="raw")
    | Cohen, H. #[title Number Theory: Volume I: Tools and Diophantine Equations].  Springer New York, <b>2008</b>

biblio#bib-Darmon(type="raw")
    | Darmon, H. #[title Serre's conjectures]. Murty, V. K. <i>(ed.)</i>Seminar on Fermat's Last Theorem: 1993-1994, the Fields Institute for Research in the Mathematical Sciences, Toronto, Ontario, Canada American Mathematical Society, <b>1995</b>, Vol. 17, pp. 135-153

biblio#bib-DDT(type="raw")
    | Darmon, H., Diamond, F. and Taylor, R. #[title Fermat's last theorem]. Coates, J. and Yau, S. <i>(ed.)</i>Elliptic curves, modular forms, and Fermat's last theorem <b>1995</b>, pp. 1-154

biblio#bib-Deligne(type="raw")
    | Deligne, P. #[title Formes modulaires et repr&eacute;sentations &ell;-adiques].  Séminaire Bourbaki, Springer-Verlag, <b>1968-1969</b>, Vol. 11, pp. 139-172

biblio#bib-DeligneEng(type="raw")
    | Deligne, P. #[title Formes modulaires et repr&eacute;sentations &ell;-adiques (translation)].  <b>2004</b>

biblio#bib-DeligneSerre(type="raw")
    | Deligne, P. and Serre, J.-P. #[title Formes modulaires de poids 1].  Annales scientifiques de l'École Normale Supérieure, Société mathématique de France, <b>1974</b>, Vol. 7(4), pp. 507-530

biblio#bib-Diamond(type="raw")
    | Diamond, F. #[title The refined conjecture of Serre]. Coates, J. and Yau, S. <i>(ed.)</i>Elliptic curves, modular forms, and Fermat's last theorem <b>1995</b>, pp. 172-186

biblio#bib-Edixhoven(type="raw")
    | Edixhoven, B. #[title Serre's Conjecture]. Cornell, G. and Silverman, J. H. and Stevens, G. <i>(ed.)</i>Modular Forms and Fermat's Last Theorem Springer New York, <b>1997</b>, pp. 209-242

biblio#bib-EdixhovenWeight(type="raw")
    | Edixhoven, B. #[title The weight in Serre's conjectures on modular forms].  Inventiones mathematicae, Springer-Verlag, <b>1992</b>, Vol. 109(1), pp. 563-594

biblio#bib-Frohlich(type="raw")
    | Fröhlich, A. #[title Local fields]. Algebraic Number Theory (Proc. Instructional Conf., Brighton, 1965), Thompson, Washington, DC <b>1967</b>, pp. 1-41

biblio#bib-Ghitza(type="raw")
    | Ghitza, A. #[title On the two-dimensional modular representations of Gal(\mathbf{Q}/Q) (translation)].  

biblio#bib-SerreLF(type="raw")
    | Greenberg, M. J. and Serre, J.-P. #[title Local Fields].  Springer New York, <b>1995</b>

biblio#bib-Gross(type="raw")
    | Gross, B. H. #[title A tameness criterion for Galois representations associated to modular forms (mod p)].  Duke Mathematical Journal, Duke University Press, <b>1990</b>, Vol. 61(2), pp. 445-517

biblio#bib-Jochnowitz(type="raw")
    | Jochnowitz, N. #[title A study of the local components of the Hecke algebra mod l].  Transactions of the American Mathematical Society, <b>1982</b>, Vol. 270(1), pp. 253-267

biblio#bib-KWI(type="raw")
    | Khare, C. and Wintenberger, J.-P. #[title Serre's modularity conjecture (I)].  Inventiones mathematicae, Springer, <b>2009</b>, Vol. 178(3), pp. 485-504

biblio#bib-KWII(type="raw")
    | Khare, C. and Wintenberger, J.-P. #[title Serre's modularity conjecture (II)].  Inventiones mathematicae, Springer, <b>2009</b>, Vol. 178(3), pp. 505-586

biblio#bib-Kisin(type="raw")
    | Kisin, M. #[title Modularity of 2-adic Barsotti-Tate representations].  Inventiones mathematicae, Springer, <b>2009</b>, Vol. 178(3), pp. 587-634

biblio#bib-Livne(type="raw")
    | Livné, R. #[title On the conductors of mod l Galois representations coming from modular forms].  Journal of Number Theory, Elsevier, <b>1989</b>, Vol. 31(2), pp. 133-141

biblio#bib-Mascot(type="raw")
    | Mascot, N. #[title Computing modular Galois representations].  Rendiconti del Circolo Matematico di Palermo, Springer, <b>2013</b>, Vol. 62(3), pp. 451-476

biblio#bib-Ribet04(type="raw")
    | Ribet, K. A. #[title Abelian Varieties over QQ and Modular Forms]. Cremona, J. E. and Lario, J.-C. and Quer, J. and Ribet, K. A. <i>(ed.)</i>Modular Curves and Abelian Varieties Birkhäuser Basel, <b>2004</b>, Vol. 224, pp. 241-261

biblio#bib-Ribet90(type="raw")
    | Ribet, K. A. #[title On modular representations of  arising from modular forms].  Inventiones mathematicae, Springer, <b>1990</b>, Vol. 100(1), pp. 431-476

biblio#bib-Ribet94(type="raw")
    | Ribet, K. A. #[title Report on mod l representations of ]. Proceedings of Symposia in Pure Mathematics <b>1994</b>, Vol. 55, pp. 639-676

biblio#bib-Ribet95(type="raw")
    | Ribet, K. A. #[title Irreducible Galois representations arising from component groups of Jacobians]. Coates, J. and Yau, S. <i>(ed.)</i>Elliptic curves, modular forms, and Fermat's last theorem <b>1995</b>, pp. 131-147

biblio#bib-RibetStein(type="raw")
    | Ribet, K. A. and Stein, W. A. #[title Lectures on Serre's conjectures]. Conrad, B. D. and Rubin, K. <i>(ed.)</i>Arithmetic Algebraic Geometry American Mathematical Soc., <b>1999</b>, pp. 143-232

biblio#bib-RibetSteinBook(type="raw")
    | Ribet, K. A. and Stein, W. A. #[title Lectures on modular forms and Hecke operators].  <b>2011</b>

biblio#bib-SerreLinear(type="raw")
    | Scott, L. L. and Serre, J.-P. #[title Linear Representations of Finite Groups].  Springer New York, <b>1996</b>

biblio#bib-Serre67(type="raw")
    | Serre, J.-P. #[title Une interpr&eacute;tation des congruences relatives &agrave; la fonction &tau; de Ramanujan].  Séminaire Delange-Pisot-Poitou. Théorie des nombres, Secrétariat mathématique, <b>1967</b>, Vol. 9(1), pp. 1-17

biblio#bib-Serre72(type="raw")
    | Serre, J.-P. #[title Propri&eacute;t&eacute;s galoisiennes des points d'ordre fini des courbes elliptiques].  Inventiones mathematicae, Springer, <b>1972</b>, Vol. 15(4), pp. 259-331

biblio#bib-Serre73(type="raw")
    | Serre, J.-P. #[title Congruences et formes modulaires (d'apr&egrave;s H.P.F. Swinnerton-Dyer)]. Séminaire Bourbaki vol. 1971/72 Exposés 400--417 Springer, <b>1973</b>, pp. 319-338

biblio#bib-Serre73Formes(type="raw")
    | Serre, J.-P. #[title Formes modulaires et fonctions z&ecirc;ta p-adiques]. Modular functions of one variable III Springer, <b>1973</b>, pp. 191-268

biblio#bib-Serre75(type="raw")
    | Serre, J.-P. #[title Valeurs propres des op&eacute;rateurs de Hecke modulo l].  Astérisque, <b>1975</b>, Vol. 24, pp. 109-117

biblio#bib-Serre87(type="raw")
    | Serre, J.-P. #[title Sur les repr&eacute;sentations modulaires de degr&eacute; 2 de Gal(\mathbf{Q}/Q)].  Duke Mathematical Journal, Duke University Press, <b>1987</b>, Vol. 54(1), pp. 179-230

biblio#bib-Sage(type="raw")
    | Stein, W. and others #[title Sage Mathematics Software (Version 6.5)].  <b>2015</b>

biblio#bib-SD(type="raw")
    | Swinnerton-Dyer, P. #[title On &ell;-adic representations and congruences for coefficients of modular forms]. Modular functions of one variable III Springer, <b>1973</b>, pp. 3-55

biblio#bib-Tate(type="raw")
    | Tate, J. #[title The non-existence of certain Galois extensions of QQ unramified outside 2].  Contemporary Mathematics, AMERICAN MATHEMATICAL SOCIETY, <b>1994</b>, Vol. 174, pp. 153-153

biblio#bib-WieseGal(type="raw")
    | Wiese, G. #[title Galois Representations].  <b>2012</b>

biblio#bib-WieseMod(type="raw")
    | Wiese, G. #[title Modular Galois Representations and Applications].  <b>2013</b>

