references

    // TODO change everything to consistent not mla, full names, title, date, no amps?
    // Which style? Not chicago, second name is backwards,

    biblio#bib-arith-alg-geom(type="raw")
        |Conrad, Brian David. #[title Arithmetic algebraic geometry]. Vol. 9. American Mathematical Soc., 2001.

    biblio#bib-apostol(type="raw")
        | Apostol, Tom M. #[title Introduction to analytic number theory]. Springer Science &amp; Business Media, 2013.

    biblio#bib-arul-bcmt(type="raw")
        | Arul, V., Best, A. J., Costa, E., Magner, R., &amp; Triantafillou, N. #[title Computing zeta functions of cyclic covers in large characteristic].Proceedings of the Thirteenth Algorithmic Number Theory Symposium, The Open Book Series, 2(1), 37-53, 2019.

    biblio#bib-balakrishnan-bradshaw-kedlaya(type="raw")
        | Balakrishnan, Jennifer S., Robert W. Bradshaw, and Kiran S. Kedlaya. #[title Explicit Coleman Integration for Hyperelliptic Curves]. In ANTS-IX 2010, LNCS 6197, pp. 16-31, 2010.

    biblio#bib-balakrishnan-even(type="raw")
        | Balakrishnan, Jennifer S. #[title Coleman integration for even-degree models of hyperelliptic curves]. LMS Journal of Computation and Mathematics 18.1 (2015): 258-265.

    biblio#bib-balakrishnan-iterated(type="raw")
        | Balakrishnan, Jennifer S. #[title Iterated Coleman integration for hyperelliptic curves]. The Open Book Series 1.1 (2013): 41-61.

    biblio#bib-balakrishnan-dogra(type="raw")
        | Balakrishnan JS, Dogra N. #[title Quadratic Chabauty and rational points I: p-adic heights]. arXiv preprint arXiv:1601.00388. 2016 Jan 4.

    biblio#bib-balakrishnan-dogra-muller-tuitman-vonk(type="raw")
        | Balakrishnan JS, Dogra N, Müller JS, Tuitman J, Vonk J. #[title Explicit Chabauty-Kim for the Split Cartan Modular Curve of Level 13]. arXiv preprint arXiv:1711.05846. 2017 Nov 15.

    biblio#bib-balakrishnan-tuitman(type="raw")
        | Balakrishnan JS, Tuitman J. #[title Explicit Coleman integration for curves]. arXiv preprint arXiv:1710.01673. 2017 Oct 4.

    biblio#bib-bala-nonab(type="raw")
        | Balakrishnan, J., Dan-Cohen, I., Kim, M., and Wewers, S. (2012). #[title A non-abelian conjecture of Birch and Swinnerton-Dyer type for hyperbolic curves]. arXiv preprint arXiv:1209.0640.

    biblio#bib-banagl(type="raw")
        | Banagl, Markus. #[title Topological invariants of stratified spaces]. Springer Science &amp; Business Media, 2007.

    biblio#bib-berkovich(type="raw")
        | Berkovich, Vladimir G.  #[title Integration of One-forms on P-adic Analytic Spaces]. (AM-162). No. 162. Princeton University Press, 2007.

    biblio#bib-berth1(type="raw")
        | Berthelot, Pierre.
        title Cohomologie Cristalline des Schémas de Caractéristique #[m p\gt 0]
        |  LNM 407, Springer, 1974.

    biblio#bib-berth2(type="raw")
        | Berthelot, Pierre.  #[title Finitude et pureté cohomologique en cohomologie rigide] #[url(href="https://perso.univ-rennes1.fr/pierre.berthelot/publis/Finitude.pdf")/]
        //TODO

    biblio#bib-besser-coleman-tannakian(type="raw")
        | Besser, Amnon. #[title Coleman integration using the Tannakian formalism]. Mathematische Annalen 322, no. 1 (2002): 19-48.

    biblio#bib-besser-coleman-heidelberg(type="raw")
        | Besser, Amnon. #[title Heidelberg lectures on Coleman integration]. In The Arithmetic of Fundamental Groups, pp. 3-52. Springer, Berlin, Heidelberg, 2012.

    biblio#bib-besser-de-jeu(type="raw")
        | Besser, Amnon, and Rob De Jeu. 
        title #[m Li^{(p)}]-Service? An Algorithm for Computing p-Adic Polylogarithms
        | . Mathematics of Computation 77, no. 262 (2008): 1105–34.


    biblio#bib-besser-syntomic-I(type="raw")
        | Besser, Amnon. 
        title Syntomic regulators and #[m p]-adic integration I: Rigid syntomic regulators
        | . Israel Journal of Mathematics 120, no. 2 (2000): 291-334.

    biblio#bib-besser-syntomic-II(type="raw")
        | Besser, Amnon. 
        title Syntomic regulators and #[m p]-adic integration II: K 2 of curves
        | . Israel Journal of Mathematics 120, no. 2 (2000): 335-359.

    biblio#bib-best-coleman-harvey(type="raw")
        | Best, A. #[title Explicit Coleman integration in larger characteristic]. Proceedings of the Thirteenth Algorithmic Number Theory Symposium, The Open Book Series, 2(1), 85-102, 2019.

    biblio#bib-bloch(type="raw")
        | Bloch, Spencer.  #[title Higher regulators, algebraic K-theory, and zeta functions of elliptic curves.] Vol. 11. American Mathematical Soc., 2000.

    biblio#bib-bochner-formal(type="raw")
        | Bochner, S. #[title Formal Lie Groups]. Annals of Mathematics, vol. 47, no. 2, 1946, pp. 192–201. JSTOR, JSTOR, #[url(href="www.jstor.org/stable/1969242")/].

    biblio#bib-borel-hopf(type="raw")
        | Borel, Armand. #[title Sur La Cohomologie Des Espaces Fibres Principaux Et Des Espaces Homogenes De Groupes De Lie Compacts]. Annals of Mathematics, Second Series, 57, no. 1 (1953): 115-207. doi:10.2307/1969728.

    biblio#bib-bostan-gaudry-schost(type="raw")
        | Bostan, Alin, Gaudry, Pierrick, and Schost, Éric. #[title Linear recurrences with polynomial coefficients and application to integer factorization and Cartier-Manin operator]. SIAM Journal on Computing 36, no. 6 (2007): 1777-1806.

    biblio#bib-boston-explicit(type="raw")
        | Boston, Nigel. #[title Explicit deformation of Galois representations]. Inventiones mathematicae 103.1 (1991): 181-196.

    biblio#bib-boston-mazur(type="raw")
        | Boston, Nigel, and Barry Mazur. #[title Explicit universal deformations of Galois representations]. Algebraic Number Theory—in honor of K. Iwasawa. Mathematical Society of Japan, 1989.

    biblio#bib-booker-database-genus-2(type="raw")
        | Booker, Andrew R., Jeroen Sijsling, Andrew V. Sutherland, John Voight, and Dan Yasaki. #[title A Database of Genus 2 Curves over the Rational Numbers]. LMS Journal of Computation and Mathematics 19, no. A (2016): 235–54. #[url(href="https://doi.org/10.1112/S146115701600019X")].

    biblio#bib-chen(type="raw")
        | Chen, Kuo-Tsai.  #[title Algebras of iterated path integrals and fundamental groups.] Transactions of the American Mathematical Society 156 (1971): 359-379.

    biblio#bib-coleman-torsion(type="raw")
        | Coleman, Robert F.  #[title Torsion points on curves and p-adic abelian integrals.] Annals of Mathematics 121.1 (1985): 111-168.

    biblio#bib-coleman-chabauty(type="raw")
        | Coleman, Robert F.  #[title Effective Chabauty] Duke Math. J 52.3 (1985): 765-770.

    biblio#bib-coleman-de-shalit(type="raw")
        | Coleman, Robert, and Ehud De Shalit. 
        title #[m p]-adic regulators on curves and special values of #[m p]-adic #[m L]-functions
        | . Inventiones mathematicae 93, no. 2 (1988): 239-266.

    biblio#bib-coleman-dilogs(type="raw")
        | Coleman, Robert F. 
        title Dilogarithms, regulators and #[m p]-adic #[m L]-functions
        | . Inventiones mathematicae 69, no. 2 (1982): 171-208.

    biblio#bib-coleman-gross(type="raw")
        | Coleman, Robert F., and B. Gross. #[title p-adic Heights on Curves] Math. Sciences Research Inst., Berkeley, Calif. (1987).

    biblio#bib-edixhoven-after(type="raw")
        | Edixhoven, Bas. #[title Point Counting after Kedlaya, EIDMA-Stieltjes Graduate Course, Leiden, September 22–26, 2003], n.d., 23.

    biblio#bib-fresnel-van-der-put(type="raw")
        | Fresnel, Jean, and Marius Van der Put #[title Rigid analytic geometry and its applications] Vol. 218. Springer Science &amp; Business Media, 2012.

    biblio#bib-gabber-ramero(type="raw")
        | Gabber O, Ramero L. #[title Almost ring theory]. Springer; 2003 Dec 15.

    biblio#bib-gaudry-gurel(type="raw")
        | Gaudry, Pierrick, and Nicolas Gürel. #[title An extension of Kedlaya's point-counting algorithm to superelliptic curves]. Advances in Cryptology - ASIACRYPT 2001, Springer, Berlin, Heidelberg, 2001.

    biblio#bib-gerritzen-van-der-put(type="raw")
        | Gerritzen, L. and Van der Put, M., 2006. #[title Schottky groups and Mumford curves] (Vol. 817). Springer.

    biblio#bib-goncalves(type="raw")
        | Gonçalves, Cécile. #[title A point counting algorithm for cyclic covers of the projective line]. Contemporary mathematics 637 (2015): 145.

    biblio#bib-goncharov-mixed(type="raw")
        | Goncharov, Alexander. #[title Mixed elliptic motives]. London Mathematical Society Lecture Note Series (1998): 147-222.

    biblio#bib-gl(type="raw")
        | Goncharov, Alexander B., and Andrey M. Levin. #[title Zagier's conjecture on L (E, 2)]. Inventiones mathematicae 132, no. 2 (1998): 393-432.

    biblio#bib-gonzales-guardia-rotger(type="raw")
        | González, Josep, Jordi Guardia, and Victor Rotger. #[title Abelian surfaces of GL2-type as Jacobians of curves]. arXiv preprint math/0409352 (2004).

    biblio#bib-harrison-hyperelliptic(type="raw")
        | Harrison, Michael C. #[title An extension of Kedlaya's algorithm for hyperelliptic curves]. Journal of Symbolic Computation 47.1 (2012): 89-101.

    biblio#bib-hartshorne(type="raw")
        | Hartshorne, Robin. #[title Algebraic geometry]. Vol. 52. Springer Science &amp; Business Media, 2013.

    biblio#bib-harvey-average(type="raw")
        | Harvey, David. #[title Counting points on hyperelliptic curves in average polynomial time]. Annals of Mathematics 179, no. 2 (2014): 783-803.

    biblio#bib-harvey-sqrtp(type="raw")
        | Harvey, David. #[title Kedlaya's Algorithm in Larger Characteristic]. IMRN: International Mathematics Research Notices 2007 (2007).

    biblio#bib-harvey-sutherland(type="raw")
        | Harvey, David, and Andrew V. Sutherland. #[title Computing Hasse–Witt matrices of hyperelliptic curves in average polynomial time]. LMS Journal of Computation and Mathematics 17, no. A (2014): 257-273.

    biblio#bib-harvey-sutherland-ii(type="raw")
        | Harvey, David, and Andrew V. Sutherland. #[title Computing Hasse-Witt matrices of hyperelliptic curves in average polynomial time II]. Frobenius distributions: Lang–Trotter and Sato–Tate conjectures, Contemporary Mathematics 663 (2016): 127-148.

    biblio#bib-hasegawa-shimura(type="raw")
        |Hasegawa, Yuji, and Mahoro Shimura. #[title Trigonal Modular Curves]. Acta Arithmetica 88, no. 2 (1999): 129–40. https://doi.org/10.4064/aa-88-2-129-140.

    biblio#bib-hida-geometric(type="raw")
        | Hida, Haruzo. #[title Geometric modular forms and elliptic curves]. World Scientific, 2012.

    biblio#bib-hulsbergen(type="raw")
        | Hulsbergen, Wilfred WJ. #[title Conjectures in arithmetic algebraic geometry]. Braunschweig: Vieweg, 1992.

    biblio#bib-jannsen(type="raw")
        | Jannsen, Uwe. #[title Continuous Étale Cohomology]. Mathematische Annalen 280.2 (1988): 207-246.

    biblio#bib-julia(type="raw")
        | Jeff Bezanson, Alan Edelman, Stefan Karpinski and Viral B. Shah, #[title Julia: A Fresh Approach to Numerical Computing].  (2017) SIAM Review, 59: 65–98. doi: 10.1137/141000671. #[url(href="https://julialang.org/research/julia-fresh-approach-BEKS.pdf")/].


    biblio#bib-katz-serre-tate(type="raw")
        | Katz, Nicholas. #[title Serre-Tate local moduli]. In Surfaces algébriques, pp. 138-202. Springer, Berlin, Heidelberg, 1981.


    biblio#bib-katz-zureick-clifford(type="raw")
        | Katz, Eric, and David Zureick-Brown. #[title The Chabauty–Coleman Bound at a Prime of Bad Reduction and Clifford Bounds for Geometric Rank Functions]. Compositio Mathematica 149, no. 11 (November 2013): 1818–38. #[url(href="https://doi.org/10.1112/S0010437X13007410")/].

    biblio#bib-kedlaya-counting(type="raw")
        | Kedlaya, Kiran S. #[title Counting points on hyperelliptic curves using Monsky-Washnitzer cohomology], J. Ramanujan Math. Soc. 16 (2001), no. 4, 323-338; errata, ibid. 18 (2003), 417--418.

    biblio#bib-lang-algebra(type="raw")
        | Lang, Serge,  #[title Algebra], Graduate Texts in Mathematics 1.211 (2002): ALL-ALL.

    biblio#bib-lang-algebraic-nt(type="raw")
        | Lang, Serge. #[title Algebraic number theory]. Vol. 110. Springer Science &amp; Business Media, 2013.

    biblio#bib-lee-smooth(type="raw")
        | Lee, John M. #[title Smooth manifolds]. Springer, New York, NY, 2003. 9780387954486.

    biblio#bib-le-gall(type="raw")
        | Le Gall, François. #[title Faster algorithms for rectangular matrix multiplication]. In Foundations of Computer Science (FOCS), 2012 IEEE 53rd Annual Symposium on, pp. 514-523. IEEE, 2012.

    biblio#bib-liu(type="raw")
        | Qing Liu. #[title Algebraic geometry and arithmetic curves]. Vol. 6. Oxford University Press, 2002.

    biblio#bib-magma(type="raw")
        | Wieb Bosma, John Cannon, and Catherine Playoust, #[title The Magma algebra system. I. The user language], J. Symbolic Comput., 24 (1997), 235–265.

    biblio#bib-matsumura(type="raw")
        | Matsumura, Hideyuki. #[title Commutative ring theory]. Vol. 8. Cambridge university press, 1989.

    biblio#bib-matsumura-algebra(type="raw")
        | Matsumura, Hideyuki. #[title Commutative algebra]. Vol. 120. New York: WA Benjamin, 1970.

    biblio#bib-mazur-stein-tate(type="raw")
        | Mazur, Barry, William Stein, and John Tate. #[title Computation of p-adic heights and log convergence.] Doc. Math (2006): 577-614.

    biblio#bib-mtt(type="raw")
        | Mazur, Barry, John Tate, and Jeremy Teitelbaum. #[title On p-adic analogues of the conjectures of Birch and Swinnerton-Dyer]. Inventiones mathematicae 84, no. 1 (1986): 1-48.

    biblio#bib-milne-etale(type="raw")
        | Milne, James S. #[title Etale cohomology] (PMS-33). Vol. 33. Princeton university press, 2016.

    biblio#bib-minzlaff(type="raw")
        | Minzlaff, Moritz. #[title Computing zeta functions of superelliptic curves in larger characteristic]. Mathematics in Computer Science 3.2 (2010): 209-224.

    biblio#bib-mumford-abvar(type="raw")
        | Mumford, David. #[title Abelian varieties]. Vol. 5. Oxford University Press, USA, 1974.

    biblio#bib-narkiewicz(type="raw")
        | Narkiewicz, Wladyslaw  #[title Elementary and Analytic Theory of Algebraic Numbers]. Springer, 2004.

    biblio#bib-nemo(type="raw")
        | Claus Fieker, William Hart, Tommy Hofmann and Fredrik Johansson, #[title Nemo/Hecke: Computer Algebra and Number Theory Packages for the Julia Programming Language]. In: Proceedings of ISSAC '17, pages 157–164, New York, NY, USA, 2017. ACM.

    biblio#bib-polishchuck(type="raw")
        | Polishchuk, Alexander. #[title Abelian varieties, theta functions and the Fourier transform]. Vol. 153. Cambridge University Press, 2003.

    biblio#bib-rolshausen(type="raw")
        | Rolshausen, Klaus, and Norbert Schappacher.  #[title On the second K-group of an elliptic curve.]  Journal für die reine und angewandte Mathematik 495 (1998): 61-77.

    biblio#bib-sage(type="raw")
        | #[title SageMath, the Sage Mathematics Software System (Version 8.1.0)], The Sage Developers, 2017, #[url(href="http://www.sagemath.org")/].

    biblio#bib-serre-course(type="raw")
        | Serre, Jean-Pierre. #[title A course in arithmetic]. Vol. 7. Springer Science &amp; Business Media, 2012.

    biblio#bib-serre-gal-coh(type="raw")
        | Serre, Jean-Pierre. #[title Galois cohomology]. Springer Science &amp; Business Media, 2013.

    biblio#bib-serre-linear-reps(type="raw")
        | Serre, Jean-Pierre. #[title Linear representations of finite groups]. Springer Science &amp; Business Media, 1977.

    biblio#bib-serre-local-alg(type="raw")
        | Serre, Jean-Pierre. #[title Local algebra]. Springer Science &amp; Business Media, 2000.

    biblio#bib-serre-mordell-weil(type="raw")
        | Serre, Jean-Pierre, Martin Brown, and Michel Waldschmidt. #[title Lectures on the Mordell-Weil theorem]. Vol. 2. Braunschweig: Vieweg, 1990.

    biblio#bib-shafarevich-remizov(type="raw")
        | Shafarevich, Igor R., and Alexey O. Remizov. #[title Linear algebra and geometry]. Springer Science &amp; Business Media, 2012.

    biblio#bib-silverman(type="raw")
        | Silverman, Joseph H. #[title The arithmetic of elliptic curves]. Vol. 106. Springer Science &amp; Business Media, 2009.

    biblio#bib-silverman-advanced(type="raw")
        | Silverman, Joseph H. #[title Advanced topics in the arithmetic of elliptic curves]. Vol. 151. Springer Science &amp; Business Media, 2013.

    biblio#bib-stacks(type="raw")
        | Stacks Project Authors, #[title The Stacks Project], #[url(href="https://stacks.math.columbia.edu")/].

    biblio#bib-stoll-independence(type="raw")
        | Stoll, Michael. #[title Independence of Rational Points on Twists of a given Curve]. Compositio Mathematica 142, no. 5 (September 2006): 1201–14. #[url(href="https://doi.org/10.1112/S0010437X06002168")/].

    biblio#bib-stoll-uniform(type="raw")
        | Stoll, Michael. #[title Uniform Bounds for the Number of Rational Points on Hyperelliptic Curves of Small Mordell–Weil Rank]. Journal of the European Mathematical Society 21, no. 3 (December 12, 2018): 923–56. #[url(href="https://doi.org/10.4171/JEMS/857")].

    biblio#bib-sutherland(type="raw")
        | Sutherland, Andrew. #[title Isogeny volcanoes]. The Open Book Series 1, no. 1 (2013): 507-530. #[url(href="https://msp.org/obs/2013/1-1/obs-v1-n1-p25-s.pdf")/].

    biblio#bib-tamme(type="raw")
        | Tamme, Günter. #[title Introduction to étale cohomology]. Springer Science &amp; Business Media, 2012.

    biblio#bib-towse(type="raw")
        | Towse, Christopher. #[title Weierstrass Points on Cyclic Covers of the Projective Line]. Transactions of the American Mathematical Society 348, no. 8 (1996): 3355–3378.

    biblio#bib-tuitman-map-to-p1-1(type="raw")
        | Tuitman, Jan. 
        title Counting points on curves using a map to #[m \PP^1]
        | . Mathematics of Computation 85.298 (2016): 961-981.

    biblio#bib-tuitman-map-to-p1-2(type="raw")
        | Tuitman, Jan. 
        title Counting points on curves using a map to #[m \PP^1], II
        | . Finite Fields and Their Applications 45 (2017): 301-322.

    biblio#bib-vandergeer-moonen(type="raw")
        | van der Geer, G., Moonen, B. #[title Abelian Varieties], from #[url(href="https://www.math.ru.nl/~bmoonen/research.html#bookabvar")/].

    biblio#bib-velu(type="raw")
        | Vélu, Jacques. #[title Isogénies entre courbes elliptiques]. CR Acad. Sci. Paris, Séries A 273 (1971): 305-347.

    biblio#bib-voight-quat(type="raw")
        | Voight, John. #[title Quaternion Algebras]. #[url(href="http://quatalg.org")/]

    biblio#bib-washington(type="raw")
        | Washington, Lawrence C. #[title Introduction to cyclotomic fields]. Vol. 83. Springer Science &amp; Business Media, 1997.

    biblio#bib-waterhouse(type="raw")
        | Waterhouse, William C.  #[title Profinite groups are Galois groups]. Proceedings of the American Mathematical Society 42.2 (1974): 639-640.

    biblio#bib-weng-nakamura(type="raw")
        | Weng, L., and Nakamura, I. #[title Arithmetic geometry and number theory], World Scientific, 2006.

    biblio#bib-zag-ram(type="raw")
        | Zagier, Don.  #[title The Bloch-Wigner-Ramakrishnan polylogarithm function]. Mathematische Annalen 286, no. 1 (1990): 613-624.

    biblio#bib-zagier-modular(type="raw")
        | Zagier, D. #[title Modular Points, Modular Curves, Modular Surfaces and Modular Forms]. In Arbeitstagung Bonn 1984, edited by Friedrich Hirzebruch, Joachim Schwermer, and Silke Suter, 225–48. Lecture Notes in Mathematics. Springer Berlin Heidelberg, 1985.


    biblio#bib-pug(type="raw")
        title Pug Template Engine
        |  see 
        url(href="http://pug-lang.com/") pug-lang.com
        | .

    //include jabref.pug
