title Shimura varieties

introduction#sec-shimura-intro
    p
        | These are notes for BUNTES Fall 2018 part III, the topic is
        | Shimura varieties

    p
        | #[url(href="http://math.bu.edu/people/midff/buntes/fall2018.html")/].

    p
        | Outline:
        ol
            li
                | 
    p
        | References: 


section#sec-buntes-modular-curves
    title Modular curves (Aash)

    definition#def-buntes-lattice
        title Lattices
        statement: p
            | A #[term lattice] is a free abelian group of rank 2
            me \Lambda \otimes \RR \to \CC
            | is an isomorphism
            me \Lambda = \ZZ\lb \alpha \rb  \oplus \ZZ\lb \beta \rb
            | if
            me \Lambda = \gamma \Lambda ',\,\gamma \in \CC
            | then we say the two lattices are #[term homothetic].

    p
        | Any lattice is homothetic to one of the form
        me \Lambda = \langle 1 , \tau \rangle
        | as we can take a positively oriented basis we have that all such are equivalent to
        me \tau \in \HH = \{ z\in \CC: \Im(z) \gt 0 \}
        | . So there is a bijection between #[m \HH] and ordered bases of lattices.
    p
        | #[m \SL_2(\ZZ)] acts on #[m \HH] and the action corresponds to changing bases.

    p
        | The action of #[m \PSL_2(\ZZ)] is faithful.
        | #[m i,\rho = e^{\pi i /3}] have non-trivial stabilisers
        me \Stab_i =  \langle S\rangle = \begin{pmatrix} 0\amp1 \\ -1 \amp 0 \end{pmatrix}
        me \Stab_\rho =  \langle TS\rangle,\,T = \begin{pmatrix} 1\amp1 \\ 0 \amp 1 \end{pmatrix}
    p
        | We can determine the order of elements by looking at the characteristic polynomials.

    p
        | We then have
        me Y(1) =\SL_2(\ZZ) \backslash \HH
        | a complex manifold
        | and
        me j\colon Y(1) \to \CC
        | is an isomorphism.

    p
        | We have a fundamental domain for this action
        me D = \{ z\in \CC : |z|  \ge 1,\, |\Re(z)| \le \frac 12 \}
        | #[m Y(1)] is Hausdorff because the action is properly discontinuous.
    p
        | Care must be taken around the elliptic points (those with larger stabiliser), to define the complex structure.
    p
        | The extended upper half plane
        me \HH^* = \HH \cup \PP^1 (\QQ)
        | also has an #[m \SL_2(\ZZ)] action via fractional linear transformations, which is proper.

    p
        | We can define a basis of neighbourhoods around the cusps by transforming them to the cusp #[m \infty] where we can use the basis of neighbourhoods given by
        me \HH_N = \{ z\in \HH : | \Im(z)| \gt N\}
        | .

    p
        | The parameter #[m q] around #[m \infty] is defined as #[m e^{2\pi i z/N}] for some #[m N\in \ZZ], #[m q] is fixed by #[m T].
    p
        | We can quotient by the action of #[m \SL_2(\ZZ) ] on #[m \HH^*] to get
        me X(1) = \SL_2(\ZZ) \backslash \HH^*
        | which is now compact, genus 0, which matches up with #[m Y(1)] having #[m \CC] points #[m \CC] earlier.

    p
        |If #[m X] is a projective curve then #[m X(\CC)] has the structure of a compact Riemann surface.
        | If #[m S] is such a surface then there exists a unique up to isomorphism #[m X] with #[m X(\CC) = S].

    p
        | The meromorphic functions on #[m S] are the function field of #[m X] and there is a correspondence

        me \text{Compact Riemann surfaces} \leftrightarrow \text{Smooth proj. curves}

    p
        | Given a finite index subgroup of #[m \SL_2(\ZZ)] we can do something similar to obtain
        me \Gamma\backslash \HH
        | .
        | One of the most prominent examples of such a subgroup is
        me \Gamma(N) = \left\{ \gamma \in \SL_2(\ZZ) : \gamma \equiv \begin{pmatrix} 1\amp0 \\ 0 \amp 1 \end{pmatrix} \pmod N \right\}
        | along with
        me \Gamma_1(N) = \left\{ \gamma \in \SL_2(\ZZ) : \gamma \equiv \begin{pmatrix} 1\amp\ast \\ 0 \amp 1 \end{pmatrix} \pmod N \right\}
        me \Gamma_0(N) = \left\{ \gamma \in \SL_2(\ZZ) : \gamma \equiv \begin{pmatrix} \ast\amp\ast \\ 0 \amp \ast \end{pmatrix} \pmod N \right\}
        | .
    p
        | #[m \Gamma(N)] is normal inside #[m \SL_2(\ZZ)] and #[m \Gamma_1(N)] is normal inside #[m \Gamma_0(N)].

    p
        | The aforementioned equivalence of categories gives us a smooth projective curve for each of these examples.

    p
        | In fact one can find a smooth projective curve with #[m \QQ]-coefficients realising each of these Riemann surfaces.

    p
        | For
        me \Gamma_0(N) \backslash \HH^*
        | we have the function #[m j(z)] from before, but also #[m j(Nz)] which is still a function on the quotient now as
        me j(N \gamma z) = j\left( N\frac{az + b}{cz+d} \right)
        me               = j\left( N\frac{az + b}{c'Nz+d} \right)
        me               = j\left( \frac{aNz + bN}{c'Nz+d} \right)
        me               = j\left( \gamma ' Nz\right)
        me               = j\left( Nz\right)

    p
        | We can therefore let
        me g = \prod_{\gamma} (Y - j(\gamma Nz))
        | the product over the cosets of #[m \Gamma_0(N) \subseteq \SL_2(\ZZ)].
    p
        | The coefficients of #[m g] are meromorphic functions on #[m X(1) = \CC\lb j \rb].
        | So we have
        me g(Y) = F(j(z), Y)
        |and
        me g (j(Nz)) = F(j(z), j(Nz)) = 0
        | then #[m F(X,Y)] is irreducible and  has integer coefficients.
    p
        | Then the curve #[m X_0(N)] whose function field is
        me \QQ \lb X,Y\rb/ F(X,Y)
        | so #[m U \subseteq X_0(N)] is isomorphic to an affine variety defined by
        me F(X,Y) = 0 \smallsetminus \text{singular pts}
    p
        me \Gamma_0(N) \backslash \HH \to U(\CC)
        me z \mapsto (j(z), j(Nz))
        | #[m j(\gamma z) = z\,\forall z] iff #[m \gamma \in \SL_2(\ZZ)].
    p
        | If for #[m z= z_1,z_2] have #[m (j(z),j(Nz))] equal then #[m z_1,z_2] are in the same #[m \Gamma_0(N)] orbit.

    p
        | We can do similar for #[m \Gamma_1] but only over #[m \QQ(\zeta_N)].

    paragraphs
        title Elliptic curves

        p
            | Several definitions:
            ol
                li
                    | Smooth proj. curve genus 1 with a rational point.
                li
                    | smooth curve given by Weierstrass eqn.
                    me y^2 + a_1xy + a_3 y =  x^3 + a_2x^2 + a_4 x + a_6
                    |.
                li
                    | Complex torus of  dimension 1.

        p
            | Over #[m \CC] at least all are equivalent.
        p
            | To get the weierstrass equation from the curve we use Riemann-Roch to see that
            me H(1[0]) = 1,\, H(2[0]) = 2,\,H(3[0]) =3
            |So we call a generator of #[m H(2\lb 0 \rb) \smallsetminus H(\lb 0 \rb)] the function #[m x] same for #[m y] and #[m H(3\lb 0 \rb)], now in #[m H(6 \lb 0 \rb)] we have
            me 1,x,y,x^2 ,xy,y^2,x^3

            | so there is a linear relation among these, giving the Weierstrass equation.
        p
            | To get the equation for a torus we use the Weierstrass #[m \wp] function.

        // TODO j and lambda?

section#sec-buntes-modular-forms
    title Modular forms (Asra)

    p
        | Last time we saw the #[m j]-function, which was #[m \SL_2(\ZZ)]-invariant, this is quite a strong condition, and in fact #[m j] is pretty much all we get under this condition.
        | So instead we weaken this somewhat to some other variance property.

    p
        | If #[m w = f(z) \diff z] on #[m \HH] and #[m f(z)] is meromorphic.
        | #[m \gamma \in \Gamma] then
        me  f(\gamma z) d(\gamma z) = f(\gamma z) d\left( \frac{az+b}{cz+d} \right)
        me                          = f(\gamma z) \left( \frac{\cdots \diff }{(cz+d)^2} \right)
        | so we get a condition
        me f(\gamma z) = (cz+d)^2 f(z)
        | this is how we come to:

    definition#def-buntes-weak-modular
        statement: p
            | A holomorphic function #[m f\colon \HH \to \CC] is a #[term weakly modular] function for #[m \Gamma] of weight #[m k] if
            me f(\gamma z) = (cz+d)^k f(z) \forall \gamma  = \begin{pmatrix} a\amp b \\ c \amp d    \end{pmatrix} \in \Gamma
            |.

    remark
        p
            | If #[m -I \in \Gamma] and #[m k] odd
            me f(-z)  = - f(-z)
            | so in this setting we only have interesting behaviour for even #[m k].
        p
            |If #[m \Gamma] is a congruence subgroup of level #[m N] we have
            me \begin{pmatrix} 1\amp N \\ 0 \amp 1 \end{pmatrix} \in \Gamma
            | gives you a #[m q]-expansion
            me q=  e^{2\pi i z}
            me f(z) = \sum_{m\in \ZZ} a_m  q^{m/N}
            | .
        p
            | #[m f] is holomorphic at #[m \infty] if #[m a_m  = 0] for #[m m \lt 0].
        p
            | #[m f] is holomorphic at all cusps if #[m f(\gamma z)(cz+d)^k] is holomorphic at #[m \infty] for all #[m \gamma \in \SL_2(\ZZ)].

    example
        statement: p
            | Cusps for #[m \Gamma_0(p)], we know we have #[m \infty], what is the orbit of this?
            me \gamma\in \Gamma_0(p),\, \gamma  =  \begin{pmatrix} a\amp b \\ cp \amp d    \end{pmatrix}
            me \gamma \infty  = \frac{a}{cp}
            | so anything with  a #[m p] in the denominator is equivalent to #[m \infty], what about the rest?
            me \gamma 0  = \frac{b}{d}, \, \gcd(b,d)  =1
            | , so we have two cusps.

    definition#def-buntes-mfs
        title Modular forms
        statement: p
            | A #[term modular form] is  a weakly modular function that is holomorphic at all the cusps.

    example
        statement
            p
                | Eisenstein series
                me G_k(z) = \sum'_{m,n\in \ZZ} \frac{1}{(mz+n)^k}
                | is a modular form of weight #[m k \gt 2] for #[m \SL_2(\ZZ)].
                me \lim_{\im z\to \infty} G_k(z) = \lim_{\im z\to \infty} \sum'_{m,n\in \ZZ} \frac{1}{(mz+n)^k} = \sum'_{n\in \ZZ} \frac{1}{n^k} = 2\zeta(k)
                | .

            p
                | So here the function does not vanish at 0.

    definition#def-buntes-cusp-forms
        title Cusp forms
        statement: p
            | A #[term cusp form] is a modular form that vanishes at all cusps.

    p
        | Given a cusp it will be stabilised by some
        me \begin{pmatrix} 1\amp h \\ 0 \amp 1 \end{pmatrix}
        | call the smallest such #[m h] for a given cusp the #[term width] of the cusp.

    example
        statement
            p
                | Let's find the width of a cusp in #[m \Gamma_0(qp)] we have
                me \begin{pmatrix} 1\amp 1 \\ 0 \amp 1 \end{pmatrix}
                | so the width of #[m \infty] is 1.
            p
                | What about #[m \alpha = 1/p]?
                ol
                    li
                        | Find an element #[m \gamma \in \SL_2(\ZZ)] s.t. #[m \gamma(\infty) = \alpha].
                    li
                        | Compute
                        me  \delta(x) = \gamma \begin{pmatrix} 1\amp x \\ 0 \amp 1 \end{pmatrix} \gamma\inv
                    li
                        | Find the smallest #[m x] such that #[m \delta(x) = \Gamma_0(pq)]
                me  \gamma = \begin{pmatrix} 1\amp 0 \\ p \amp 1 \end{pmatrix},\, \gamma(\infty) = \frac 1p
                me  \begin{pmatrix} 1\amp 0 \\ p \amp 1 \end{pmatrix} \begin{pmatrix} 1\amp x \\ 0 \amp 1 \end{pmatrix} \begin{pmatrix} 1\amp 0 \\ -p \amp 1 \end{pmatrix}  = \begin{pmatrix} 1 - px \amp x  \\ -p^2 \amp px+ 1 \end{pmatrix}

    example
        title A cusp form
        statement: p
            | Let #[m \Delta(\tau) = g_2(\tau)^3 - 27g_3(\tau)^2,\,g_2(\tau) = 60G_4(\tau),\,g_3(\tau) =140G_6(\tau)]
            | #[m \Delta(\tau)] has weight 12 for #[m \SL_2(\ZZ)].
            | This vanishes at #[m \infty] because
            me \zeta(4) = \frac{\pi^4}{90}
            me \zeta(6) = \frac{\pi^6}{945}
            | also
            me j(z) = \frac{g_2(\tau)^3}{\Delta(\tau)}
            | so #[m \Delta(\tau)] vanishes at #[m \infty] because #[m g_2(\tau)] doesn't  and #[m j(z)] has a  simple pole at #[m \infty].


    p
        | #[m M_k(\Gamma)] as the space of modular forms of weight #[m k] for #[m \Gamma] is a #[m \CC] -v.s.
        | #[m S_k(\Gamma)] as the space of cusp forms of weight #[m k] for #[m \Gamma] is a #[m \CC] -v.s.

    theorem
        statement: p
            | #[m M_k(\Gamma)] and #[m S_k(\Gamma)] are finite dimensional
            me.
                \dim(M_k(\Gamma)) =
                \begin{cases}
                0 \amp \text{ if } k \le -1\\
                1 \amp \text{ if } k = 0\\
                (k-1)(g-1) + v_\infty \frac k2 + \sum_p [\frac k2 (1- \frac{1}{e_p})] \amp \text{ if } k \ge 2
                \end{cases}
            | where #[m g] is the genus of #[m X(\Gamma)]
            | #[m v_\infty] is the number of inequivalent cusps
            | #[m P] are the elliptic points
            | #[m \lb \cdot \rb] is the integer part
            me.
                \dim(S_k(\Gamma)) =
                \begin{cases}
                0 \amp \text{ if } k \le 0 \\
                (k-1)(g-1) + v_\infty (\frac k2 - 1) + \sum_p [\frac k2 (1- \frac{1}{e_p})] \amp \text{ if } k \ge 2
                \end{cases}

    p
        me \dim(S_2(\Gamma)) = g(X(\Gamma))

    proposition
        statement: p
            | If #[m f \in S_2(\Gamma)] then #[m f(z) \diff z] is a holomorphic differential.


    p
        | Given an elliptic curve
        me E/  \CC = \CC/\Lambda
        me E \to E'
        me \CC/\Lambda \to \CC/\Lambda'
        |, studying degree #[m n] isogenies, is like studying index  #[m n ] sublattices

    definition
        statement: p
            | #[m n \ge 1] then #[m T(n)] is the  #[m n]th #[term Hecke operator] acting on
            me \divisors (\mathcal L)
            | by
            me T(n) \Lambda = \sum_{\Lambda' \subseteq \Lambda,\,[\Lambda : \Lambda'] = n} (\Lambda')
    definition
        statement: p
            | Let #[m  \lambda \in \CC^\times] the homothety operator #[m R_\lambda] is #[m R_\lambda \Lambda = \lambda\Lambda].

    theorem
        statement: p
            ol
                li
                    me R_\lambda R_\mu = R_{\lambda\mu}
                li
                    me R_\lambda T(n) = T(n) R_{\lambda}
                li
                    me T(nm) = T(n) T(m),\,\gcd(n,m) =1
                li
                    me T(p^e)T(p) = T(p^{e+1 }) + p T(p^{e-1}) R_p
        proof
            p
                | Of 4.
            p
                | #[m \Lambda \in \mathcal L] for #[m \Lambda' \subseteq \Lambda ] index #[m p^{e+1}] have
                me a(\Lambda')  = \# \{ \Gamma : \Lambda'  \subseteq \Lambda \subseteq_p \Lambda \}
                me b(\Lambda')  = 1 \text{ if } \Lambda' \subseteq p\Lambda
                | now
                me T(p^e)T(p) \Lambda = T(p^e) \sum_{\Gamma \subseteq_p \Lambda } (\Gamma) = \sum_{\Gamma \subseteq_p \Lambda } \sum_{\Lambda' \subseteq_{p^e} \Gamma} (\Lambda') =\sum_{\Lambda' \subseteq_{p^e} \Gamma}  a(\Lambda') (\Lambda')
                me T(p^{e+1} ) \Lambda  =  \sum_{\Lambda'\subseteq_{p^{e+1}} \Lambda} (\Lambda')
                me T(p^{e-1} )R_p \Lambda  =  T(p^{e-1}) (p \Lambda) = \sum_{\Lambda'' \subseteq_{p^{e-1}} p\Lambda } (\Lambda'') = \sum_{\Lambda' \subseteq_{p^{e+1}} \Lambda} b(\Lambda') (\Lambda')
                | Split into cases, do some maths..

    p
        | Hecke operators on lattices
        | Given #[m \Lambda' \subseteq_n \Lambda] there is an integer matrix of determinant  #[m n] taking one basis to the other.
        | Have a correspondence
        me \{ \alpha \in M_2(\ZZ) : \det(\alpha) = n \}  \leftrightarrow \{ \Lambda ' : \Lambda ' \subseteq_n \Lambda\}
        | representatives in Hermite normal form

        me S_n = \{\begin{pmatrix} a\amp b \\ 0 \amp d\end{pmatrix} : ad= n,\, a,d\gt 0\, 0\le b \lt d\}

    corollary
        statement: p
            | Let #[m \Lambda \in \mathcal L], #[m \Lambda = \ZZ w_1 + \ZZ w_2] then  #[m T(n)] acts as follows
            me T(n) \Lambda =  \sum_{ ad= n,\, a,d\gt 0\, 0\le b \lt d} \ZZ(aw_1 + bw_2) + \ZZ dw_2 = \sum_{\alpha \in S_n} \alpha \Lambda


    corollary
        statement: p
            | For #[m p ] prime #[m T(p)]:
            me T(p) \Lambda = \ZZ pw_1 + \ZZ w_2 +\sum_{0 \le b \lt p} \ZZ(w_1 + bw_2) + \ZZ pw_2
            | .

    p
        | The Hecke operators act on modular forms #[m f(\tau)] by reinterpreting weakly modular functions of weight #[m k] as functions on lattices that have  a weight #[m k] action under homothety.

    p
        | This boils down to
        me (T_k(n) f)(\tau) = n^{k-1}  \sum_{ ad= n,\, a,d\gt 0\, 0\le b \lt d} d^{-k} f\left( \frac{ a\tau +b}{d}\right)

    corollary
        statement: p
            | For #[m p ] prime
            me (T_k(p) f)(\tau) = p^{k-1}f(pz) +\frac 1p \sum_{0 \le b  \lt p} f\left( \frac {z + b}{p} \right)
            |.

    p
        | We have an action on fourier expansions
        me f(\psi) = \sum_{m\in \ZZ} a_m q^m
        me T_k(p)f(\tau) = p^{k-1} \sum_{m\in \ZZ} a_m q^{pm} + \frac{1}{p} \sum_{b=0}^{p-1}  \left( \sum_{m\in \ZZ} a_m e^{2\pi i m (z+b)/p}\right)
        me               = p^{k-1} \sum_{m\in \ZZ} a_m q^{pm} + \frac{1}{p}  \sum_{m\in \ZZ} a_me^{2\pi i m z/p} \sum_{b=0}^{p-1} \underbrace{e^{2\pi i m b/p}}_{p\text{ if }p|m,0\text{otw}}
        me               = p^{k-1} \sum_{m\in \ZZ} a_m q^{pm} +\sum_{m\in \ZZ} a_{pm}q^m

    corollary: statement: p: me a_1(T_p(f)) = a_p(f)

    p
        | If #[m f\in S_k(\Gamma_0(1))] is an eigenfunction for these operators we can normalise so that #[m a_1(f) = 1].

    p
        me T(m)T(n) = T(mn)
        me a_ma_n = a_{mn}
        me a_{p^r} = a_p a_{p^{r-1}} + p^{k-1} a_{p^{r+1}}

    definition#def-pet
        title Petersson inner product
        statement: p
            | The #[term Petersson inner product] of two cusp forms #[m f,g\in S_k(\SL_2(\ZZ))] is defined to be
            me \pair{f}{g} = \int_{\mathcal D} f \bar g y^{k-2} \diff x \diff y
            | where #[m \mathcal D] is a fundamental domain for #[m \SL_2(\ZZ)].

    proposition
        statement: p
            |Let #[m f,g\in S_k(\SL_2(\ZZ))], #[m n\in \NN] then
            me \pair{T(n) f}{g} = \pair{f}{T(n)g}
            | .

section#sec-buntes-av-jac
    title Abelian varieties and Jacobians (Angus)

    subsection
        title Background

        definition
            statement: p
                | An elliptic curve is any one of the following
                ol
                    li
                        | Smooth projective curve of genus 1 with  a marked rational point.
                    li
                        | A smooth projective curve with a group law
                    li
                        | if #[m k \subseteq \CC] we have
                        me E(\CC) = \CC/ \Lambda
                        me \Lambda = \ZZ \omega_1 \oplus \ZZ \omega_2,\, \omega_1/\omega_2 \not\in \RR
                    li
                        | if #[m \characteristic k \ne 2,3] A smooth projective curve specified by
                        me y^2=  x^3+ ax + b
                        | .
        p
            | Aash showed that 1 implies 4 and 3 implies 1.

        p
            | One can view the group law on #[m E] either via the chord-tangent method (Bezout's theorem).
            | Or via the isomorphism
            me E \to \Pic^0(E)
            me P \mapsto [P] - [0]
            |.

        definition
            statement: p
                | An abelian variety is a proper irreducible variety with a group law given by regular functions.

        remark
            p
                ol
                    li
                        | In this definition proper is equivalent to projective.
                    li: p
                        | The rigidity theorem tells us:
                        ol
                            li
                                | Any morphism of abelian varieties that preserves the identity is a homomorphism.
                            li
                                | Abelian varieties are abelian

    subsection
        title Ablelian varieties over #[m \CC]

        proposition
            statement: p
                | Let #[m A/k\subseteq \CC] then
                me A(\CC) = \CC^g/\Lambda
                | where #[m g = \dim A] and #[m \Lambda \subseteq \CC^g] is a rank #[m 2g] lattice.
            proof: p
                | The lie algebra #[m \Lie(A(\CC))] is a complex vector space of dimension #[m g].
                | We have the exponential
                me \exp \colon \Lie(A(\CC)) \to A(\CC)
                | which is surjective onto the connected component of the identity, and locally at #[m 0] a diffeomorphism.
                | So #[m \exp] surjects.
                | Since its locally isomorphic at #[m 0] we have #[m \ker(\exp)] discrete and hence a lattice.


                | #[m A ] proper means #[m A(\CC)] is compact so
                me \rank \ker (\exp) = 2g
                | .

        p
            | We have a map
            me \{\text{AVs}/\CC\} \to \{\text{complex tori}\}
            | but this is not surjective.
            | Which lattices give AVs?

        definition
            statement: p
                | Let #[m V] be a #[m \CC]-vector space and #[m \Lambda \subseteq V] be a full lattice.

                | A #[term Hermitian form] on #[m V] is a function
                me H \colon V\times V \to \CC
                | which is #[m \CC]-linear in the first component, #[m \CC]-antilinear in the second (i.e. a sesquilinear form).
                | And satisfies
                me H(u,v) = \overline{H(v,u)}
                | A Riemann form on #[m (V,\Lambda)] is a positive definite Hermitian form on #[m V] s.t. #[m \im(H|_V) \colon \Lambda \to \ZZ].

        proposition
            statement: p
                | We have a bijection
                me \{\text{AVs}/\CC\} \leftrightarrow \{(V,\Lambda)\text{ s.t. there is a Riemann form on } (V, \Lambda)\}
                | .
            proof: p
                | Swinnerton-Dyer analytic theory of AVs ch.2.

        example
            statement: p
                | For an elliptic curve #[m E(\CC) = \CC/ \ZZ \omega_1 + \ZZ \omega_2]
                me H(u,v) = u\bar v/ \im(\omega_1 \bar \omega_2)
                | .

    subsection
        title Jacobian varieties

        definition
            statement: p
                | Given #[m X] a curve
                me \Pic^0(X) = \divisors^0(X)/\{(f) : f \in K(X)\}
                | this is some abelian group.

        theorem
            statement: p
                | Let #[m X] be a genus #[m g] curve #[m /k].
                | Then there exists an abelian variety #[m \Jac(X)/k] of #[m \dim = g] s.t.
                me \Jac(X)(L) = \Pic^0(X\otimes L)
        remark
            p
                | This is false as stated unless #[m X(k) \ne \emptyset].


        proof
            p
                | Idea:
                | Pick #[m P_0 \in X(k)] we have a bijection
                me \divisors^0(X) \to \divisors^r(X)
                me D \mapsto D + r[P_0]
                | we have  a map
                me  X^r \to X^r/ S_r = X^{(r)} \to \divisors^r(X)

                | we can construct #[m \Jac(X)] as a quotient of #[m X^{(r)}] full details Milne AVs ch. 2.

        paragraphs
            title Jacobians over #[m \CC]

            p
                | Given #[m X] a compact Riemann surface of genus #[m g] then
                me H^0(X, \Omega_X^1) \simeq \CC^g

                | one might wish to consider, for #[m  P,Q \in X], #[m \omega\in H^0(X, \Omega_X^1)]
                me \int_P^Q \omega
                | this is not well defined as there are choices of path #[m P\to Q].
                me H_1(X,\ZZ) = \ZZ^{2g}
                | have  a map
                me H_1(X,\ZZ) \to H^0(X, \Omega_X^1) ^\vee
                me \gamma \mapsto (\omega \mapsto \int_\gamma \omega)
                | Let
                me J(X) = H^0(X, \Omega_X^1) ^\vee/H_1(X,\ZZ)

            theorem
                statement: p
                    | #[m J(X) ] is the #[m \CC] points of an abelian variety over #[m \CC].
                    | Further the map
                    me \Pic^0(X) \to J(X)
                    me [P] - [Q] \mapsto (\omega \mapsto \int^P_Q \omega)
                    | is an isomorphism of abelian groups.
                proof
                    p
                        | For the first claim we need a Riemann form on
                        me (H^0(X, \Omega_X^1)^\vee , H_1(X,\ZZ))
                        | we have
                        me H_1(X, \ZZ) \times H_1(X, \ZZ) \to \ZZ
                        me (\gamma_1, \gamma_2) \mapsto -(\gamma_1\cap \gamma_2)
                        |.

            remark
                p
                    | In this case we see
                    me \Lie(\Jac(X)) = H^0(X, \Omega_X^1)
                    | this is true in general.

    subsection
        title Some constructions/properties of AVs

        p
            | Let #[m A,B] be AVs#[m /k].
            | Any identity preserving morphism #[m \phi \colon A \to B] is a homomorphism.

            | Such a homomorphism is called an isogeny if it surjective with finite kernel.
            | i.e. #[m \lb n \rb \colon A \to A] is an isogeny and for #[m \characteristic(k) \nmid n].
            me A[n] \simeq (\ZZ/n)^{2g}
            | then we have the Tate module for #[m l] prime
            me T_lA = \varprojlim_n A[l^n] \simeq \ZZ_l^{2g}
            | in fact
            me H^1_{\et} (A, \ZZ_l) \simeq T_lA ^\vee
            | we can also consider #[m \Pic^0(A)].

            | There exists an abelian variety
            me \hat A/l
            | s.t.
            me \hat A (L) = \Pic^0(A \otimes L)
            | this is called the dual abelian variety.

            | So earlier we saw #[m \hat E \simeq E].
            | in general #[m \hat A \not \simeq  A].
        p
            | However for an ample divisor #[m D] we get an isog
            me \phi_D \colon A \to \hat A
            me P \mapsto t_P^* D -D
            | an isogeny #[m \phi\colon A\to \hat A] is a polarization if
            me \phi =  \phi_D /\bar k
            | over #[m \CC]  a polarization is equivalent to a choice of Riemann form.

        p
            | A principal polarization is a polarization which is an isomorphism.
            | e.g.
            me \phi_{[0]} \colon E \to \hat E
            me P \mapsto [P] - [0]
        remark
            p
                | Jacobian varieties always admit principal polarizations.

        p
            | On #[m T_lA ] we have  a Weil pairing
            me T_lA \times T_lA^\vee \to \ZZ_l
        paragraphs
            title Maps between Jacobians

            p
                | Let #[m X,Y/k] be curves and #[m f\colon X \to Y] a morphism.

            definition
                statement: p
                    | We have a pushforward map
                    me f_*\colon \Pic^0(X) \to \Pic^0(Y)
                    me \sum n_x [x] \mapsto \sum n_x[f(x)]
                    | if #[m f] is finite then we have  a pullback
                    me f^* \colon \Pic^0(Y) \to \Pic^0(X)
                    me \sum n_y[y] \mapsto \sum n_y [f\inv (y)]
                    | (with multiplicity).

            p
                | We want further maps between jacobians

            definition
                statement: p
                    | A correspondence between #[m X,Y] is a curve #[m Z] and a pair of finite morphisms.
                    me X \leftarrow Z \to Y
                    | then we get induced maps
                    me T_* = g_* f^* \colon \Pic^0(X) \to \Pic^0(Y)
                    me T^* = f_* g^* \colon \Pic^0(Y) \to \Pic^0(X)
        paragraphs
            title
                | Modular jacobians and Hecke correspondences


            p
                | Consider #[m p\nmid N] we have
                me X_0(N) = \{ (E,C_N) : E\text{ e.c. }, C_N \text{ cyclic sub order } N\}
                me X_0(pN) = \{(E,C_{pN})\} = \{(E,C_N,C_p)\}
                | so we have
            definition
                statement: p
                    | the Hecke correspondence #[m T_p] on #[m X_0(N)] is
                    me X_0(N) \mapsfrom X_0(pN) \to X_0(N)
                    me (E,C_N)\mapsfrom (E,C_N,C_p)\to (E/C_p, C_p + C_N)
                    |.
            p
                | We have the modular jacobian #[m J_0(N)] and the induced map
                me T_p \colon J_0(N) \to J_0(N)
                me [E] \mapsto \sum_{C_p \subseteq E} [E/C_p]
            p
                | One can consider #[m J_0(N)_{\FF_p}]

            theorem
                title Eichler-Shimura
                statement: p
                    | #[m T_{p*} = \Frob_p + p \Frob_p\inv \in \End(J_0(N)_{\FF_p})].

section#sec-buntes-hs
    title Ricky Show

    subsection
        title Moduli of PPAVs

        p
            | Recall if #[m A/ \CC] is an abelian variety,  then
            me  A = A(\CC) =  \CC^g/ \Lambda, \,g = \dim (A)
            me \Lambda \cong H_1(A,\ZZ)
            | Also a polarization #[m \lambda \lambda A \to A^\vee] is equivalent to choosing a Riemann form
            me E \colon \Lambda \times \Lambda \to \ZZ
            | s.t.
            ol
                li
                    |#[m E] is bilinear alternating
                li
                    | #[m E_\RR \colon V\times V \to \RR] has #[m E_\RR(iv,iw)  = E_\RR( v,w)].

                li
                    me H(v,w) = E_\RR(iv, w) + i E_\RR(v,w)
                    | is a positive definite Hermitian form on #[m V].
            | A principal polarization corresponds to #[m E] being a perfect pairing.
        definition
            statement: p
                | A PPAV (principally polarized abelian variety) is a pair #[m (A,\lambda)].

        p
            | If #[m (\ZZ^{2g}, \Psi)] is the standard #[m 2g]-dim symplectic form #[m \Psi] then by linear algebra there is a symplectic isomorphism
            me \alpha \colon \ZZ^{2g} \xrightarrow\sim \Lambda
            | with #[m \Psi(v,w) = E(\alpha(v), \alpha(w))].
        p
            | Recall the standard #[m \Psi] is
            me \Psi (v,w) = v^\transpose J w, J = \begin{pmatrix} 0 \amp I_g \\ -I_g \amp 0\end{pmatrix}
        definition
            statement: p
                | The #[term Siegel upper half space] is
                me \mathscr H_g = \{ Z = X+iY \in M_g(\CC) : Z^\transpose  = Z ; \, X,Y \in M_g(\RR); \, Y \gt 0\}
                | i.e. #[m Y] is pos. def.
        p
            | Check: #[m \mathscr H_1] is the usual upper half plane.

        proposition
            statement: p
                | #[m \mathscr H_g \cong \Sp_{2g}(\RR)/U(g)] where #[m \Sp_{2g} (R) = \{ M \in \GL_{2g}(R) : M^\transpose J M = J\}]
                me U(g) = O(2g) \cap \Sp_{2g}(\RR) \cap \GL_{g}(\CC)
                | .
            proof
                p
                    | (Sketch) First one can show that #[m \Sp_{2g}(\RR)] acts transitively on #[m \mathscr H_g] via linear fractional transformations:
                    me  M = \begin{pmatrix} A\amp B\\ C\amp D\end{pmatrix} \in \Sp_{2g}(\RR),\, Z\in \mathscr H_g
                    me M\cdot Z = (AZ+B)(CZ+D)\inv \in \mathscr H_g
                    | second one computes #[m \Stab J = U(g)]
                p
                    | For #[m g= 1], #[m \Sp_2(\RR) = \SL_2(\RR)] acts transitively on #[m \mathscr H_1], #[m \Stab(i) = \specialorthogonal (2) = U(1)].
                    me \begin{pmatrix} \cos \theta\amp \sin \theta \\ - \sin \theta \amp \cos \theta \end{pmatrix} i = i
                    |  and if
                    me \begin{pmatrix} a \amp b \\ c \amp d\end{pmatrix} i = i
                    | then #[m ai + b = -c + di] so #[m M= \begin{pmatrix} a\amp b\\ -b \amp a \end{pmatrix}\in \specialorthogonal(2)].
                    // can one identify Sp_2g  with Sp_2(mat_g)?? and do these things easily.

        proposition
            statement: p
                | There is a natural bijection between
                me \{(A,\lambda, \alpha) : (A,\lambda)= PPAV,\,\alpha\colon \ZZ^{2g} \xrightarrow \sim \Lambda\} \xrightarrow\sim \mathscr H_g
                | this induces a  bijection
                me \{(A,\lambda) \} \xrightarrow \sim \Sp_{2g}(\ZZ) \backslash \mathscr H_g = \Sp_{2g}(\ZZ) \backslash \Sp_{2g} (\RR) / U(g)
                | .
            proof
                p
                    | We will construct a map
                    me \{(A,\lambda ,\alpha)\} \xrightarrow\sim\Sp_{2g} (\RR)/U(g)
                    | first we construct  a bijection between
                    me \{(A,\lambda, \alpha)\}
                    | and some linear data on a fixed space ,
                    | so given #[m (A, \lambda, \alpha)] use #[m \alpha] to identify
                    me \alpha\colon \ZZ^{2g} \xrightarrow \sim \Lambda = H_1(A,\ZZ)
                    | then  tensor with #[m \RR] to get
                    me \alpha_\RR \colon \RR^{2g} \xrightarrow\sim \Lambda\otimes \RR \cong \Lie(A) (= \CC^g)
                    | the action of #[m i] on the right induces #[m J] on the left with #[m J^2 = -I].
                p
                    | From #[m  E_\RR(iv,iw) = E_\RR(v,w)] we get #[m J ] symplectic
                    me \Psi_\RR(Jv, Jw) = \Psi_\RR( v,w)
                    | from #[m E_\RR(iv,v) \gt 0] we get #[m J] is positive
                    me \Psi_\RR(Jv,v) \gt 0
                    | conversely given #[m J] symplectic positive #[m J^2 = -I] on #[m \RR^{2g}]
                    | we can construct #[m (A,\lambda) = (V/\ZZ^{2g}, E)]
                    | This comes with an #[m \alpha] for free since #[m H_1(A, \ZZ) \cong \ZZ^{2g}].
                p
                    | Suppose #[m J] and #[m J_0] are two complex structures, symplectic positive matrices on #[m \RR^{2g}].
                    | Then a lemma from linear algebra tells us that there exists a #[m S \in \Sp_{2g}(\RR)].
                    | s.t. #[m J_0  = S J S \inv].
                    | We see that this #[m S] is well defined up to an element of #[m G = Z(J) \cap \Sp_{2g}(\RR)].
                    | But if #[m \gamma \in G ] then #[m \gamma] preserves the associated #[m \CC]-str. on #[m \RR^{2g}].
                    | then since #[m \gamma] is symplectic, it preserves
                    me H(v,w) = E_\RR(iv,w) + iE_\RR(v,w)
                    | implies
                    me \gamma \in U(g)
                    | .

    subsection
        title Hodge structures

        p
            | Let #[m M] be a #[m \cinf] compact #[m \RR]-manifold.

            | Then #[m H^i_{\mathrm{sing}}(M, \RR)  \cong H^i_\dR(M)].
            | What avout for compact #[m \CC]-manifolds #[m X]?
            | For #[m M] have #[m H^i_\dR(M)  = H^i(\Omega^\bullet (M))].
            | This won't give de Rham isomorphism for #[m X]:
            me H^i_{\mathrm{sing}}(X)
            | supported up to #[m i = 2d] with #[m d = \dim_\CC(X)].
            | but #[m H^i(\Omega^\bullet_{\mathrm{hol}}(C))] is supported up to #[m  i = d].

        p
            | For #[m M]
            me 0 \to \underline \RR \to \Omega^0 \to \Omega^1 \to \cdots \to \Omega^d \to 0
            | is a resolution of #[m \underline \RR] by acyclic sheaves, by the existence of #[m \cinf] bump functions.
            me H^i_\dR(M) \cong H^i(M, \underline \RR) \cong H^i_{\mathrm{sing}}(M, \RR)
            | .
            | For #[m X] this doesn't work with #[m \Omega_{\mathrm{hol}}^\bullet] as there are no holomorphic bump functions.

            me 0 \to \underline \CC \to \Omega^0_{\mathrm{hol}} \to \Omega^1_{\mathrm{hol}} \to \cdots \to \Omega_{\mathrm{hol}}^\bullet \to 0
            | is still a resolution but not acyclic.
            | Instead we use hypercohomology which takes as input any resolution and outputs a cohomology group.
            | This has the property that
            me H^i(X, \underline \CC) \cong \mathbf H ^i(\Omega_X^\bullet)
            | so we define #[m H^i_\dR(X) = \mathbf H^i(\Omega_X^\bullet)].
            | so that
            me H^i_\dR(X) \cong H^i(X, \underline \CC) \cong H^i_{\mathrm{sing}}(X, \CC)
        p
            | On #[m X] we have the sheaf of #[m (p,q)] forms #[m \Omega^{p,q}]
            | These are locally given by
            me \sum_{|I| = p, |J| = q} f_{I,J} \diff z_I \diff \bar z_J
            | . We have
            me \bar \partial \colon \Omega^{p,q} \to \Omega^{p,q+1}
            | satisfying #[m \bar \partial ^2 = 0].
            | So we can define #[m H^{p,q}(X) = \ker \bar \partial/ \image \bar \partial] (Dolbeaut cohomology).
        theorem
            title Hodge decomposition
            statement: p
                | For a compact Kahler manifold (e.g. #[m X] a projective variety) we have
                me H^n_\dR(X) \cong \bigoplus _{p+q =n} H^{p,q}(X)
                |.
        remark
            p
                me H^{p,q} (X) \cong H^q( X, \Omega^p)
                | using #[m \bar \partial] Poincaré lemma

        example
            statement: p
                | #[m E/\CC] elliptic curve.

                me H^0_\dR = H^{0,0}
                me H^1_\dR = H^{1,0} \oplus H^{0,1}
                me H^2_\dR = H^{2,0} \oplus H^{1,1} \oplus H^{0,2}
                | outer terms 0, diamond is  1 , 1 , 1, 1.
        definition#def-hodge-str
            title Hodge structures
            statement: p
                | A #[term Hodge structure] on #[m V/\RR] is a #[m \ZZ]-bigrading on #[m V_\CC = V \otimes \CC] such that
                me \overline V^{p,q}  = V^{q,p}
                | its of #[term Hodge type] #[m S\subseteq \ZZ^2] if #[m V^{pq} \ne 0 ] iff #[m (p,q) \in S],
        example
            statement: p
                | the Hodge decomposition gives a hodge structure on #[m H^n_{\mathrm{sing}}(X, \RR)].

        p
            | If #[m V] has a hodge structure of weight #[m n] (i.e. #[m V^{pq} \ne 0] iff #[m p,q = n]).
            | Then we can recover the hodge structure from the associated hodge filtration
            me \Fil^p V_\CC = \bigoplus_{p' \ge p} V^{p' q}
        example
            statement: p
                me \Fil^0(H^1(E)) = H^{1,0} \oplus H^{0,1}
                me \Fil^1(H^1(E)) = H^{1,0}
                me \Fil^2(H^1(E)) = 0

        exercise
            statement: p
                me V^{p,q} = \Fil^p V \cap \overline {\Fil^q V}
                | in weight #[m n].

        paragraphs
            title Alternative definition

            p
                me \mathbf S = \Res_\RR^\CC \mathbf G_m
                me \mathbf S(A) = \{ (a,b) \in A^2 : a^2+  b^2 \ne 0\}
                me \mathbf S(\RR) = \CC^\times

            proposition
                statement: p
                    | There is  a natural bijection between morphisms of algebraic groups
                    me \mathbf S \to \GL(V)
                    | and Hodge structures on #[m V].

            p
                | Hence for any lie group #[m G] we can define a hodge structure on #[m G] as a morphism of algebraic groups
                me \mathbf S \to G
                | If #[m G \to \GL(V)] is a faithful rep this induces a hodge structure on #[m V].
            definition
                statement: p
                    | A polarization of a HS #[m h\colon \mathbf S \to \GL(v)] is an alternating bilinear form
                    me \Psi \colon V\times V \to \RR
                    | with
                    ol
                        li
                            me \Psi (Jv,Jw) =  \Psi(v,w) \text{ for } J = h(i)
                        li
                            me \Psi(v,Jw) \text{ is pos. def.}


section#sec-buntes-vhs
    title Variations of Hodge Structures

    subsection
        title
            | Review of Hodge Theory

        p
            | #[m X] complex manifold #[m X\subseteq \PP^N] which is #[m m]-dimensional.

            | For each #[m n] associate to #[m X]
            me H_\ZZ = H^n_{\mathrm{sing}}(X, \ZZ) / \tors
            // TODO is this meant to be this?
            me H_\CC = H_\ZZ \otimes \CC = H^n_\dR(X)
            | we have a bilinear pairing
            me Q\colon H_\ZZ \times H_\ZZ \to \ZZ
            me Q(\alpha,\beta) = \int_X \alpha \cup \beta \cup \omega^{m-n}
            | where #[m \omega] is a generator of #[m H^2( \PP^N , \ZZ)] restricted to #[m X].
            | This gives us the set-up of #[m X] as a differentiable manifold.
            | Now say something about complex structure.
            | We have a decomposition of differential forms on #[m X]
            me A^n(X) = \bigoplus_{p+q  =n} A^{p,q}
            | degree #[m n] forms decomposing as a combination of type #[m p,q] forms.

        p
            | Hodge theorem descends to a decomposition on cohomology
            me H^n_\dR(X) = \bigoplus_{p+q = n} H^{p,q}
            me H^{p,q} = \overline{H^{q,p}}

            me Q(H^{p,q}, H^{p',q'}) = 0
            | unless #[m p+p' = q+q' = n].
        p
            | A hodge structure of weight #[m n] is the data #[m (H_\ZZ, Q)] satisfying the Hodge decomposition,
            | Bilinearity

        p
            | Questions:
            ol
                li
                    | To what extent does the HS of #[m X] determine #[m X]?
                    | (Torelli problem)
                li
                    | To what extent can we read off the geometric data of #[m  X] from its Hodge structure.

    subsection
        title
            | Variations of Hodge structures:
        introduction
            p
                | Let #[m Y \subseteq X] be codimension #[m k], this gives a class in
                me H^{k,k}(X) \subseteq H^{2k}(X,\CC)
                | what about the converse?

            p
                | For each cohomology class #[m \gamma]  in #[m H^{2k} (X,\CC)] is #[m \gamma] a rational linear combination of classes of subvarieties. (Hodge conjecture).

        subsubsection
            title Hodge theory for curves

            p
                | #[m (H_\ZZ, Q)], #[m H^{1,0} \oplus H^{0,1}] have the period matrix
                me H^{0,1}/\Lambda \cong \Jac(C)
            p
                me y^2 = x(x-1)(x-\lambda)
                me \lambda \in \PP^1 - \{0,1,\infty\}

                | each #[m E_\lambda \leftrightarrow H^{1,0} \oplus H^{0,1}] so can ask as #[m \lambda] varies we can ask how #[m H^{1,0}] is situated inside of #[m H^{1,0} \oplus H^{0,1}].

            p
                me \omega = \frac{\diff x}{y} \in H^0(X,\Omega_X)
                | pairing with #[m H_1(X)]
                me \int_\gamma \omega
                | .

            p
                | For #[m B] a variety #[m \{X_b\}] are varieties with Hodge structures for each #[m b\in B].
                | Locally we can identify
                me H_\ZZ = H^n(X_b , \ZZ)/\tors
                | and #[m H_\CC ] with that of #[m X_{b_0}].
            p
                | Then consider
                me H^{n-k, k}(X_b)
                | or the associated
                me F^k = \bigoplus_{l=0}^k H^{n-l,l}(X_b)
                | subspaces of #[m H_\CC].

            p
                | Question:
                | What is a moduli space of linear subspaces?
            p
                |Answer:
                | The grassmanian!
                me {\mathrm{Gr}}(k,V)
                | of #[m k]-dimensional subspaces of a fixed vector space #[m V].
                | What is the tangent space to the Grassmanian at a point #[m W\subseteq V]?
                me \Hom(W, V/W)
                | if we take the complementary subspace #[m W  \oplus C = V] given another subspace
                me W' \cap C =  \{ 0 \}
                | have #[m \pi_{W'}, \pi_C]

                me {\mathrm{Gr}}(k,V) = \{\text{all\,}W'\}
                me \cong \Hom(W,C)
                | by #[m \pi_C \circ (\pi_W|_{W'})\inv].

            fact
                statement: p
                    ol
                        li
                            | #[m \phi\colon B\to {\mathrm{Gr}}] mapping #[m b \mapsto F^k(X_b) \subseteq H_\CC] is holomorphic.
                        li
                            | In terms of identifying the tangent space of the grassmanian to the hom set, the image under
                            me \diff \phi_k = \delta_k
                            | of any tangent vector of #[m B] at #[m b_0] carries #[m F^{k} ] to #[m F^{k+1}/F^k]
                            | so we have maps
                            me \delta_k \colon T_{b_0} B \to \Hom(H^{n-k,k} (X), H^{n-k-1, k+1}(X))
                            | satisfying
                            me \delta_{k+1} (V) \circ \delta_k(W) =  \delta_{k+1}(W) \circ \delta_k(W)
                            | for all #[m v,w\in T].
            p
                | Since #[m F^k(X_b)] satisfy
                me Q(F^k, F^{n- k - 1} ) = 0
                | for all #[m b].
                me Q(\delta_v(v)(\alpha), \beta) + Q(\alpha, \delta_{n-k-1}(v)(\beta)) = 0
                | for all #[m \alpha\in H^{n-k, k}(X)], #[m \beta \in H^{k+1, n-k - 1}(X)] for #[m v \in T]

            definition
                statement: p
                    | An #[term infinitesimal variation of Hodge structures] is
                    me (H_\ZZ, Q, H^{p,q}, T, \delta_q\colon T \to \Hom(H^{p,q}, H^{p-1, q+1}))

            p
                | Two observations:

            remark
                p
                    | Variations of hodge structures are often computable, e.g. for hypersurfaces in #[m \PP^N].

            p
                me X\subseteq \PP^{n+1}
                | let #[m X = \{ f = 0 \}] of #[m \deg d].
            p
                | Lefschetz implies the only interesting cohomology is in the middle dimension.
                me H^n(X)
                me H^{n,0}(X)
                | Poincaré residues of #[m n+1] forms of #[m \PP^{n+1}] with poles along #[m X]
                me \frac{  \Res_\omega g(z_0, \ldots, z_{n+1}) \Omega} f = \frac{g \widetilde \Omega}{\sum \partder[f]{z_i}}
                | .
            p
                me \CC[z_0, \ldots, z_{n+1}]/\text{Jacobian ideal}
                | graded parts #[m H^{p,q}(X)]

            problem
                p
                    | Identify #[m H_\ZZ] inside of #[m H^n]

            p
                |Solution: VHS
                | #[m \delta_k] maps turn out to be polynomial multiplication #[m d\ge n+1].

            theorem
                title Noether-Lefschetz
                statement: p
                    | A surface #[m S \subseteq \PP^4] of degree #[m d \ge 4] having general moduli contains no curves other than complete intersections #[m S \cap T] with other surfaces #[m T].



section#sec-buntes-ricky2
    title Moduli of linearized #[m \CC]-structures (RICKY)

    subsection
        title Motivation: Period morphisms

        p
            | Recall for  #[m A] a  polarized AV we get a lattice #[m H_1(A,\ZZ)] with some structure.
            | To keep track of the #[m \CC]-structure  we record the Hodge structure induced on #[m H_1(A,\RR)] via the Hodge decomposition theorem.
            | If we want to say construct a moduli space of Elliptic Curves we might try to create a moduli space of #[m \CC]-structures on a fixed torus #[m T].

        p
            | The linearized version of this is to fix #[m H^1(T, \RR)] and consider possible Hodge structures on it.

        example
            statement: p
                me E_\lambda \colon y^2 = x(x-1) (x-\lambda)
                me \mathcal E \xrightarrow f S = \PP^1 \smallsetminus \{0,1,\infty\}
                | then we can identify
                me V_\lambda = H^1_\sing(E_\lambda, \RR)
                | for nearby #[m \lambda \in S].
                | Then the Hodge structure looks like:
                me F^1 V_{\lambda, \CC} = \langle \frac{\diff x}{y} \rangle \hookrightarrow V_{\lambda, \CC}
                | this induces a period map
                me S\supseteq U \to PP^1
                | sending #[m s \mapsto F^1V_{s, \CC}].

        p
            | Today generalise the role of #[m \PP^1] in this.

    subsection
        title Moduli of Hodge structures

        p
            | Recall: a Hodge structure on a real vector space #[m V] is equivalent to a morphism #[m h \colon \mathbf S \to \GL(V)] where #[m \mathbf S  = \Res_\RR^\CC \mathbf G_m]
            | Given #[m h], let
            me V^{p,q} = \{ v \in V_\CC : h(z) v= z^{-p} \bar z ^{-q} v\}
            | (the characters of #[m \mathbf S] are of the form #[m \chi_{p,q} = z^{-p} \bar z ^{-q}] for #[m (p,q)\in \ZZ^2].
            | So a general Hodge structure on a Lie group
            /// ????
            |   #[m G] is defined to be a map #[m \mathbf S \to G].

        lemma
            statement: p
                | The combinatorial data of two Hodge structures are the same iff they are conjugate (i.e. the maps #[m \mathbf S \to \GL(V)] are conjugate).
            proof
                p
                    | If #[m h] and #[m h'] are conjugate by #[m g] then conjugation by #[m g] takes #[m V^{p,q}] of one into the other (b/c it preserves the character spaces of #[m \mathbf S]).
                    | Conversely if #[m \{V_1^{p,q}, V_2^{p,q}\}] are two HS with the same combinatorial data then we can take #[m g \colon V_{\CC} \to V_{\CC}].
                    | Taking #[m V_1^{p,q} \cong V_2^{p,q}] and satisfying #[m g(\bar v) = \overline{g(v)}] (using Hodge symmetry) since #[m g] commutes with #[m \bar \cdot], it descends to a  map on #[m V].

        p
            | Let  #[m X] be a conjugacy class of morphisms #[m h\colon \mathbf S \to G].
        p
            | Impose the condition that:
            men h(\RR^\times) \text{ lies in the center of }G(\RR) \forall h
            | (If the HS on #[m V] is of weight #[m k] then #[m h(t) = t^k I], the converse is also true.)

        p
            | #[m G] acts transitively on #[m X] (via conjugation).
            | So
            me X=  G/K
            | for #[m K = \Stab(h) ] for some #[m h] in #[m X].
            | This gives #[m X] the structure of a #[m C^\infty]-manifold.
        paragraphs
            title The #[m \CC]-strucutre on #[m X]

            p
                | We give #[m T_hX = \Lie G / \Lie K] a #[m \CC]-v.s. structure let #[m \psi_g (x)  = g x g \inv] gives
                me G\to \Aut(G)
                | and its derivative is the adjoint map #[m \ad].
                | If we compose with #[m h \colon \mathbf S\to G] we get a hodge structure on #[m L=  \Lie G].
            p
                | As #[m h(\RR^\times)] is in the center of #[m G(\RR)], have #[m \ad h(\RR^\times)] is the identity on #[m L].
                | Hence the hodge structure on #[m L] is of weight 0.
                | By above remark.
            p
                | Let #[m L^{0,0} = L_\CC^{0,0} \cap L] be the real #[m (0,0)] part of the HS on #[m L].

            lemma
                statement: p
                    me L^{0,0} = \Lie K
                proof: p
                    | By the definition of #[m K], #[m \psi_h(k) = k] for all #[m k \in K].
                    | Differentiating gives
                    me (\ad h) (v) = v
                    | for all #[m v \in \Lie K]
                    | So #[m \Lie K  \subseteq L^{0,0}].

                    | Conversely if #[m v \in L^{0,0}] then #[m (\ad h) (v)=v] implies
                    me (\ad h)(\exp v) = \exp v
                    | so #[m \exp v \in K] i.e. #[m v \in \Lie K].

            lemma
                statement: p
                    | The inclusion #[m L \hookrightarrow L_\CC] induces an isomorphism of #[m \RR]-v.s.
                    me L/L^{0,0} \xrightarrow\sim L_\CC / F^0 L_\CC
                    | .
                proof
                    p
                        | see notes.

            p
                | These lemmas combined give #[m T_h X] a  #[m \CC]-structure.

            p
                | To get a #[m \CC]-manifold structure on #[m X] we embed #[m X] into a #[m \CC] manifold in a way that respects the #[m \CC]-structures on the tangent spaces.

            p
                | Pick a faithful representation #[m G \hookrightarrow \GL(V)].
                | Then #[m h \in X] we get a Hodge structure on #[m V] via
                me \mathbf S \xrightarrow h G \xrightarrow \rho \GL(V)
                | all other #[m h' \in X] have the same combinatorial data.
            p
                | Let #[m \mathbf F] be the flag variety parameterises filtrations of the type associated to #[m h \in X].
            p
                | To be safe assume #[m V] of weight #[m k].

            p
                | We have an injective map
                me X \hookrightarrow \phi \mathcal F
                | this induces a complex structure on #[m X], see notes for deets.
    subsection
        title Geometric conditions and chill (on VHS)

        p
            | Recall that a VHS parameterised by a space #[m S] must satisfy #[q Griffiths transversality], this translates to the condition

        theorem
            statement: p
                | A VHS on #[m V] satisfies Griffiths transversality iff
                men \text{the HS  on } L = \Lie(G) \text{ of type }\{(-1,1),(0,0),(1,-1)\}
                | .
                // TODO xiao says this means parallel transport preserves filtration

        paragraphs
            title Background on Cartan involutions

            definition
                statement: p
                    | Let #[m G] be a real algebraic group with involution #[m \sigma].
                    | The #[term real form] associated to #[m \sigma] is
                    me G^\sigma (A) = \{ g \in G(A \otimes \CC) : \sigma(g) = \bar g\}
                    | for all #[m \RR]-algebras #[m A].

            example
                statement: p
                    | #[m G = \GL_n], #[m \sigma(g) = (g^\perp)\inv] then
                    me G^\sigma = U(n)
                    | observe that this is compact!

            definition
                statement: p
                    | #[m \sigma] is called a #[term Cartan involution] if #[m G^\sigma] is compact, i.e. #[m G^\sigma(\RR)] is compact and meets every connected component of #[m G^\sigma(\CC)].

            theorem
                statement: p
                    | Let #[m G] be connected, then #[m G] is reductive iff #[m G] admits a Cartan involution.

            lemma
                title for next time
                statement
                    p
                        | If #[m K] is a compact lie group then any #[m \CC]-representation #[m V] of it admits a #[m K]-invariant pos. def. Hermitian form
                    p
                        | Conversely if #[m K] has a faithful representation admitting a #[m K]-inv pos. def. Herm. form. then #[m K] is compact.
                proof
                    p
                        | #[m K] compact, take any #[m H_0(u,v)] a pos. def. herm. form on #[m V].
                        | Then
                        me H(u,v) = \int_K H_0(Ku, Kv) \diff K
                        |  is #[m K]-invariant with some properties.

                        | For the converse statement the conditions imply #[m K \hookrightarrow U(K)] hence #[m K] is compact.

            remark
                statement: p
                    | One source of involutions on #[m G] come from #[m C\in G\smallsetminus Z] s.t. #[m C^2 \in Z] then
                    me g   \mapsto C g C\inv
                    | is such an involution.
                    | e.g. #[m  J]!!
