title Shimura varieties

introduction#sec-shimura-intro
    p
        | These are notes for BUNTES Fall 2018 part III, the topic is
        | Shimura varieties

    p
        | #[url(href="http://math.bu.edu/people/midff/buntes/fall2018.html")/].

    p
        | Outline:
        ol
            li
                | 
    p
        | References: 


section#sec-buntes-modular-curves
    title Modular curves (Aash)

    definition#def-buntes-lattice
        title Lattices
        statement: p
            | A #[term lattice] is a free abelian group of rank 2
            me \Lambda \otimes \RR \to \CC
            | is an isomorphism
            me \Lambda = \ZZ\lb \alpha \rb  \oplus \ZZ\lb \beta \rb
            | if
            me \Lambda = \gamma \Lambda ',\,\gamma \in \CC
            | then we say the two lattices are #[term homothetic].

    p
        | Any lattice is homothetic to one of the form
        me \Lambda = \langle 1 , \tau \rangle
        | as we can take a positively oriented basis we have that all such are equivalent to
        me \tau \in \HH = \{ z\in \CC: \Im(z) \gt 0 \}
        | . So there is a bijection between #[m \HH] and ordered bases of lattices.
    p
        | #[m \SL_2(\ZZ)] acts on #[m \HH] and the action corresponds to changing bases.

    p
        | The action of #[m \PSL_2(\ZZ)] is faithful.
        | #[m i,\rho = e^{\pi i /3}] have non-trivial stabilisers
        me \Stab_i =  \langle S\rangle = \begin{pmatrix} 0\amp1 \\ -1 \amp 0 \end{pmatrix}
        me \Stab_\rho =  \langle TS\rangle,\,T = \begin{pmatrix} 1\amp1 \\ 0 \amp 1 \end{pmatrix}
    p
        | We can determine the order of elements by looking at the characteristic polynomials.

    p
        | We then have
        me Y(1) =\SL_2(\ZZ) \backslash \HH
        | a complex manifold
        | and
        me j\colon Y(1) \to \CC
        | is an isomorphism.

    p
        | We have a fundamental domain for this action
        me D = \{ z\in \CC : |z|  \ge 1,\, |\Re(z)| \le \frac 12 \}
        | #[m Y(1)] is Hausdorff because the action is properly discontinuous.
    p
        | Care must be taken around the elliptic points (those with larger stabiliser), to define the complex structure.
    p
        | The extended upper half plane
        me \HH^* = \HH \cup \PP^1 (\QQ)
        | also has an #[m \SL_2(\ZZ)] action via fractional linear transformations, which is proper.

    p
        | We can define a basis of neighbourhoods around the cusps by transforming them to the cusp #[m \infty] where we can use the basis of neighbourhoods given by
        me \HH_N = \{ z\in \HH : | \Im(z)| \gt N\}
        | .

    p
        | The parameter #[m q] around #[m \infty] is defined as #[m e^{2\pi i z/N}] for some #[m N\in \ZZ], #[m q] is fixed by #[m T].
    p
        | We can quotient by the action of #[m \SL_2(\ZZ) ] on #[m \HH^*] to get
        me X(1) = \SL_2(\ZZ) \backslash \HH^*
        | which is now compact, genus 0, which matches up with #[m Y(1)] having #[m \CC] points #[m \CC] earlier.

    p
        |If #[m X] is a projective curve then #[m X(\CC)] has the structure of a compact Riemann surface.
        | If #[m S] is such a surface then there exists a unique up to isomorphism #[m X] with #[m X(\CC) = S].

    p
        | The meromorphic functions on #[m S] are the function field of #[m X] and there is a correspondence

        me \text{Compact Riemann surfaces} \leftrightarrow \text{Smooth proj. curves}

    p
        | Given a finite index subgroup of #[m \SL_2(\ZZ)] we can do something similar to obtain
        me \Gamma\backslash \HH
        | .
        | One of the most prominent examples of such a subgroup is
        me \Gamma(N) = \left\{ \gamma \in \SL_2(\ZZ) : \gamma \equiv \begin{pmatrix} 1\amp0 \\ 0 \amp 1 \end{pmatrix} \pmod N \right\}
        | along with
        me \Gamma_1(N) = \left\{ \gamma \in \SL_2(\ZZ) : \gamma \equiv \begin{pmatrix} 1\amp\ast \\ 0 \amp 1 \end{pmatrix} \pmod N \right\}
        me \Gamma_0(N) = \left\{ \gamma \in \SL_2(\ZZ) : \gamma \equiv \begin{pmatrix} \ast\amp\ast \\ 0 \amp \ast \end{pmatrix} \pmod N \right\}
        | .
    p
        | #[m \Gamma(N)] is normal inside #[m \SL_2(\ZZ)] and #[m \Gamma_1(N)] is normal inside #[m \Gamma_0(N)].

    p
        | The aforementioned equivalence of categories gives us a smooth projective curve for each of these examples.

    p
        | In fact one can find a smooth projective curve with #[m \QQ]-coefficients realising each of these Riemann surfaces.

    p
        | For
        me \Gamma_0(N) \backslash \HH^*
        | we have the function #[m j(z)] from before, but also #[m j(Nz)] which is still a function on the quotient now as
        me j(N \gamma z) = j\left( N\frac{az + b}{cz+d} \right)
        me               = j\left( N\frac{az + b}{c'Nz+d} \right)
        me               = j\left( \frac{aNz + bN}{c'Nz+d} \right)
        me               = j\left( \gamma ' Nz\right)
        me               = j\left( Nz\right)

    p
        | We can therefore let
        me g = \prod_{\gamma} (Y - j(\gamma Nz))
        | the product over the cosets of #[m \Gamma_0(N) \subseteq \SL_2(\ZZ)].
    p
        | The coefficients of #[m g] are meromorphic functions on #[m X(1) = \CC\lb j \rb].
        | So we have
        me g(Y) = F(j(z), Y)
        |and
        me g (j(Nz)) = F(j(z), j(Nz)) = 0
        | then #[m F(X,Y)] is irreducible and  has integer coefficients.
    p
        | Then the curve #[m X_0(N)] whose function field is
        me \QQ \lb X,Y\rb/ F(X,Y)
        | so #[m U \subseteq X_0(N)] is isomorphic to an affine variety defined by
        me F(X,Y) = 0 \smallsetminus \text{singular pts}
    p
        me \Gamma_0(N) \backslash \HH \to U(\CC)
        me z \mapsto (j(z), j(Nz))
        | #[m j(\gamma z) = z\,\forall z] iff #[m \gamma \in \SL_2(\ZZ)].
    p
        | If for #[m z= z_1,z_2] have #[m (j(z),j(Nz))] equal then #[m z_1,z_2] are in the same #[m \Gamma_0(N)] orbit.

    p
        | We can do similar for #[m \Gamma_1] but only over #[m \QQ(\zeta_N)].

    paragraphs
        title Elliptic curves

        p
            | Several definitions:
            ol
                li
                    | Smooth proj. curve genus 1 with a rational point.
                li
                    | smooth curve given by Weierstrass eqn.
                    me y^2 + a_1xy + a_3 y =  x^3 + a_2x^2 + a_4 x + a_6
                    |.
                li
                    | Complex torus of  dimension 1.

        p
            | Over #[m \CC] at least all are equivalent.
        p
            | To get the weierstrass equation from the curve we use Riemann-Roch to see that
            me H(1[0]) = 1,\, H(2[0]) = 2,\,H(3[0]) =3
            |So we call a generator of #[m H(2\lb 0 \rb) \smallsetminus H(\lb 0 \rb)] the function #[m x] same for #[m y] and #[m H(3\lb 0 \rb)], now in #[m H(6 \lb 0 \rb)] we have
            me 1,x,y,x^2 ,xy,y^2,x^3

            | so there is a linear relation among these, giving the Weierstrass equation.
        p
            | To get the equation for a torus we use the Weierstrass #[m \wp] function.

        // TODO j and lambda?

section#sec-buntes-modular-forms
    title Modular forms (Asra)

    p
        | Last time we saw the #[m j]-function, which was #[m \SL_2(\ZZ)]-invariant, this is quite a strong condition, and in fact #[m j] is pretty much all we get under this condition.
        | So instead we weaken this somewhat to some other variance property.

    p
        | If #[m w = f(z) \diff z] on #[m \HH] and #[m f(z)] is meromorphic.
        | #[m \gamma \in \Gamma] then
        me  f(\gamma z) d(\gamma z) = f(\gamma z) d\left( \frac{az+b}{cz+d} \right)
        me                          = f(\gamma z) \left( \frac{\cdots \diff }{(cz+d)^2} \right)
        | so we get a condition
        me f(\gamma z) = (cz+d)^2 f(z)
        | this is how we come to:

    definition#def-buntes-weak-modular
        statement: p
            | A holomorphic function #[m f\colon \HH \to \CC] is a #[term weakly modular] function for #[m \Gamma] of weight #[m k] if
            me f(\gamma z) = (cz+d)^k f(z) \forall \gamma  = \begin{pmatrix} a\amp b \\ c \amp d    \end{pmatrix} \in \Gamma
            |.

    remark
        p
            | If #[m -I \in \Gamma] and #[m k] odd
            me f(-z)  = - f(-z)
            | so in this setting we only have interesting behaviour for even #[m k].
        p
            |If #[m \Gamma] is a congruence subgroup of level #[m N] we have
            me \begin{pmatrix} 1\amp N \\ 0 \amp 1 \end{pmatrix} \in \Gamma
            | gives you a #[m q]-expansion
            me q=  e^{2\pi i z}
            me f(z) = \sum_{m\in \ZZ} a_m  q^{m/N}
            | .
        p
            | #[m f] is holomorphic at #[m \infty] if #[m a_m  = 0] for #[m m \lt 0].
        p
            | #[m f] is holomorphic at all cusps if #[m f(\gamma z)(cz+d)^k] is holomorphic at #[m \infty] for all #[m \gamma \in \SL_2(\ZZ)].

    example
        statement: p
            | Cusps for #[m \Gamma_0(p)], we know we have #[m \infty], what is the orbit of this?
            me \gamma\in \Gamma_0(p),\, \gamma  =  \begin{pmatrix} a\amp b \\ cp \amp d    \end{pmatrix}
            me \gamma \infty  = \frac{a}{cp}
            | so anything with  a #[m p] in the denominator is equivalent to #[m \infty], what about the rest?
            me \gamma 0  = \frac{b}{d}, \, \gcd(b,d)  =1
            | , so we have two cusps.

    definition#def-buntes-mfs
        title Modular forms
        statement: p
            | A #[term modular form] is  a weakly modular function that is holomorphic at all the cusps.

    example
        statement
            p
                | Eisenstein series
                me G_k(z) = \sum'_{m,n\in \ZZ} \frac{1}{(mz+n)^k}
                | is a modular form of weight #[m k \gt 2] for #[m \SL_2(\ZZ)].
                me \lim_{\im z\to \infty} G_k(z) = \lim_{\im z\to \infty} \sum'_{m,n\in \ZZ} \frac{1}{(mz+n)^k} = \sum'_{n\in \ZZ} \frac{1}{n^k} = 2\zeta(k)
                | .

            p
                | So here the function does not vanish at 0.

    definition#def-buntes-cusp-forms
        title Cusp forms
        statement: p
            | A #[term cusp form] is a modular form that vanishes at all cusps.

    p
        | Given a cusp it will be stabilised by some
        me \begin{pmatrix} 1\amp h \\ 0 \amp 1 \end{pmatrix}
        | call the smallest such #[m h] for a given cusp the #[term width] of the cusp.

    example
        statement
            p
                | Let's find the width of a cusp in #[m \Gamma_0(qp)] we have
                me \begin{pmatrix} 1\amp 1 \\ 0 \amp 1 \end{pmatrix}
                | so the width of #[m \infty] is 1.
            p
                | What about #[m \alpha = 1/p]?
                ol
                    li
                        | Find an element #[m \gamma \in \SL_2(\ZZ)] s.t. #[m \gamma(\infty) = \alpha].
                    li
                        | Compute
                        me  \delta(x) = \gamma \begin{pmatrix} 1\amp x \\ 0 \amp 1 \end{pmatrix} \gamma\inv
                    li
                        | Find the smallest #[m x] such that #[m \delta(x) = \Gamma_0(pq)]
                me  \gamma = \begin{pmatrix} 1\amp 0 \\ p \amp 1 \end{pmatrix},\, \gamma(\infty) = \frac 1p
                me  \begin{pmatrix} 1\amp 0 \\ p \amp 1 \end{pmatrix} \begin{pmatrix} 1\amp x \\ 0 \amp 1 \end{pmatrix} \begin{pmatrix} 1\amp 0 \\ -p \amp 1 \end{pmatrix}  = \begin{pmatrix} 1 - px \amp x  \\ -p^2 \amp px+ 1 \end{pmatrix}

    example
        title A cusp form
        statement: p
            | Let #[m \Delta(\tau) = g_2(\tau)^3 - 27g_3(\tau)^2,\,g_2(\tau) = 60G_4(\tau),\,g_3(\tau) =140G_6(\tau)]
            | #[m \Delta(\tau)] has weight 12 for #[m \SL_2(\ZZ)].
            | This vanishes at #[m \infty] because
            me \zeta(4) = \frac{\pi^4}{90}
            me \zeta(6) = \frac{\pi^6}{945}
            | also
            me j(z) = \frac{g_2(\tau)^3}{\Delta(\tau)}
            | so #[m \Delta(\tau)] vanishes at #[m \infty] because #[m g_2(\tau)] doesn't  and #[m j(z)] has a  simple pole at #[m \infty].


    p
        | #[m M_k(\Gamma)] as the space of modular forms of weight #[m k] for #[m \Gamma] is a #[m \CC] -v.s.
        | #[m S_k(\Gamma)] as the space of cusp forms of weight #[m k] for #[m \Gamma] is a #[m \CC] -v.s.

    theorem
        statement: p
            | #[m M_k(\Gamma)] and #[m S_k(\Gamma)] are finite dimensional
            me.
                \dim(M_k(\Gamma)) =
                \begin{cases}
                0 \amp \text{ if } k \le -1\\
                1 \amp \text{ if } k = 0\\
                (k-1)(g-1) + v_\infty \frac k2 + \sum_p [\frac k2 (1- \frac{1}{e_p})] \amp \text{ if } k \ge 2
                \end{cases}
            | where #[m g] is the genus of #[m X(\Gamma)]
            | #[m v_\infty] is the number of inequivalent cusps
            | #[m P] are the elliptic points
            | #[m \lb \cdot \rb] is the integer part
            me.
                \dim(S_k(\Gamma)) =
                \begin{cases}
                0 \amp \text{ if } k \le 0 \\
                (k-1)(g-1) + v_\infty (\frac k2 - 1) + \sum_p [\frac k2 (1- \frac{1}{e_p})] \amp \text{ if } k \ge 2
                \end{cases}

    p
        me \dim(S_2(\Gamma)) = g(X(\Gamma))

    proposition
        statement: p
            | If #[m f \in S_2(\Gamma)] then #[m f(z) \diff z] is a holomorphic differential.


    p
        | Given an elliptic curve
        me E/  \CC = \CC/\Lambda
        me E \to E'
        me \CC/\Lambda \to \CC/\Lambda'
        |, studying degree #[m n] isogenies, is like studying index  #[m n ] sublattices

    definition
        statement: p
            | #[m n \ge 1] then #[m T(n)] is the  #[m n]th #[term Hecke operator] acting on
            me \divisors (\mathcal L)
            | by
            me T(n) \Lambda = \sum_{\Lambda' \subseteq \Lambda,\,[\Lambda : \Lambda'] = n} (\Lambda')
    definition
        statement: p
            | Let #[m  \lambda \in \CC^\times] the homothety operator #[m R_\lambda] is #[m R_\lambda \Lambda = \lambda\Lambda].

    theorem
        statement: p
            ol
                li
                    me R_\lambda R_\mu = R_{\lambda\mu}
                li
                    me R_\lambda T(n) = T(n) R_{\lambda}
                li
                    me T(nm) = T(n) T(m),\,\gcd(n,m) =1
                li
                    me T(p^e)T(p) = T(p^{e+1 }) + p T(p^{e-1}) R_p
        proof
            p
                | Of 4.
            p
                | #[m \Lambda \in \mathcal L] for #[m \Lambda' \subseteq \Lambda ] index #[m p^{e+1}] have
                me a(\Lambda')  = \# \{ \Gamma : \Lambda'  \subseteq \Lambda \subseteq_p \Lambda \}
                me b(\Lambda')  = 1 \text{ if } \Lambda' \subseteq p\Lambda
                | now
                me T(p^e)T(p) \Lambda = T(p^e) \sum_{\Gamma \subseteq_p \Lambda } (\Gamma) = \sum_{\Gamma \subseteq_p \Lambda } \sum_{\Lambda' \subseteq_{p^e} \Gamma} (\Lambda') =\sum_{\Lambda' \subseteq_{p^e} \Gamma}  a(\Lambda') (\Lambda')
                me T(p^{e+1} ) \Lambda  =  \sum_{\Lambda'\subseteq_{p^{e+1}} \Lambda} (\Lambda')
                me T(p^{e-1} )R_p \Lambda  =  T(p^{e-1}) (p \Lambda) = \sum_{\Lambda'' \subseteq_{p^{e-1}} p\Lambda } (\Lambda'') = \sum_{\Lambda' \subseteq_{p^{e+1}} \Lambda} b(\Lambda') (\Lambda')
                | Split into cases, do some maths..

    p
        | Hecke operators on lattices
        | Given #[m \Lambda' \subseteq_n \Lambda] there is an integer matrix of determinant  #[m n] taking one basis to the other.
        | Have a correspondence
        me \{ \alpha \in M_2(\ZZ) : \det(\alpha) = n \}  \leftrightarrow \{ \Lambda ' : \Lambda ' \subseteq_n \Lambda\}
        | representatives in Hermite normal form

        me S_n = \{\begin{pmatrix} a\amp b \\ 0 \amp d\end{pmatrix} : ad= n,\, a,d\gt 0\, 0\le b \lt d\}

    corollary
        statement: p
            | Let #[m \Lambda \in \mathcal L], #[m \Lambda = \ZZ w_1 + \ZZ w_2] then  #[m T(n)] acts as follows
            me T(n) \Lambda =  \sum_{ ad= n,\, a,d\gt 0\, 0\le b \lt d} \ZZ(aw_1 + bw_2) + \ZZ dw_2 = \sum_{\alpha \in S_n} \alpha \Lambda


    corollary
        statement: p
            | For #[m p ] prime #[m T(p)]:
            me T(p) \Lambda = \ZZ pw_1 + \ZZ w_2 +\sum_{0 \le b \lt p} \ZZ(w_1 + bw_2) + \ZZ pw_2
            | .

    p
        | The Hecke operators act on modular forms #[m f(\tau)] by reinterpreting weakly modular functions of weight #[m k] as functions on lattices that have  a weight #[m k] action under homothety.

    p
        | This boils down to
        me (T_k(n) f)(\tau) = n^{k-1}  \sum_{ ad= n,\, a,d\gt 0\, 0\le b \lt d} d^{-k} f\left( \frac{ a\tau +b}{d}\right)

    corollary
        statement: p
            | For #[m p ] prime
            me (T_k(p) f)(\tau) = p^{k-1}f(pz) +\frac 1p \sum_{0 \le b  \lt p} f\left( \frac {z + b}{p} \right)
            |.

    p
        | We have an action on fourier expansions
        me f(\psi) = \sum_{m\in \ZZ} a_m q^m
        me T_k(p)f(\tau) = p^{k-1} \sum_{m\in \ZZ} a_m q^{pm} + \frac{1}{p} \sum_{b=0}^{p-1}  \left( \sum_{m\in \ZZ} a_m e^{2\pi i m (z+b)/p}\right)
        me               = p^{k-1} \sum_{m\in \ZZ} a_m q^{pm} + \frac{1}{p}  \sum_{m\in \ZZ} a_me^{2\pi i m z/p} \sum_{b=0}^{p-1} \underbrace{e^{2\pi i m b/p}}_{p\text{ if }p|m,0\text{otw}}
        me               = p^{k-1} \sum_{m\in \ZZ} a_m q^{pm} +\sum_{m\in \ZZ} a_{pm}q^m

    corollary: statement: p: me a_1(T_p(f)) = a_p(f)

    p
        | If #[m f\in S_k(\Gamma_0(1))] is an eigenfunction for these operators we can normalise so that #[m a_1(f) = 1].

    p
        me T(m)T(n) = T(mn)
        me a_ma_n = a_{mn}
        me a_{p^r} = a_p a_{p^{r-1}} + p^{k-1} a_{p^{r+1}}

    definition#def-pet
        title Petersson inner product
        statement: p
            | The #[term Petersson inner product] of two cusp forms #[m f,g\in S_k(\SL_2(\ZZ))] is defined to be
            me \pair{f}{g} = \int_{\mathcal D} f \bar g y^{k-2} \diff x \diff y
            | where #[m \mathcal D] is a fundamental domain for #[m \SL_2(\ZZ)].

    proposition
        statement: p
            |Let #[m f,g\in S_k(\SL_2(\ZZ))], #[m n\in \NN] then
            me \pair{T(n) f}{g} = \pair{f}{T(n)g}
            | .
